swagger: '2.0'
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 apps user API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
host: api.replicated.com
basePath: /vendor/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: user
paths:
  /user/token:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: user/token/create'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - user
      summary: Create an API token for the current user.
      operationId: createUserApiToken
      parameters:
      - description: The API token creation request body
        name: Body
        in: body
        required: true
        schema:
          $ref: '#/definitions/CreateUserApiTokenRequest'
      responses:
        '201':
          $ref: '#/responses/createUserApiTokenResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: user/token/delete'
      consumes:
      - application/json
      schemes:
      - https
      tags:
      - user
      summary: Remove a user API token by name (body param).
      operationId: removeUserApiToken
      parameters:
      - description: The API token removal request body
        name: Body
        in: body
        required: true
        schema:
          $ref: '#/definitions/RemoveApiTokenRequest'
      responses:
        '204':
          $ref: '#/responses/responseNoContent'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
  /user/tokens:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: user/token/list'
      produces:
      - application/json
      schemes:
      - https
      tags:
      - user
      summary: List API tokens for the current user.
      operationId: listUserApiTokens
      responses:
        '200':
          $ref: '#/responses/listUserApiTokensResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
definitions:
  RemoveApiTokenRequest:
    type: object
    properties:
      name:
        type: string
        x-go-name: Name
    x-go-package: github.com/replicatedhq/vandoor/pkg/schema
  ApiToken:
    type: object
    properties:
      access_token:
        type: string
        x-go-name: Token
      last_active:
        type: string
        format: date-time
        x-go-name: LastActive
      name:
        type: string
        x-go-name: Name
      read_only:
        type: boolean
        x-go-name: ReadOnly
    x-go-package: github.com/replicatedhq/vandoor/pkg/models
  CreateUserApiTokenRequest:
    type: object
    properties:
      name:
        type: string
        x-go-name: Name
      read_only:
        type: boolean
        x-go-name: ReadOnly
    x-go-package: github.com/replicatedhq/vandoor/pkg/schema
responses:
  responseNoContent:
    description: On success, no payload returned
  responseErrUnauthorized:
    description: Return if the caller is not authorized
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
  listUserApiTokensResponse:
    description: ''
    schema:
      type: array
      items:
        $ref: '#/definitions/ApiToken'
  responseErrBadRequest:
    description: Returned on bad input
    schema:
      type: object
      properties:
        error_code:
          description: Error code if available
          type: string
          x-go-name: ErrorCode
        message:
          description: Error message text if available
          type: string
          x-go-name: Message
  responseErrForbidden:
    description: Returned if the caller does not have the needed permission
    schema:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              x-go-name: Message
            messageCode:
              type: string
              x-go-name: MessageCode
          x-go-name: Error
  createUserApiTokenResponse:
    description: ''
    schema:
      $ref: '#/definitions/ApiToken'
securityDefinitions:
  api_key:
    type: apiKey
    name: Authorization
    in: header
