swagger: '2.0'
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 apps supportBundle API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
host: api.replicated.com
basePath: /vendor/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: supportBundle
paths:
  /app/{app_id}/supportbundle-command:
    post:
      security:
      - api_key: []
      description: 'Return a command that can be run to collect a support bundle for the specified app.

        The command may vary depending on the app''s configuration and entitlements.


        Required RBAC Policy: kots/app/[:appid]/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get a support bundle command for an app
      operationId: getSupportBundleCommand
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getSupportBundleCommandResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/upload-url:
    get:
      security:
      - api_key: []
      description: 'Generate and return a presigned S3 URL for uploading a support bundle, along with a unique bundle ID to reference the upload in subsequent API calls.


        Required RBAC Policy: team/support-issues/write'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get a presigned S3 support bundle upload URL + bundle ID.
      operationId: getSupportBundleUploadURL
      responses:
        '200':
          $ref: '#/responses/getSupportBundleUploadURL'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}:
    get:
      security:
      - api_key: []
      description: 'Retrieve the analysis results and metadata for a specific support bundle, including insights, a file tree, and a signed download URI if available.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get support bundle analysis results.
      operationId: getSupportBundle
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getSupportBundle'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
    delete:
      security:
      - api_key: []
      description: 'Delete a specific support bundle, removing it from the system and revoking access for all teams.


        Required RBAC Policy: team/support-issues/write'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Delete a support bundle.
      operationId: deleteSupportBundle
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/deleteSupportBundle'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/analyze:
    post:
      security:
      - api_key: []
      description: 'Re-trigger the analysis process for a previously uploaded support bundle.

        The analysis will process the bundle and generate insights or results that can be retrieved later.


        Required RBAC Policy: team/support-issues/write'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Trigger analysis of a support bundle.
      operationId: analyzeSupportBundle
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/analyzeSupportBundle'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/download:
    get:
      security:
      - api_key: []
      description: 'Returns a 302 redirect to a presigned S3 download URL for the support bundle.

        Pass ?redirect=false to receive the URL as JSON instead of a redirect.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read'
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Download a support bundle.
      operationId: downloadSupportBundle
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/downloadSupportBundleURL'
        '302':
          description: ' Redirect to presigned S3 URL'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/events:
    get:
      security:
      - api_key: []
      description: 'Retrieve structured Kubernetes events from the cluster-resources data in a support bundle, with optional filtering by namespace and event type.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read — enforced via getBundleWithAuth'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get parsed Kubernetes events from a support bundle.
      operationId: getEvents
      parameters:
      - type: string
        x-go-name: BundleID
        description: The ID or slug of the support bundle.
        name: bundle_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getEvents'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/files:
    post:
      security:
      - api_key: []
      description: 'Retrieve specific files from a support bundle, such as logs or configuration files, for further analysis or troubleshooting.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get files from a support bundle.
      operationId: getFiles
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      - description: Get files contents from support bundle.
        name: Body
        in: body
        required: true
        schema:
          type: object
          required:
          - filenames
          properties:
            filenames:
              type: array
              items:
                type: string
              x-go-name: Filenames
      responses:
        '200':
          $ref: '#/responses/getFiles'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/logs/{namespace}/{pod}:
    get:
      security:
      - api_key: []
      description: 'Retrieve log files for a specific pod from the cluster-resources data in a support bundle.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read — enforced via getBundleWithAuth'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get pod logs from a support bundle.
      operationId: getLogs
      parameters:
      - type: string
        x-go-name: BundleID
        description: The ID or slug of the support bundle.
        name: bundle_id
        in: path
        required: true
      - type: string
        x-go-name: Namespace
        description: The Kubernetes namespace of the pod.
        name: namespace
        in: path
        required: true
      - type: string
        x-go-name: Pod
        description: The name of the pod.
        name: pod
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getLogs'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/name:
    put:
      security:
      - api_key: []
      description: 'Set or clear the display name for a specific support bundle. Pass an empty string to clear the name.


        Required RBAC Policy: team/support-issues/write'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Update a support bundle name.
      operationId: updateSupportBundleName
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      - description: Update support bundle name parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            name:
              description: New name for the support bundle. Pass an empty string to clear the name.
              type: string
              x-go-name: Name
      responses:
        '200':
          $ref: '#/responses/updateSupportBundleName'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/pod:
    get:
      security:
      - api_key: []
      description: 'Return details about a specific pod that was running in the cluster at the time the specified support bundle was collected.

        It includes the pod''s definition, events, and a list of containers with paths to their logs.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get details about a single pod running when a support bundle was collected.
      operationId: getPodDetails
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getPodDetails'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/resources/{resource_type}:
    get:
      security:
      - api_key: []
      description: 'Retrieve structured Kubernetes resources (pods, deployments, services, etc.) from the cluster-resources data in a support bundle.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read — enforced via getBundleWithAuth'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Get parsed Kubernetes resources from a support bundle.
      operationId: getResources
      parameters:
      - type: string
        x-go-name: BundleID
        description: The ID or slug of the support bundle.
        name: bundle_id
        in: path
        required: true
      - type: string
        x-go-name: ResourceType
        description: The type of Kubernetes resource to retrieve.
        name: resource_type
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getResources'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/share:
    put:
      security:
      - api_key: []
      description: 'Allow the owner of a support bundle to share access with other teams by specifying their team IDs. Passing an empty list will remove all existing shares.


        Required RBAC Policy: team/support-issues/write'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Share a support bundle with the requested teams.
      operationId: shareSupportBundle
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      - description: Share support bundle parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            teamIDs:
              description: Team IDs to share support bundle with. Leave empty to delete existing shares.
              type: array
              items:
                type: string
              x-go-name: TeamIDs
      responses:
        '200':
          $ref: '#/responses/shareSupportBundle'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundle/{bundle_id}/uploaded:
    post:
      security:
      - api_key: []
      description: 'Mark a support bundle as uploaded using the bundle ID returned from /supportbundle/upload-url after uploading the support bundle to S3.

        It links the uploaded support bundle to an app and/or a GitHub issue, if provided, and triggers an analysis of the bundle.


        Required RBAC Policy: team/support-issues/write'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: Set that a support bundle has been successfully uploaded.
      operationId: setSupportBundleUploaded
      parameters:
      - type: string
        x-go-name: BundleID
        description: SupportBundle identifier
        name: bundle_id
        in: path
        required: true
      - description: Support bundle uploaded parameters.
        name: Body
        in: body
        required: true
        schema:
          type: object
          required:
          - app_id
          properties:
            app_id:
              description: ID of the app to link this support bundle to.
              type: string
              x-go-name: AppID
            issue_url:
              description: URL of the Github issue to post support bundle analysis to.
              type: string
              x-go-name: IssueUrl
      responses:
        '200':
          $ref: '#/responses/setSupportBundleUploaded'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /supportbundles:
    get:
      security:
      - api_key: []
      description: 'Return a list of support bundles accessible to the requesting team, with optional filtering by app, customer, instance, date range or severity.


        Required RBAC Policy: kots/app/[:appid]/supportbundle/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - supportBundle
      summary: List support bundles.
      operationId: supportbundles
      responses:
        '200':
          $ref: '#/responses/listSupportBundles'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
definitions:
  PersistentVolumeMode:
    description: +enum
    type: string
    title: PersistentVolumeMode describes how a volume is intended to be consumed, either Block or Filesystem.
    x-go-package: k8s.io/api/core/v1
  PersistentVolumeClaimVolumeSource:
    description: 'This volume finds the bound PV and mounts that volume for the pod. A

      PersistentVolumeClaimVolumeSource is, essentially, a wrapper around another

      type of volume that is owned by someone else (the system).'
    type: object
    title: PersistentVolumeClaimVolumeSource references the user's PVC in the same namespace.
    properties:
      claimName:
        description: 'claimName is the name of a PersistentVolumeClaim in the same namespace as the pod using this volume.

          More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#persistentvolumeclaims'
        type: string
        x-go-name: ClaimName
      readOnly:
        description: 'readOnly Will force the ReadOnly setting in VolumeMounts.

          Default false.

          +optional'
        type: boolean
        x-go-name: ReadOnly
    x-go-package: k8s.io/api/core/v1
  VolumeProjection:
    description: Exactly one of these fields must be set.
    type: object
    title: Projection that may be projected along with other supported volume types.
    properties:
      clusterTrustBundle:
        $ref: '#/definitions/ClusterTrustBundleProjection'
      configMap:
        $ref: '#/definitions/ConfigMapProjection'
      downwardAPI:
        $ref: '#/definitions/DownwardAPIProjection'
      podCertificate:
        $ref: '#/definitions/PodCertificateProjection'
      secret:
        $ref: '#/definitions/SecretProjection'
      serviceAccountToken:
        $ref: '#/definitions/ServiceAccountTokenProjection'
    x-go-package: k8s.io/api/core/v1
  CustomerAdoption:
    type: object
    properties:
      channelId:
        type: string
        x-go-name: ChannelID
      count:
        type: integer
        format: int64
        x-go-name: Count
      percent:
        type: number
        format: double
        x-go-name: Percent
      releaseSequence:
        type: integer
        format: int64
        x-go-name: ReleaseSequence
      semver:
        type: string
        x-go-name: Semver
      totalOnChannel:
        type: integer
        format: int64
        x-go-name: TotalOnChannel
      versionsFromLatest:
        type: integer
        format: int64
        x-go-name: VersionsFromLatest
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/sharedtypes
  ContainerExtendedResourceRequest:
    description: extended resource name to the device request name.
    type: object
    title: ContainerExtendedResourceRequest has the mapping of container name,
    properties:
      containerName:
        description: The name of the container requesting resources.
        type: string
        x-go-name: ContainerName
      requestName:
        description: The name of the request in the special ResourceClaim which corresponds to the extended resource.
        type: string
        x-go-name: RequestName
      resourceName:
        description: The name of the extended resource in that container which gets backed by DRA.
        type: string
        x-go-name: ResourceName
    x-go-package: k8s.io/api/core/v1
  Customer:
    type: object
    properties:
      actions:
        $ref: '#/definitions/CustomerActions'
      activeInstances:
        $ref: '#/definitions/InstancePreview'
      airgap:
        type: boolean
        x-go-name: IsAirgapEnabled
      airgapDownloadedAt:
        type: string
        format: date-time
        x-go-name: AirgapDownloadedAt
      airgapDownloadedChannelId:
        type: string
        x-go-name: AirgapDownloadedChannelID
      airgapDownloadedChannelSequence:
        type: integer
        format: int64
        x-go-name: AirgapDownloadedChannelSequence
      airgapDownloadedReleaseLabel:
        type: string
        x-go-name: AirgapDownloadedReleaseLabel
      airgapDownloadedReleaseSequence:
        type: integer
        format: int64
        x-go-name: AirgapDownloadedReleaseSequence
      appType:
        type: string
        x-go-name: AppType
      channels:
        type: array
        items:
          $ref: '#/definitions/CustomerChannelWithDetail'
        x-go-name: Channels
      createdAt:
        type: string
        format: date-time
        x-go-name: CreatedAt
      createdBy:
        $ref: '#/definitions/Actor'
      customId:
        type: string
        x-go-name: CustomID
      downloadPortalUrl:
        type: string
        x-go-name: DownloadPortalURL
      email:
        type: string
        x-go-name: Email
      enterprise_portal:
        $ref: '#/definitions/EnterprisePortalInfo'
      entitlements:
        $ref: '#/definitions/EntitlementValues'
      esInstances:
        type: array
        items:
          $ref: '#/definitions/CustomerESInstance'
        x-go-name: ESInstances
      expiresAt:
        type: string
        format: date-time
        x-go-name: ExpiresAt
      id:
        type: string
        x-go-name: ID
      inactiveInstances:
        $ref: '#/definitions/InstancePreview'
      installationId:
        type: string
        x-go-name: InstallationID
      installationVersion:
        type: string
        x-go-name: InstallationVersion
      installedReleaseLabel:
        type: string
        x-go-name: InstalledReleaseLabel
      installedReleaseSequence:
        type: integer
        format: int64
        x-go-name: InstalledReleaseSequence
      instances:
        type: array
        items:
          $ref: '#/definitions/CustomerInstance'
        x-go-name: Instances
      isArchived:
        type: boolean
        x-go-name: IsArchived
      isDevModeEnabled:
        type: boolean
        x-go-name: IsDevModeEnabled
      isDisasterRecoverySupported:
        type: boolean
        x-go-name: IsDisasterRecoverySupported
      isEmbeddedClusterDownloadEnabled:
        type: boolean
        x-go-name: IsEmbeddedClusterDownloadEnabled
      isEmbeddedClusterMultiNodeEnabled:
        type: boolean
        x-go-name: IsEmbeddedClusterMultiNodeEnabled
      isEnterprisePortalEnabled:
        type: boolean
        x-go-name: IsEnterprisePortalEnabled
      isGeoaxisSupported:
        type: boolean
        x-go-name: IsGeoaxisSupported
      isGitopsSupported:
        type: boolean
        x-go-name: IsGitopsSupported
      isHelmAirgapEnabled:
        type: boolean
        x-go-name: IsHelmAirgapEnabled
      isHelmInstallEnabled:
        type: boolean
        x-go-name: IsHelmInstallEnabled
      isIdentityServiceSupported:
        type: boolean
        x-go-name: IsIdentityServiceSupported
      isInstallerSupportEnabled:
        type: boolean
        x-go-name: IsInstallerSupportEnabled
      isInstancesLimited:
        type: boolean
        x-go-name: IsInstancesLimited
      isKotsInstallEnabled:
        type: boolean
        x-go-name: IsKotsInstallEnabled
      isKurlInstallEnabled:
        type: boolean
        x-go-name: IsKurlInstallEnabled
      isSecurityCenterEnabled:
        type: boolean
        x-go-name: IsSecurityCenterEnabled
      isSnapshotSupported:
        type: boolean
        x-go-name: IsSnapshotSupported
      isSupportBundleUploadEnabled:
        type: boolean
        x-go-name: IsSupportBundleUploadEnabled
      lastActive:
        type: string
        format: date-time
        x-go-name: LastActive
      lowercaseName:
        description: Lowercase fields for ES customer sorting
        type: string
        x-go-name: LowercaseName
      name:
        type: string
        x-go-name: Name
      pinnedChannelSequence:
        type: integer
        format: int64
        x-go-name: PinnedChannelSequence
      samlAllowed:
        description: SAML configuration
        type: boolean
        x-go-name: SamlAllowed
      shipInstallStatus:
        $ref: '#/definitions/ShipInstallStatus'
      teamId:
        type: string
        x-go-name: TeamID
      type:
        $ref: '#/definitions/LicenseType'
      updatedAt:
        type: string
        format: date-time
        x-go-name: UpdatedAt
      updatedBy:
        $ref: '#/definitions/Actor'
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/types
  LifecycleHandler:
    description: 'LifecycleHandler defines a specific action that should be taken in a lifecycle

      hook. One and only one of the fields, except TCPSocket must be specified.'
    type: object
    properties:
      exec:
        $ref: '#/definitions/ExecAction'
      httpGet:
        $ref: '#/definitions/HTTPGetAction'
      sleep:
        $ref: '#/definitions/SleepAction'
      tcpSocket:
        $ref: '#/definitions/TCPSocketAction'
    x-go-package: k8s.io/api/core/v1
  PodResourceClaimStatus:
    description: 'PodResourceClaimStatus is stored in the PodStatus for each PodResourceClaim

      which references a ResourceClaimTemplate. It stores the generated name for

      the corresponding ResourceClaim.'
    type: object
    properties:
      name:
        description: 'Name uniquely identifies this resource claim inside the pod.

          This must match the name of an entry in pod.spec.resourceClaims,

          which implies that the string must be a DNS_LABEL.'
        type: string
        x-go-name: Name
      resourceClaimName:
        description: 'ResourceClaimName is the name of the ResourceClaim that was

          generated for the Pod in the namespace of the Pod. If this is

          unset, then generating a ResourceClaim was not necessary. The

          pod.spec.resourceClaims entry can be ignored in this case.


          +optional'
        type: string
        x-go-name: ResourceClaimName
    x-go-package: k8s.io/api/core/v1
  SecretProjection:
    description: 'The contents of the target Secret''s Data field will be presented in a

      projected volume as files using the keys in the Data field as the file names.

      Note that this is identical to a secret volume source without the default

      mode.'
    type: object
    title: Adapts a secret into a projected volume.
    properties:
      items:
        description: 'items if unspecified, each key-value pair in the Data field of the referenced

          Secret will be projected into the volume as a file whose name is the

          key and content is the value. If specified, the listed keys will be

          projected into the specified paths, and unlisted keys will not be

          present. If a key is specified which is not present in the Secret,

          the volume setup will error unless it is marked optional. Paths must be

          relative and may not contain the ''..'' path or start with ''..''.

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/KeyToPath'
        x-go-name: Items
      name:
        description: 'Name of the referent.

          This field is effectively required, but due to backwards compatibility is

          allowed to be empty. Instances of this type with an empty value here are

          almost certainly wrong.

          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

          +optional

          +default=""

          +kubebuilder:default=""

          TODO: Drop `kubebuilder:default` when controller-gen doesn''t need it https://github.com/kubernetes-sigs/kubebuilder/issues/3896.'
        type: string
        x-go-name: Name
      optional:
        description: 'optional field specify whether the Secret or its key must be defined

          +optional'
        type: boolean
        x-go-name: Optional
    x-go-package: k8s.io/api/core/v1
  OwnerReference:
    description: 'OwnerReference contains enough information to let you identify an owning

      object. An owning object must be in the same namespace as the dependent, or

      be cluster-scoped, so there is no namespace field.

      +structType=atomic'
    type: object
    properties:
      apiVersion:
        description: API version of the referent.
        type: string
        x-go-name: APIVersion
      blockOwnerDeletion:
        description: 'If true, AND if the owner has the "foregroundDeletion" finalizer, then

          the owner cannot be deleted from the key-value store until this

          reference is removed.

          See https://kubernetes.io/docs/concepts/architecture/garbage-collection/#foreground-deletion

          for how the garbage collector interacts with this field and enforces the foreground deletion.

          Defaults to false.

          To set this field, a user needs "delete" permission of the owner,

          otherwise 422 (Unprocessable Entity) will be returned.

          +optional'
        type: boolean
        x-go-name: BlockOwnerDeletion
      controller:
        description: 'If true, this reference points to the managing controller.

          +optional'
        type: boolean
        x-go-name: Controller
      kind:
        description: 'Kind of the referent.

          More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
        type: string
        x-go-name: Kind
      name:
        description: 'Name of the referent.

          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names#names'
        type: string
        x-go-name: Name
      uid:
        $ref: '#/definitions/UID'
    x-go-package: k8s.io/apimachinery/pkg/apis/meta/v1
  SupportBundleStatus:
    type: string
    x-go-package: github.com/replicatedhq/vandoor/pkg/supportbundle
  PodSecurityContext:
    description: 'Some fields are also present in container.securityContext.  Field values of

      container.securityContext take precedence over field values of PodSecurityContext.'
    type: object
    title: PodSecurityContext holds pod-level security attributes and common container settings.
    properties:
      appArmorProfile:
        $ref: '#/definitions/AppArmorProfile'
      fsGroup:
        description: 'A special supplemental group that applies to all containers in a pod.

          Some volume types allow the Kubelet to change the ownership of that volume

          to be owned by the pod:


          1. The owning GID will be the FSGroup

          2. The setgid bit is set (new files created in the volume will be owned by FSGroup)

          3. The permission bits are OR''d with rw-rw----


          If unset, the Kubelet will not modify the ownership and permissions of any volume.

          Note that this field cannot be set when spec.os.name is windows.

          +optional'
        type: integer
        format: int64
        x-go-name: FSGroup
      fsGroupChangePolicy:
        $ref: '#/definitions/PodFSGroupChangePolicy'
      runAsGroup:
        description: 'The GID to run the entrypoint of the container process.

          Uses runtime default if unset.

          May also be set in SecurityContext.  If set in both SecurityContext and

          PodSecurityContext, the value specified in SecurityContext takes precedence

          for that container.

          Note that this field cannot be set when spec.os.name is windows.

          +optional'
        type: integer
        format: int64
        x-go-name: RunAsGroup
      runAsNonRoot:
        description: 'Indicates that the container must run as a non-root user.

          If true, the Kubelet will validate the image at runtime to ensure that it

          does not run as UID 0 (root) and fail to start the container if it does.

          If unset or false, no such validation will be performed.

          May also be set in SecurityContext.  If set in both SecurityContext and

          PodSecurityContext, the value specified in SecurityContext takes precedence.

          +optional'
        type: boolean
        x-go-name: RunAsNonRoot
      runAsUser:
        description: 'The UID to run the entrypoint of the container process.

          Defaults to user specified in image metadata if unspecified.

          May also be set in SecurityContext.  If set in both SecurityContext and

          PodSecurityContext, the value specified in SecurityContext takes precedence

          for that container.

          Note that this field cannot be set when spec.os.name is windows.

          +optional'
        type: integer
        format: int64
        x-go-name: RunAsUser
      seLinuxChangePolicy:
        $ref: '#/definitions/PodSELinuxChangePolicy'
      seLinuxOptions:
        $ref: '#/definitions/SELinuxOptions'
      seccompProfile:
        $ref: '#/definitions/SeccompProfile'
      supplementalGroups:
        description: 'A list of groups applied to the first process run in each container, in

          addition to the container''s primary GID and fsGroup (if specified).  If

          the SupplementalGroupsPolicy feature is enabled, the

          supplementalGroupsPolicy field determines whether these are in addition

          to or instead of any group memberships defined in the container image.

          If unspecified, no additional groups are added, though group memberships

          defined in the container image may still be used, depending on the

          supplementalGroupsPolicy field.

          Note that this field cannot be set when spec.os.name is windows.

          +optional

          +listType=atomic'
        type: array
        items:
          type: integer
          format: int64
        x-go-name: SupplementalGroups
      supplementalGroupsPolicy:
        $ref: '#/definitions/SupplementalGroupsPolicy'
      sysctls:
        description: 'Sysctls hold a list of namespaced sysctls used for the pod. Pods with unsupported

          sysctls (by the container runtime) might fail to launch.

          Note that this field cannot be set when spec.os.name is windows.

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/Sysctl'
        x-go-name: Sysctls
      windowsOptions:
        $ref: '#/definitions/WindowsSecurityContextOptions'
    x-go-package: k8s.io/api/core/v1
  Lifecycle:
    description: 'Lifecycle describes actions that the management system should take in response to container lifecycle

      events. For the PostStart and PreStop lifecycle handlers, management of the container blocks

      until the action is complete, unless the container process fails, in which case the handler is aborted.'
    type: object
    properties:
      postStart:
        $ref: '#/definitions/LifecycleHandler'
      preStop:
        $ref: '#/definitions/LifecycleHandler'
      stopSignal:
        $ref: '#/definitions/Signal'
    x-go-package: k8s.io/api/core/v1
  EntitlementValues:
    type: array
    items:
      $ref: '#/definitions/EntitlementValue'
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/types
  SupportBundleSource:
    type: string
    x-go-package: github.com/replicatedhq/vandoor/pkg/supportbundle
  EphemeralContainer:
    description: 'To add an ephemeral container, use the ephemeralcontainers subresource of an existing

      Pod. Ephemeral containers may not be removed or restarted.'
    type: object
    title: 'An EphemeralContainer is a temporary container that you may add to an existing Pod for

      user-initiated activities such as debugging. Ephemeral containers have no resource or

      scheduling guarantees, and they will not be restarted when they exit or when a Pod is

      removed or restarted. The kubelet may evict a Pod if an ephemeral container causes the

      Pod to exceed its resource allocation.'
    properties:
      args:
        description: 'Arguments to the entrypoint.

          The image''s CMD is used if this is not provided.

          Variable references $(VAR_NAME) are expanded using the container''s environment. If a variable

          cannot be resolved, the reference in the input string will be unchanged. Double $$ are reduced

          to a single $, which allows for escaping the $(VAR_NAME) syntax: i.e. "$$(VAR_NAME)" will

          produce the string literal "$(VAR_NAME)". Escaped references will never be expanded, regardless

          of whether the variable exists or not. Cannot be updated.

          More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell

          +optional

          +listType=atomic'
        type: array
        items:
          type: string
        x-go-name: Args
      command:
        description: 'Entrypoint array. Not executed within a shell.

          The image''s ENTRYPOINT is used if this is not provided.

          Variable references $(VAR_NAME) are expanded using the container''s environment. If a variable

          cannot be resolved, the reference in the input string will be unchanged. Double $$ are reduced

          to a single $, which allows for escaping the $(VAR_NAME) syntax: i.e. "$$(VAR_NAME)" will

          produce the string literal "$(VAR_NAME)". Escaped references will never be expanded, regardless

          of whether the variable exists or not. Cannot be updated.

          More info: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#running-a-command-in-a-shell

          +optional

          +listType=atomic'
        type: array
        items:
          type: string
        x-go-name: Command
      env:
        description: 'List of environment variables to set in the container.

          Cannot be updated.

          +optional

          +patchMergeKey=name

          +patchStrategy=merge

          +listType=map

          +listMapKey=name'
        type: array
        items:
          $ref: '#/definitions/EnvVar'
        x-go-name: Env
      envFrom:
        description: 'List of sources to populate environment variables in the container.

          The keys defined within a source may consist of any printable ASCII characters except ''=''.

          When a key exists in multiple

          sources, the value associated with the last source will take precedence.

          Values defined by an Env with a duplicate key will take precedence.

          Cannot be updated.

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/EnvFromSource'
        x-go-name: EnvFrom
      image:
        description: 'Container image name.

          More info: https://kubernetes.io/docs/concepts/containers/images'
        type: string
        x-go-name: Image
      imagePullPolicy:
        $ref: '#/definitions/PullPolicy'
      lifecycle:
        $ref: '#/definitions/Lifecycle'
      livenessProbe:
        $ref: '#/definitions/Probe'
      name:
        description: 'Name of the ephemeral container specified as a DNS_LABEL.

          This name must be unique among all containers, init containers and ephemeral containers.'
        type: string
        x-go-name: Name
      ports:
        description: 'Ports are not allowed for ephemeral containers.

          +optional

          +patchMergeKey=containerPort

          +patchStrategy=merge

          +listType=map

          +listMapKey=containerPort

          +listMapKey=protocol'
        type: array
        items:
          $ref: '#/definitions/ContainerPort'
        x-go-name: Ports
      readinessProbe:
        $ref: '#/definitions/Probe'
      resizePolicy:
        description: 'Resources resize policy for the container.

          +featureGate=InPlacePodVerticalScaling

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/ContainerResizePolicy'
        x-go-name: ResizePolicy
      resources:
        $ref: '#/definitions/ResourceRequirements'
      restartPolicy:
        $ref: '#/definitions/ContainerRestartPolicy'
      restartPolicyRules:
        description: 'Represents a list of rules to be checked to determine if the

          container should be restarted on exit. You cannot set this field on

          ephemeral containers.

          +featureGate=ContainerRestartRules

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/ContainerRestartRule'
        x-go-name: RestartPolicyRules
      securityContext:
        $ref: '#/definitions/SecurityContext'
      startupProbe:
        $ref: '#/definitions/Probe'
      stdin:
        description: 'Whether this container should allocate a buffer for stdin in the container runtime. If this

          is not set, reads from stdin in the container will always result in EOF.

          Default is false.

          +optional'
        type: boolean
        x-go-name: Stdin
      stdinOnce:
        description: 'Whether the container runtime should close the stdin channel after it has been opened by

          a single attach. When stdin is true the stdin stream will remain open across multiple attach

          sessions. If stdinOnce is set to true, stdin is opened on container start, is empty until the

          first client attaches to stdin, and then remains open and accepts data until the client disconnects,

          at which time stdin is closed and remains closed until the container is restarted. If this

          flag is false, a container processes that reads from stdin will never receive an EOF.

          Default is false

          +optional'
        type: boolean
        x-go-name: StdinOnce
      targetContainerName:
        description: 'If set, the name of the container from PodSpec that this ephemeral container targets.

          The ephemeral container will be run in the namespaces (IPC, PID, etc) of this container.

          If not set then the ephemeral container uses the namespaces configured in the Pod spec.


          The container runtime must implement support for this feature. If the runtime does not

          support namespace targeting then the result of setting this field is undefined.

          +optional'
        type: string
        x-go-name: TargetContainerName
      terminationMessagePath:
        description: 'Optional: Path at which the file to which the container''s termination message

          will be written is mounted into the container''s filesystem.

          Message written is intended to be brief final status, such as an assertion failure message.

          Will be truncated by the node if greater than 4096 bytes. The total message length across

          all containers will be limited to 12kb.

          Defaults to /dev/termination-log.

          Cannot be updated.

          +optional'
        type: string
        x-go-name: TerminationMessagePath
      terminationMessagePolicy:
        $ref: '#/definitions/TerminationMessagePolicy'
      tty:
        description: 'Whether this container should allocate a TTY for itself, also requires ''stdin'' to be true.

          Default is false.

          +optional'
        type: boolean
        x-go-name: TTY
      volumeDevices:
        description: 'volumeDevices is the list of block devices to be used by the container.

          +patchMergeKey=devicePath

          +patchStrategy=merge

          +listType=map

          +listMapKey=devicePath

          +optional'
        type: array
        items:
          $ref: '#/definitions/VolumeDevice'
        x-go-name: VolumeDevices
      volumeMounts:
        description: 'Pod volumes to mount into the container''s filesystem. Subpath mounts are not allowed for ephemeral containers.

          Cannot be updated.

          +optional

          +patchMergeKey=mountPath

          +patchStrategy=merge

          +listType=map

          +listMapKey=mountPath'
        type: array
        items:
          $ref: '#/definitions/VolumeMount'
        x-go-name: VolumeMounts
      workingDir:
        description: 'Container''s working directory.

          If not specified, the container runtime''s default will be used, which

          might be configured in the container image.

          Cannot be updated.

          +optional'
        type: string
        x-go-name: WorkingDir
    x-go-package: k8s.io/api/core/v1
  Toleration:
    description: 'The pod this Toleration is attached to tolerates any taint that matches

      the triple <key,value,effect> using the matching operator <operator>.'
    type: object
    properties:
      effect:
        $ref: '#/definitions/TaintEffect'
      key:
        description: 'Key is the taint key that the toleration applies to. Empty means match all taint keys.

          If the key is empty, operator must be Exists; this combination means to match all values and all keys.

          +optional'
        type: string
        x-go-name: Key
      operator:
        $ref: '#/definitions/TolerationOperator'
      tolerationSeconds:
        description: 'TolerationSeconds represents the period of time the toleration (which must be

          of effect NoExecute, otherwise this field is ignored) tolerates the taint. By default,

          it is not set, which means tolerate the taint forever (do not evict). Zero and

          negative values will be treated as 0 (evict immediately) by the system.

          +optional'
        type: integer
        format: int64
        x-go-name: TolerationSeconds
      value:
        description: 'Value is the taint value the toleration matches to.

          If the operator is Exists, the value should be empty, otherwise just a regular string.

          +optional'
        type: string
        x-go-name: Value
    x-go-package: k8s.io/api/core/v1
  PreemptionPolicy:
    description: +enum
    type: string
    title: PreemptionPolicy describes a policy for if/when to preempt a pod.
    x-go-package: k8s.io/api/core/v1
  PodCertificateProjection:
    description: 'PodCertificateProjection provides a private key and X.509 certificate in the

      pod filesystem.'
    type: object
    properties:
      certificateChainPath:
        description: 'Write the certificate chain at this path in the projected volume.


          Most applications should use credentialBundlePath.  When using keyPath

          and certificateChainPath, your application needs to check that the key

          and leaf certificate are consistent, because it is possible to read the

          files mid-rotation.


          +optional'
        type: string
        x-go-name: CertificateChainPath
      credentialBundlePath:
        description: 'Write the credential bundle at this path in the projected volume.


          The credential bundle is a single file that contains multiple PEM blocks.

          The first PEM block is a PRIVATE KEY block, containing a PKCS#8 private

          key.


          The remaining blocks are CERTIFICATE blocks, containing the issued

          certificate chain from the signer (leaf and any intermediates).


          Using credentialBundlePath lets your Pod''s application code make a single

          atomic read that retrieves a consistent key and certificate chain.  If you

          project them to separate files, your application code will need to

          additionally check that the leaf certificate was issued to the key.


          +optional'
        type: string
        x-go-name: CredentialBundlePath
      keyPath:
        description: 'Write the key at this path in the projected volume.


          Most applications should use credentialBundlePath.  When using keyPath

          and certificateChainPath, your application needs to check that the key

          and leaf certificate are consistent, because it is possible to read the

          files mid-rotation.


          +optional'
        type: string
        x-go-name: KeyPath
      keyType:
        description: 'The type of keypair Kubelet will generate for the pod.


          Valid values are "RSA3072", "RSA4096", "ECDSAP256", "ECDSAP384",

          "ECDSAP521", and "ED25519".


          +required'
        type: string
        x-go-name: KeyType
      maxExpirationSeconds:
        description: 'maxExpirationSeconds is the maximum lifetime permitted for the

          certificate.


          Kubelet copies this value verbatim into the PodCertificateRequests it

          generates for this projection.


          If omitted, kube-apiserver will set it to 86400(24 hours). kube-apiserver

          will reject values shorter than 3600 (1 hour).  The maximum allowable

          value is 7862400 (91 days).


          The signer implementation is then free to issue a certificate with any

          lifetime *shorter* than MaxExpirationSeconds, but no shorter than 3600

          seconds (1 hour).  This constraint is enforced by kube-apiserver.

          `kubernetes.io` signers will never issue certificates with a lifetime

          longer than 24 hours.


          +optional'
        type: integer
        format: int32
        x-go-name: MaxExpirationSeconds
      signerName:
        description: 'Kubelet''s generated CSRs will be addressed to this signer.


          +required'
        type: string
        x-go-name: SignerName
      userAnnotations:
        description: 'userAnnotations allow pod authors to pass additional information to

          the signer implementation.  Kubernetes does not restrict or validate this

          metadata in any way.


          These values are copied verbatim into the `spec.unverifiedUserAnnotations` field of

          the PodCertificateRequest objects that Kubelet creates.


          Entries are subject to the same validation as object metadata annotations,

          with the addition that all keys must be domain-prefixed. No restrictions

          are placed on values, except an overall size limitation on the entire field.


          Signers should document the keys and values they support. Signers should

          deny requests that contain keys they do not recognize.'
        type: object
        additionalProperties:
          type: string
        x-go-name: UserAnnotations
    x-go-package: k8s.io/api/core/v1
  SecretEnvSource:
    description: 'The contents of the target Secret''s Data field will represent the

      key-value pairs as environment variables.'
    type: object
    title: 'SecretEnvSource selects a Secret to populate the environment

      variables with.'
    properties:
      name:
        description: 'Name of the referent.

          This field is effectively required, but due to backwards compatibility is

          allowed to be empty. Instances of this type with an empty value here are

          almost certainly wrong.

          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

          +optional

          +default=""

          +kubebuilder:default=""

          TODO: Drop `kubebuilder:default` when controller-gen doesn''t need it https://github.com/kubernetes-sigs/kubebuilder/issues/3896.'
        type: string
        x-go-name: Name
      optional:
        description: 'Specify whether the Secret must be defined

          +optional'
        type: boolean
        x-go-name: Optional
    x-go-package: k8s.io/api/core/v1
  GCEPersistentDiskVolumeSource:
    description: 'A GCE PD must exist before mounting to a container. The disk must

      also be in the same GCE project and zone as the kubelet. A GCE PD

      can only be mounted as read/write once or read-only many times. GCE

      PDs support ownership management and SELinux relabeling.'
    type: object
    title: Represents a Persistent Disk resource in Google Compute Engine.
    properties:
      fsType:
        description: 'fsType is filesystem type of the volume that you want to mount.

          Tip: Ensure that the filesystem type is supported by the host operating system.

          Examples: "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

          More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk

          TODO: how do we prevent errors in the filesystem from compromising the machine

          +optional'
        type: string
        x-go-name: FSType
      partition:
        description: 'partition is the partition in the volume that you want to mount.

          If omitted, the default is to mount by volume name.

          Examples: For volume /dev/sda1, you specify the partition as "1".

          Similarly, the volume partition for /dev/sda is "0" (or you can leave the property empty).

          More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk

          +optional'
        type: integer
        format: int32
        x-go-name: Partition
      pdName:
        description: 'pdName is unique name of the PD resource in GCE. Used to identify the disk in GCE.

          More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk'
        type: string
        x-go-name: PDName
      readOnly:
        description: 'readOnly here will force the ReadOnly setting in VolumeMounts.

          Defaults to false.

          More info: https://kubernetes.io/docs/concepts/storage/volumes#gcepersistentdisk

          +optional'
        type: boolean
        x-go-name: ReadOnly
    x-go-package: k8s.io/api/core/v1
  ResourceHealth:
    description: This is a part of KEP https://kep.k8s.io/4680.
    type: object
    title: ResourceHealth represents the health of a resource. It has the latest device health information.
    properties:
      health:
        $ref: '#/definitions/ResourceHealthStatus'
      resourceID:
        $ref: '#/definitions/ResourceID'
    x-go-package: k8s.io/api/core/v1
  IntOrString:
    description: '+protobuf=true

      +protobuf.options.(gogoproto.goproto_stringer)=false

      +k8s:openapi-gen=true

      +k8s:openapi-model-package=io.k8s.apimachinery.pkg.util.intstr'
    type: object
    title: 'IntOrString is a type that can hold an int32 or a string.  When used in

      JSON or YAML marshalling and unmarshalling, it produces or consumes the

      inner type.  This allows you to have, for example, a JSON field that can

      accept a name or number.

      TODO: Rename to Int32OrString'
    properties:
      IntVal:
        type: integer
        format: int32
      StrVal:
        type: string
      Type:
        $ref: '#/definitions/Type'
    x-go-package: k8s.io/apimachinery/pkg/util/intstr
  GitHubRef:
    type: object
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  NodeSelectorRequirement:
    description: 'A node selector requirement is a selector that contains values, a key, and an operator

      that relates the key and values.'
    type: object
    properties:
      key:
        description: The label key that the selector applies to.
        type: string
        x-go-name: Key
      operator:
        $ref: '#/definitions/NodeSelectorOperator'
      values:
        description: 'An array of string values. If the operator is In or NotIn,

          the values array must be non-empty. If the operator is Exists or DoesNotExist,

          the values array must be empty. If the operator is Gt or Lt, the values

          array must have a single element, which will be interpreted as an integer.

          This array is replaced during a strategic merge patch.

          +optional

          +listType=atomic'
        type: array
        items:
          type: string
        x-go-name: Values
    x-go-package: k8s.io/api/core/v1
  SleepAction:
    type: object
    title: SleepAction describes a "sleep" action.
    properties:
      seconds:
        description: Seconds is the number of seconds to sleep.
        type: integer
        format: int64
        x-go-name: Seconds
    x-go-package: k8s.io/api/core/v1
  InstallerTypeReplicatedSDK:
    type: object
    properties:
      sdkVersion:
        type: string
        x-go-name: SDKVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  PodAffinityTerm:
    description: 'Defines a set of pods (namely those matching the labelSelector

      relative to the given namespace(s)) that this pod should be

      co-located (affinity) or not co-located (anti-affinity) with,

      where co-located is defined as running on a node whose value of

      the label with key <topologyKey> matches that of any node on which

      a pod of the set of pods is running'
    type: object
    properties:
      labelSelector:
        $ref: '#/definitions/LabelSelector'
      matchLabelKeys:
        description: 'MatchLabelKeys is a set of pod label keys to select which pods will

          be taken into consideration. The keys are used to lookup values from the

          incoming pod labels, those key-value labels are merged with `labelSelector` as `key in (value)`

          to select the group of existing pods which pods will be taken into consideration

          for the incoming pod''s pod (anti) affinity. Keys that don''t exist in the incoming

          pod labels will be ignored. The default value is empty.

          The same key is forbidden to exist in both matchLabelKeys and labelSelector.

          Also, matchLabelKeys cannot be set when labelSelector isn''t set.


          +listType=atomic

          +optional'
        type: array
        items:
          type: string
        x-go-name: MatchLabelKeys
      mismatchLabelKeys:
        description: 'MismatchLabelKeys is a set of pod label keys to select which pods will

          be taken into consideration. The keys are used to lookup values from the

          incoming pod labels, those key-value labels are merged with `labelSelector` as `key notin (value)`

          to select the group of existing pods which pods will be taken into consideration

          for the incoming pod''s pod (anti) affinity. Keys that don''t exist in the incoming

          pod labels will be ignored. The default value is empty.

          The same key is forbidden to exist in both mismatchLabelKeys and labelSelector.

          Also, mismatchLabelKeys cannot be set when labelSelector isn''t set.


          +listType=atomic

          +optional'
        type: array
        items:
          type: string
        x-go-name: MismatchLabelKeys
      namespaceSelector:
        $ref: '#/definitions/LabelSelector'
      namespaces:
        description: 'namespaces specifies a static list of namespace names that the term applies to.

          The term is applied to the union of the namespaces listed in this field

          and the ones selected by namespaceSelector.

          null or empty namespaces list and null namespaceSelector means "this pod''s namespace".

          +optional

          +listType=atomic'
        type: array
        items:
          type: string
        x-go-name: Namespaces
      topologyKey:
        description: 'This pod should be co-located (affinity) or not co-located (anti-affinity) with the pods matching

          the labelSelector in the specified namespaces, where co-located is defined as running on a node

          whose value of the label with key topologyKey matches that of any node on which any of the

          selected pods is running.

          Empty topologyKey is not allowed.'
        type: string
        x-go-name: TopologyKey
    x-go-package: k8s.io/api/core/v1
  ContainerResizePolicy:
    type: object
    title: ContainerResizePolicy represents resource resize policy for the container.
    properties:
      resourceName:
        $ref: '#/definitions/ResourceName'
      restartPolicy:
        $ref: '#/definitions/ResourceResizeRestartPolicy'
    x-go-package: k8s.io/api/core/v1
  TerminationMessagePolicy:
    description: +enum
    type: string
    title: TerminationMessagePolicy describes how termination messages are retrieved from a container.
    x-go-package: k8s.io/api/core/v1
  PersistentVolumeClaimSpec:
    description: 'PersistentVolumeClaimSpec describes the common attributes of storage devices

      and allows a Source for provider-specific attributes'
    type: object
    properties:
      accessModes:
        description: 'accessModes contains the desired access modes the volume should have.

          More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#access-modes-1

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/PersistentVolumeAccessMode'
        x-go-name: AccessModes
      dataSource:
        $ref: '#/definitions/TypedLocalObjectReference'
      dataSourceRef:
        $ref: '#/definitions/TypedObjectReference'
      resources:
        $ref: '#/definitions/VolumeResourceRequirements'
      selector:
        $ref: '#/definitions/LabelSelector'
      storageClassName:
        description: 'storageClassName is the name of the StorageClass required by the claim.

          More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#class-1

          +optional'
        type: string
        x-go-name: StorageClassName
      volumeAttributesClassName:
        description: 'volumeAttributesClassName may be used to set the VolumeAttributesClass used by this claim.

          If specified, the CSI driver will create or update the volume with the attributes defined

          in the corresponding VolumeAttributesClass. This has a different purpose than storageClassName,

          it can be changed after the claim is created. An empty string or nil value indicates that no

          VolumeAttributesClass will be applied to the claim. If the claim enters an Infeasible error state,

          this field can be reset to its previous value (including nil) to cancel the modification.

          If the resource referred to by volumeAttributesClass does not exist, this PersistentVolumeClaim will be

          set to a Pending state, as reflected by the modifyVolumeStatus field, until such as a resource

          exists.

          More info: https://kubernetes.io/docs/concepts/storage/volume-attributes-classes/

          +featureGate=VolumeAttributesClass

          +optional'
        type: string
        x-go-name: VolumeAttributesClassName
      volumeMode:
        $ref: '#/definitions/PersistentVolumeMode'
      volumeName:
        description: 'volumeName is the binding reference to the PersistentVolume backing this claim.

          +optional'
        type: string
        x-go-name: VolumeName
    x-go-package: k8s.io/api/core/v1
  PodConditionType:
    description: PodConditionType is a valid value for PodCondition.Type
    type: string
    x-go-package: k8s.io/api/core/v1
  FlexVolumeSource:
    description: 'FlexVolume represents a generic volume resource that is

      provisioned/attached using an exec based plugin.'
    type: object
    properties:
      driver:
        description: driver is the name of the driver to use for this volume.
        type: string
        x-go-name: Driver
      fsType:
        description: 'fsType is the filesystem type to mount.

          Must be a filesystem type supported by the host operating system.

          Ex. "ext4", "xfs", "ntfs". The default filesystem depends on FlexVolume script.

          +optional'
        type: string
        x-go-name: FSType
      options:
        description: 'options is Optional: this field holds extra command options if any.

          +optional'
        type: object
        additionalProperties:
          type: string
        x-go-name: Options
      readOnly:
        description: 'readOnly is Optional: defaults to false (read/write). ReadOnly here will force

          the ReadOnly setting in VolumeMounts.

          +optional'
        type: boolean
        x-go-name: ReadOnly
      secretRef:
        $ref: '#/definitions/LocalObjectReference'
    x-go-package: k8s.io/api/core/v1
  HostPathType:
    description: +enum
    type: string
    x-go-package: k8s.io/api/core/v1
  SeccompProfile:
    description: 'Only one profile source may be set.

      +union'
    type: object
    title: SeccompProfile defines a pod/container's seccomp profile settings.
    properties:
      localhostProfile:
        description: 'localhostProfile indicates a profile defined in a file on the node should be used.

          The profile must be preconfigured on the node to work.

          Must be a descending path, relative to the kubelet''s configured seccomp profile location.

          Must be set if type is "Localhost". Must NOT be set for any other type.

          +optional'
        type: string
        x-go-name: LocalhostProfile
      type:
        $ref: '#/definitions/SeccompProfileType'
    x-go-package: k8s.io/api/core/v1
  ImageVolumeSource:
    type: object
    title: ImageVolumeSource represents a image volume resource.
    properties:
      pullPolicy:
        $ref: '#/definitions/PullPolicy'
      reference:
        description: 'Required: Image or artifact reference to be used.

          Behaves in the same way as pod.spec.containers[*].image.

          Pull secrets will be assembled in the same way as for the container image by looking up node credentials, SA image pull secrets, and pod spec image pull secrets.

          More info: https://kubernetes.io/docs/concepts/containers/images

          This field is optional to allow higher level config management to default or override

          container images in workload controllers like Deployments and StatefulSets.

          +optional'
        type: string
        x-go-name: Reference
    x-go-package: k8s.io/api/core/v1
  EnvVar:
    type: object
    title: EnvVar represents an environment variable present in a Container.
    properties:
      name:
        description: 'Name of the environment variable.

          May consist of any printable ASCII characters except ''=''.'
        type: string
        x-go-name: Name
      value:
        description: 'Variable references $(VAR_NAME) are expanded

          using the previously defined environment variables in the container and

          any service environment variables. If a variable cannot be resolved,

          the reference in the input string will be unchanged. Double $$ are reduced

          to a single $, which allows for escaping the $(VAR_NAME) syntax: i.e.

          "$$(VAR_NAME)" will produce the string literal "$(VAR_NAME)".

          Escaped references will never be expanded, regardless of whether the variable

          exists or not.

          Defaults to "".

          +optional'
        type: string
        x-go-name: Value
      valueFrom:
        $ref: '#/definitions/EnvVarSource'
    x-go-package: k8s.io/api/core/v1
  EnvFromSource:
    description: EnvFromSource represents the source of a set of ConfigMaps or Secrets
    type: object
    properties:
      configMapRef:
        $ref: '#/definitions/ConfigMapEnvSource'
      prefix:
        description: 'Optional text to prepend to the name of each environment variable.

          May consist of any printable ASCII characters except ''=''.

          +optional'
        type: string
        x-go-name: Prefix
      secretRef:
        $ref: '#/definitions/SecretEnvSource'
    x-go-package: k8s.io/api/core/v1
  PodStatus:
    description: 'PodStatus represents information about the status of a pod. Status may trail the actual

      state of a system, especially if the node that hosts the pod cannot contact the control

      plane.'
    type: object
    properties:
      allocatedResources:
        $ref: '#/definitions/ResourceList'
      conditions:
        description: 'Current service state of pod.

          More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-conditions

          +optional

          +patchMergeKey=type

          +patchStrategy=merge

          +listType=map

          +listMapKey=type'
        type: array
        items:
          $ref: '#/definitions/PodCondition'
        x-go-name: Conditions
      containerStatuses:
        description: 'Statuses of containers in this pod.

          Each container in the pod should have at most one status in this list,

          and all statuses should be for containers in the pod.

          However this is not enforced.

          If a status for a non-existent container is present in the list, or the list has duplicate names,

          the behavior of various Kubernetes components is not defined and those statuses might be

          ignored.

          More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-and-container-status

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/ContainerStatus'
        x-go-name: ContainerStatuses
      ephemeralContainerStatuses:
        description: 'Statuses for any ephemeral containers that have run in this pod.

          Each ephemeral container in the pod should have at most one status in this list,

          and all statuses should be for containers in the pod.

          However this is not enforced.

          If a status for a non-existent container is present in the list, or the list has duplicate names,

          the behavior of various Kubernetes components is not defined and those statuses might be

          ignored.

          More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle#pod-and-container-status

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/ContainerStatus'
        x-go-name: EphemeralContainerStatuses
      extendedResourceClaimStatus:
        $ref: '#/definitions/PodExtendedResourceClaimStatus'
      hostIP:
        description: 'hostIP holds the IP address of the host to which the pod is assigned. Empty if the pod has not started yet.

          A pod can be assigned to a node that has a problem in kubelet which in turns mean that HostIP will

          not be updated even if there is a node is assigned to pod

          +optional'
        type: string
        x-go-name: HostIP
      hostIPs:
        description: 'hostIPs holds the IP addresses allocated to the host. If this field is specified, the first entry must

          match the hostIP field. This list is empty if the pod has not started yet.

          A pod can be assigned to a node that has a problem in kubelet which in turns means that HostIPs will

          not be updated even if there is a node is assigned to this pod.

          +optional

          +patchStrategy=merge

          +patchMergeKey=ip

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/HostIP'
        x-go-name: HostIPs
      initContainerStatuses:
        description: 'Statuses of init containers in this pod. The most recent successful non-restartable

          init container will have ready = true, the most recently started container will have

          startTime set.

          Each init container in the pod should have at most one status in this list,

          and all statuses should be for containers in the pod.

          However this is not enforced.

          If a status for a non-existent container is present in the list, or the list has duplicate names,

          the behavior of various Kubernetes components is not defined and those statuses might be

          ignored.

          More info: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-and-container-status

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/ContainerStatus'
        x-go-name: InitContainerStatuses
      message:
        description: 'A human readable message indicating details about why the pod is in this condition.

          +optional'
        type: string
        x-go-name: Message
      nominatedNodeName:
        description: 'nominatedNodeName is set only when this pod preempts other pods on the node, but it cannot be

          scheduled right away as preemption victims receive their graceful termination periods.

          This field does not guarantee that the pod will be scheduled on this node. Scheduler may decide

          to place the pod elsewhere if other nodes become available sooner. Scheduler may also decide to

          give the resources on this node to a higher priority pod that is created after preemption.

          As a result, this field may be different than PodSpec.nodeName when the pod is

          scheduled.

          +optional'
        type: string
        x-go-name: NominatedNodeName
      observedGeneration:
        description: 'If set, this represents the .metadata.generation that the pod status was set based upon.

          The PodObservedGenerationTracking feature gate must be enabled to use this field.

          +featureGate=PodObservedGenerationTracking

          +optional'
        type: integer
        format: int64
        x-go-name: ObservedGeneration
      phase:
        $ref: '#/definitions/PodPhase'
      podIP:
        description: 'podIP address allocated to the pod. Routable at least within the cluster.

          Empty if not yet allocated.

          +optional'
        type: string
        x-go-name: PodIP
      podIPs:
        description: 'podIPs holds the IP addresses allocated to the pod. If this field is specified, the 0th entry must

          match the podIP field. Pods may be allocated at most 1 value for each of IPv4 and IPv6. This list

          is empty if no IPs have been allocated yet.

          +optional

          +patchStrategy=merge

          +patchMergeKey=ip

          +listType=map

          +listMapKey=ip'
        type: array
        items:
          $ref: '#/definitions/PodIP'
        x-go-name: PodIPs
      qosClass:
        $ref: '#/definitions/PodQOSClass'
      reason:
        description: 'A brief CamelCase message indicating details about why the pod is in this state.

          e.g. ''Evicted''

          +optional'
        type: string
        x-go-name: Reason
      resize:
        $ref: '#/definitions/PodResizeStatus'
      resourceClaimStatuses:
        description: 'Status of resource claims.

          +patchMergeKey=name

          +patchStrategy=merge,retainKeys

          +listType=map

          +listMapKey=name

          +featureGate=DynamicResourceAllocation

          +optional'
        type: array
        items:
          $ref: '#/definitions/PodResourceClaimStatus'
        x-go-name: ResourceClaimStatuses
      resources:
        $ref: '#/definitions/ResourceRequirements'
      startTime:
        description: 'RFC 3339 date and time at which the object was acknowledged by the Kubelet.

          This is before the Kubelet pulled the container image(s) for the pod.

          +optional'
        type: string
        x-go-name: StartTime
        x-go-type: k8s.io/apimachinery/pkg/apis/meta/v1.Time
    x-go-package: k8s.io/api/core/v1
  VulnCounts:
    type: object
    properties:
      critical:
        type: integer
        format: int64
        x-go-name: Critical
      high:
        type: integer
        format: int64
        x-go-name: High
      low:
        type: integer
        format: int64
        x-go-name: Low
      medium:
        type: integer
        format: int64
        x-go-name: Medium
      total:
        type: integer
        format: int64
        x-go-name: Total
    x-go-package: github.com/replicatedhq/vandoor/pkg/securebuild/types
  ConfigMapKeySelector:
    description: +structType=atomic
    type: object
    title: Selects a key from a ConfigMap.
    properties:
      key:
        description: The key to select.
        type: string
        x-go-name: Key
      name:
        description: 'Name of the referent.

          This field is effectively required, but due to backwards compatibility is

          allowed to be empty. Instances of this type with an empty value here are

          almost certainly wrong.

          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

          +optional

          +default=""

          +kubebuilder:default=""

          TODO: Drop `kubebuilder:default` when controller-gen doesn''t need it https://github.com/kubernetes-sigs/kubebuilder/issues/3896.'
        type: string
        x-go-name: Name
      optional:
        description: 'Specify whether the ConfigMap or its key must be defined

          +optional'
        type: boolean
        x-go-name: Optional
    x-go-package: k8s.io/api/core/v1
  CephFSVolumeSource:
    description: 'Represents a Ceph Filesystem mount that lasts the lifetime of a pod

      Cephfs volumes do not support ownership management or SELinux relabeling.'
    type: object
    properties:
      monitors:
        description: 'monitors is Required: Monitors is a collection of Ceph monitors

          More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

          +listType=atomic'
        type: array
        items:
          type: string
        x-go-name: Monitors
      path:
        description: 'path is Optional: Used as the mounted root, rather than the full Ceph tree, default is /

          +optional'
        type: string
        x-go-name: Path
      readOnly:
        description: 'readOnly is Optional: Defaults to false (read/write). ReadOnly here will force

          the ReadOnly setting in VolumeMounts.

          More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

          +optional'
        type: boolean
        x-go-name: ReadOnly
      secretFile:
        description: 'secretFile is Optional: SecretFile is the path to key ring for User, default is /etc/ceph/user.secret

          More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

          +optional'
        type: string
        x-go-name: SecretFile
      secretRef:
        $ref: '#/definitions/LocalObjectReference'
      user:
        description: 'user is optional: User is the rados user name, default is admin

          More info: https://examples.k8s.io/volumes/cephfs/README.md#how-to-use-it

          +optional'
        type: string
        x-go-name: User
    x-go-package: k8s.io/api/core/v1
  VsphereVirtualDiskVolumeSource:
    type: object
    title: Represents a vSphere volume resource.
    properties:
      fsType:
        description: 'fsType is filesystem type to mount.

          Must be a filesystem type supported by the host operating system.

          Ex. "ext4", "xfs", "ntfs". Implicitly inferred to be "ext4" if unspecified.

          +optional'
        type: string
        x-go-name: FSType
      storagePolicyID:
        description: 'storagePolicyID is the storage Policy Based Management (SPBM) profile ID associated with the StoragePolicyName.

          +optional'
        type: string
        x-go-name: StoragePolicyID
      storagePolicyName:
        description: 'storagePolicyName is the storage Policy Based Management (SPBM) profile name.

          +optional'
        type: string
        x-go-name: StoragePolicyName
      volumePath:
        description: volumePath is the path that identifies vSphere volume vmdk
        type: string
        x-go-name: VolumePath
    x-go-package: k8s.io/api/core/v1
  CustomerActions:
    type: object
    properties:
      shipApply:
        type: string
        x-go-name: ShipApply
      shipApplyDocker:
        type: string
        x-go-name: ShipApplyDocker
      shipInitCloud:
        type: string
        x-go-name: ShipInitCloud
      shipInitHomebrew:
        type: string
        x-go-name: ShipInitHomebrew
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/types
  Affinity:
    type: object
    title: Affinity is a group of affinity scheduling rules.
    properties:
      nodeAffinity:
        $ref: '#/definitions/NodeAffinity'
      podAffinity:
        $ref: '#/definitions/PodAffinity'
      podAntiAffinity:
        $ref: '#/definitions/PodAntiAffinity'
    x-go-package: k8s.io/api/core/v1
  DownwardAPIProjection:
    description: 'Note that this is identical to a downwardAPI volume source without the default

      mode.'
    type: object
    title: Represents downward API info for projecting into a projected volume.
    properties:
      items:
        description: 'Items is a list of DownwardAPIVolume file

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/DownwardAPIVolumeFile'
        x-go-name: Items
    x-go-package: k8s.io/api/core/v1
  RecursiveReadOnlyMode:
    type: string
    title: RecursiveReadOnlyMode describes recursive-readonly mode.
    x-go-package: k8s.io/api/core/v1
  ContainerState:
    description: 'Only one of its members may be specified.

      If none of them is specified, the default one is ContainerStateWaiting.'
    type: object
    title: ContainerState holds a possible state of container.
    properties:
      running:
        $ref: '#/definitions/ContainerStateRunning'
      terminated:
        $ref: '#/definitions/ContainerStateTerminated'
      waiting:
        $ref: '#/definitions/ContainerStateWaiting'
    x-go-package: k8s.io/api/core/v1
  EPAccessMilestoneInfo:
    type: object
    title: EPAccessMilestoneInfo is the per-license-type EP access milestone exposed in the API.
    properties:
      access_granted_at:
        type: string
        format: date-time
        x-go-name: AccessGrantedAt
      access_method:
        type: string
        x-go-name: AccessMethod
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/types
  ConfigMapEnvSource:
    description: 'The contents of the target ConfigMap''s Data field will represent the

      key-value pairs as environment variables.'
    type: object
    title: 'ConfigMapEnvSource selects a ConfigMap to populate the environment

      variables with.'
    properties:
      name:
        description: 'Name of the referent.

          This field is effectively required, but due to backwards compatibility is

          allowed to be empty. Instances of this type with an empty value here are

          almost certainly wrong.

          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names

          +optional

          +default=""

          +kubebuilder:default=""

          TODO: Drop `kubebuilder:default` when controller-gen doesn''t need it https://github.com/kubernetes-sigs/kubebuilder/issues/3896.'
        type: string
        x-go-name: Name
      optional:
        description: 'Specify whether the ConfigMap must be defined

          +optional'
        type: boolean
        x-go-name: Optional
    x-go-package: k8s.io/api/core/v1
  Signal:
    description: 'Signal defines the stop signal of containers

      +enum'
    type: string
    x-go-package: k8s.io/api/core/v1
  DownwardAPIVolumeFile:
    description: DownwardAPIVolumeFile represents information to create the file containing the pod field
    type: object
    properties:
      fieldRef:
        $ref: '#/definitions/ObjectFieldSelector'
      mode:
        description: 'Optional: mode bits used to set permissions on this file, must be an octal value

          between 0000 and 0777 or a decimal value between 0 and 511.

          YAML accepts both octal and decimal values, JSON requires decimal values for mode bits.

          If not specified, the volume defaultMode will be used.

          This might be in conflict with other options that affect the file

          mode, like fsGroup, and the result can be other mode bits set.

          +optional'
        type: integer
        format: int32
        x-go-name: Mode
      path:
        description: 'Required: Path is  the relative path name of the file to be created. Must not be absolute or contain the ''..'' path. Must be utf-8 encoded. The first item of the relative path must not start with ''..'''
        type: string
        x-go-name: Path
      resourceFieldRef:
        $ref: '#/definitions/ResourceFieldSelector'
    x-go-package: k8s.io/api/core/v1
  CSIVolumeSource:
    description: Represents a source location of a volume to mount, managed by an external CSI driver
    type: object
    properties:
      driver:
        description: 'driver is the name of the CSI driver that handles this volume.

          Consult with your admin for the correct name as registered in the cluster.'
        type: string
        x-go-name: Driver
      fsType:
        description: 'fsType to mount. Ex. "ext4", "xfs", "ntfs".

          If not provided, the empty value is passed to the associated CSI driver

          which will determine the default filesystem to apply.

          +optional'
        type: string
        x-go-name: FSType
      nodePublishSecretRef:
        $ref: '#/definitions/LocalObjectReference'
      readOnly:
        description: 'readOnly specifies a read-only configuration for the volume.

          Defaults to false (read/write).

          +optional'
        type: boolean
        x-go-name: ReadOnly
      volumeAttributes:
        description: 'volumeAttributes stores driver-specific properties that are passed to the CSI

          driver. Consult your driver''s documentation for supported values.

          +optional'
        type: object
        additionalProperties:
          type: string
        x-go-name: VolumeAttributes
    x-go-package: k8s.io/api/core/v1
  FieldsV1:
    description: 'Each key is either a ''.'' representing the field itself, and will always map to an empty set,

      or a string representing a sub-field or item. The string will follow one of these four formats:

      ''f:<name>'', where <name> is the name of a field in a struct, or key in a map

      ''v:<value>'', where <value> is the exact json formatted value of a list item

      ''i:<index>'', where <index> is position of a item in a list

      ''k:<keys>'', where <keys> is a map of  a list item''s key fields to their unique values

      If a key maps to an empty Fields value, the field that key represents is part of the set.


      The exact format is defined in sigs.k8s.io/structured-merge-diff

      +protobuf.options.(gogoproto.goproto_stringer)=false'
    type: object
    title: FieldsV1 stores a set of fields in a data structure like a Trie, in JSON format.
    x-go-package: k8s.io/apimachinery/pkg/apis/meta/v1
  PodSpec:
    type: object
    title: PodSpec is a description of a pod.
    properties:
      activeDeadlineSeconds:
        description: 'Optional duration in seconds the pod may be active on the node relative to

          StartTime before the system will actively try to mark it failed and kill associated containers.

          Value must be a positive integer.

          +optional'
        type: integer
        format: int64
        x-go-name: ActiveDeadlineSeconds
      affinity:
        $ref: '#/definitions/Affinity'
      automountServiceAccountToken:
        description: 'AutomountServiceAccountToken indicates whether a service account token should be automatically mounted.

          +optional'
        type: boolean
        x-go-name: AutomountServiceAccountToken
      containers:
        description: 'List of containers belonging to the pod.

          Containers cannot currently be added or removed.

          There must be at least one container in a Pod.

          Cannot be updated.

          +patchMergeKey=name

          +patchStrategy=merge

          +listType=map

          +listMapKey=name'
        type: array
        items:
          $ref: '#/definitions/Container'
        x-go-name: Containers
      dnsConfig:
        $ref: '#/definitions/PodDNSConfig'
      dnsPolicy:
        $ref: '#/definitions/DNSPolicy'
      enableServiceLinks:
        description: 'EnableServiceLinks indicates whether information about services should be injected into pod''s

          environment variables, matching the syntax of Docker links.

          Optional: Defaults to true.

          +optional'
        type: boolean
        x-go-name: EnableServiceLinks
      ephemeralContainers:
        description: 'List of ephemeral containers run in this pod. Ephemeral containers may be run in an existing

          pod to perform user-initiated actions such as debugging. This list cannot be specified when

          creating a pod, and it cannot be modified by updating the pod spec. In order to add an

          ephemeral container to an existing pod, use the pod''s ephemeralcontainers subresource.

          +optional

          +patchMergeKey=name

          +patchStrategy=merge

          +listType=map

          +listMapKey=name'
        type: array
        items:
          $ref: '#/definitions/EphemeralContainer'
        x-go-name: EphemeralContainers
      hostAliases:
        description: 'HostAliases is an optional list of hosts and IPs that will be injected into the pod''s hosts

          file if specified.

          +optional

          +patchMergeKey=ip

          +patchStrategy=merge

          +listType=map

          +listMapKey=ip'
        type: array
        items:
          $ref: '#/definitions/HostAlias'
        x-go-name: HostAliases
      hostIPC:
        description: 'Use the host''s ipc namespace.

          Optional: Default to false.

          +k8s:conversion-gen=false

          +optional'
        type: boolean
        x-go-name: HostIPC
      hostNetwork:
        description: 'Host networking requested for this pod. Use the host''s network namespace.

          When using HostNetwork you should specify ports so the scheduler is aware.

          When `hostNetwork` is true, specified `hostPort` fields in port definitions must match `containerPort`,

          and unspecified `hostPort` fields in port definitions are defaulted to match `containerPort`.

          Default to false.

          +k8s:conversion-gen=false

          +optional'
        type: boolean
        x-go-name: HostNetwork
      hostPID:
        description: 'Use the host''s pid namespace.

          Optional: Default to false.

          +k8s:conversion-gen=false

          +optional'
        type: boolean
        x-go-name: HostPID
      hostUsers:
        description: 'Use the host''s user namespace.

          Optional: Default to true.

          If set to true or not present, the pod will be run in the host user namespace, useful

          for when the pod needs a feature only available to the host user namespace, such as

          loading a kernel module with CAP_SYS_MODULE.

          When set to false, a new userns is created for the pod. Setting false is useful for

          mitigating container breakout vulnerabilities even allowing users to run their

          containers as root without actually having root privileges on the host.

          This field is alpha-level and is only honored by servers that enable the UserNamespacesSupport feature.

          +k8s:conversion-gen=false

          +optional'
        type: boolean
        x-go-name: HostUsers
      hostname:
        description: 'Specifies the hostname of the Pod

          If not specified, the pod''s hostname will be set to a system-defined value.

          +optional'
        type: string
        x-go-name: Hostname
      hostnameOverride:
        description: 'HostnameOverride specifies an explicit override for the pod''s hostname as perceived by the pod.

          This field only specifies the pod''s hostname and does not affect its DNS records.

          When this field is set to a non-empty string:

          It takes precedence over the values set in `hostname` and `subdomain`.

          The Pod''s hostname will be set to this value.

          `setHostnameAsFQDN` must be nil or set to false.

          `hostNetwork` must be set to false.


          This field must be a valid DNS subdomain as defined in RFC 1123 and contain at most 64 characters.

          Requires the HostnameOverride feature gate to be enabled.


          +featureGate=HostnameOverride

          +optional'
        type: string
        x-go-name: HostnameOverride
      imagePullSecrets:
        description: 'ImagePullSecrets is an optional list of references to secrets in the same namespace to use for pulling any of the images used by this PodSpec.

          If specified, these secrets will be passed to individual puller implementations for them to use.

          More info: https://kubernetes.io/docs/concepts/containers/images#specifying-imagepullsecrets-on-a-pod

          +optional

          +patchMergeKey=name

          +patchStrategy=merge

          +listType=map

          +listMapKey=name'
        type: array
        items:
          $ref: '#/definitions/LocalObjectReference'
        x-go-name: ImagePullSecrets
      initContainers:
        description: 'List of initialization containers belonging to the pod.

          Init containers are executed in order prior to containers being started. If any

          init container fails, the pod is considered to have failed and is handled according

          to its restartPolicy. The name for an init container or normal container must be

          unique among all containers.

          Init containers may not have Lifecycle actions, Readiness probes, Liveness probes, or Startup probes.

          The resourceRequirements of an init container are taken into account during scheduling

          by finding the highest request/limit for each resource type, and then using the max of

          that value or the sum of the normal containers. Limits are applied to init containers

          in a similar fashion.

          Init containers cannot currently be added or removed.

          Cannot be updated.

          More info: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

          +patchMergeKey=name

          +patchStrategy=merge

          +listType=map

          +listMapKey=name'
        type: array
        items:
          $ref: '#/definitions/Container'
        x-go-name: InitContainers
      nodeName:
        description: 'NodeName indicates in which node this pod is scheduled.

          If empty, this pod is a candidate for scheduling by the scheduler defined in schedulerName.

          Once this field is set, the kubelet for this node becomes responsible for the lifecycle of this pod.

          This field should not be used to express a desire for the pod to be scheduled on a specific node.

          https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodename

          +optional'
        type: string
        x-go-name: NodeName
      nodeSelector:
        description: 'NodeSelector is a selector which must be true for the pod to fit on a node.

          Selector which must match a node''s labels for the pod to be scheduled on that node.

          More info: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

          +optional

          +mapType=atomic'
        type: object
        additionalProperties:
          type: string
        x-go-name: NodeSelector
      os:
        $ref: '#/definitions/PodOS'
      overhead:
        $ref: '#/definitions/ResourceList'
      preemptionPolicy:
        $ref: '#/definitions/PreemptionPolicy'
      priority:
        description: 'The priority value. Various system components use this field to find the

          priority of the pod. When Priority Admission Controller is enabled, it

          prevents users from setting this field. The admission controller populates

          this field from PriorityClassName.

          The higher the value, the higher the priority.

          +optional'
        type: integer
        format: int32
        x-go-name: Priority
      priorityClassName:
        description: 'If specified, indicates the pod''s priority. "system-node-critical" and

          "system-cluster-critical" are two special keywords which indicate the

          highest priorities with the former being the highest priority. Any other

          name must be defined by creating a PriorityClass object with that name.

          If not specified, the pod priority will be default or zero if there is no

          default.

          +optional'
        type: string
        x-go-name: PriorityClassName
      readinessGates:
        description: 'If specified, all readiness gates will be evaluated for pod readiness.

          A pod is ready when all its containers are ready AND

          all conditions specified in the readiness gates have status equal to "True"

          More info: https://git.k8s.io/enhancements/keps/sig-network/580-pod-readiness-gates

          +optional

          +listType=atomic'
        type: array
        items:
          $ref: '#/definitions/PodReadinessGate'
        x-go-name: ReadinessGates
      resourceClaims:
        description: 'ResourceClaims defines which ResourceClaims must be allocated

          and reserved before the Pod is allowed to start. The resources

          will be made available to those containers which consume them

          by name.


          This is a stable field but requires that the

          DynamicResourceAllocation feature gate is enabled.


[...]
