swagger: '2.0'
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 apps releases API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
host: api.replicated.com
basePath: /vendor/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: releases
paths:
  /app/{app_id}/channel/{channel_id}/release/{sequence}/demote:
    post:
      security:
      - api_key: []
      description: 'Demote a specific release from a channel, making it unavailable for new installations or upgrades via that channel.

        Demoted releases can be un-demoted if needed.


        Required RBAC Policy: kots/app/[:appid]/channel/[:channelid]/release/[:releasesequence]/demote'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Demote a channel release.
      operationId: demoteChannelRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: string
        x-go-name: ChannelID
        description: Channel identifier
        name: channel_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      - description: Demote channel release parameters.
        name: Body
        in: body
        schema:
          type: object
      responses:
        '200':
          $ref: '#/responses/demoteChannelRelease'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/channel/{channel_id}/release/{sequence}/undemote:
    post:
      security:
      - api_key: []
      description: 'Restore a previously demoted release to a channel, making it available again for installations and upgrades via that channel.


        Required RBAC Policy: kots/app/[:appid]/channel/[:channelid]/release/[:releasesequence]/undemote'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Un-demote a channel release.
      operationId: unDemoteChannelRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: string
        x-go-name: ChannelID
        description: Channel identifier
        name: channel_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      - description: UnDemote channel release parameters.
        name: Body
        in: body
        schema:
          type: object
      responses:
        '200':
          $ref: '#/responses/unDemoteChannelRelease'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release:
    post:
      security:
      - api_key: []
      description: 'Create a new release for the specified app using the provided release specification.

        The release can be configured with a raw or gzipped spec and will be available for promotion to channels.


        Required RBAC Policy: kots/app/[:appid]/release/create'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Create a new release.
      operationId: createRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - description: Create release parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            spec:
              description: The spec to use in the new release
              type: string
              x-go-name: Spec
            spec_gzip:
              description: The spec to use in the new release, but gzipped
              type: array
              items:
                type: integer
                format: uint8
              x-go-name: SpecGzip
      responses:
        '201':
          $ref: '#/responses/createRelease'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release/draft:
    post:
      security:
      - api_key: []
      description: 'Create a draft release for the specified app, which can be further edited and eventually promoted.

        Supports both KOTS and Builders draft types depending on team entitlements.


        Required RBAC Policy: kots/app/[:appid]/release/create'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Draft a release for an app.
      operationId: draftRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - description: Create draft release parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            isBuildersRelease:
              description: When true, the draft will be a Builders draft. Otherwise it will be a KOTS draft.
              type: boolean
              x-go-name: IsBuildersRelease
      responses:
        '200':
          $ref: '#/responses/draftReleaseResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release/{sequence}:
    get:
      security:
      - api_key: []
      description: 'Retrieve the details of a specific release for an app, identified by its sequence number.

        The response includes the release specification, metadata, and status information.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Get a release by sequence.
      operationId: getRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getRelease'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
    put:
      security:
      - api_key: []
      description: 'Update the specification and metadata for an existing release, identified by its sequence number.

        Only non-promoted releases can be updated. Supports raw and gzipped specs.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/update'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Update a release.
      operationId: updateRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      - description: Update release parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            spec:
              description: The spec to use in the release
              type: string
              x-go-name: Spec
            spec_gzip:
              description: The spec to use in the release, in gzip format
              type: array
              items:
                type: integer
                format: uint8
              x-go-name: SpecGzip
      responses:
        '200':
          $ref: '#/responses/updateRelease'
        '400':
          $ref: '#/responses/updateReleaseError'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release/{sequence}/compatibility:
    post:
      security:
      - api_key: []
      description: 'Report the compatibility test results for a specific release, including Kubernetes distribution, version, and success or failure details.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/update'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Report a compatibility result.
      operationId: reportCompatibilityResult
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      - description: Report Compatibility result parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            distribution:
              type: string
              x-go-name: Distribution
            failureAt:
              type: string
              format: date-time
              x-go-name: FailureAt
            failureNotes:
              type: string
              x-go-name: FailureNotes
            successAt:
              type: string
              format: date-time
              x-go-name: SuccessAt
            successNotes:
              type: string
              x-go-name: SuccessNotes
            version:
              type: string
              x-go-name: Version
      responses:
        '201':
          $ref: '#/responses/compatibilityResponse'
        '400':
          $ref: '#/responses/compatibilityErrorResponse'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release/{sequence}/exposure:
    get:
      security:
      - api_key: []
      description: 'Retrieve the number of active instances running a specific release and the

        number of customers with access to it via the channels where it is the

        current promoted version, with a per-channel breakdown.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/read'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Get exposure counts for a release.
      operationId: getReleaseExposure
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      responses:
        '200':
          $ref: '#/responses/getReleaseExposure'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release/{sequence}/promote:
    post:
      security:
      - api_key: []
      description: 'Promote a specific release to one or more channels, making it available for deployment.

        Supports setting release notes, version labels, and marking releases as required.


        Required RBAC Policy: kots/app/[:appid]/channel/[:channelid]/promote'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Promote a release.
      operationId: promoteRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      - description: Promote release parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            channelIds:
              type: array
              items:
                type: string
              x-go-name: ChannelIDs
            ignoreWarnings:
              type: boolean
              x-go-name: IgnoreWarnings
            isRequired:
              type: boolean
              x-go-name: IsRequired
            notifyUsers:
              description: Sends email notifications to all Enterprise Portal users on the target channel
              type: boolean
              x-go-name: NotifyUsers
            omitDetailsInResponse:
              description: Omits channels, charts, and compatibilityResults details in the response body
              type: boolean
              x-go-name: OmitDetailsInResponse
            releaseNotes:
              type: string
              x-go-name: ReleaseNotes
            releaseNotesGzip:
              type: array
              items:
                type: integer
                format: uint8
              x-go-name: ReleaseNotesGzip
            versionLabel:
              type: string
              x-go-name: VersionLabel
      responses:
        '200':
          $ref: '#/responses/promoteReleaseResponse'
        '400':
          $ref: '#/responses/promoteReleaseErrorResponse'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/release/{sequence}/test:
    post:
      security:
      - api_key: []
      description: 'Trigger automated tests for a specific release, validating its configuration and compatibility.

        Results are reported asynchronously and may include errors or warnings.


        Required RBAC Policy: kots/app/[:appid]/releases/test'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Test a release.
      operationId: testRelease
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        x-go-name: Sequence
        description: Release identifier
        name: sequence
        in: path
        required: true
      - description: Promote release parameters.
        name: Body
        in: body
        schema:
          type: object
      responses:
        '200':
          $ref: '#/responses/testReleaseResponse'
        '400':
          $ref: '#/responses/testReleaseErrorResponse'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/testReleaseErrorResponse'
        '412':
          $ref: '#/responses/testReleaseErrorResponse'
  /app/{app_id}/releases:
    get:
      security:
      - api_key: []
      description: 'Return a paginated list of all releases for the specified app, including their metadata, status, and sequence numbers.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/read'
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: List releases for an app.
      operationId: listReleases
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        default: 20
        x-go-name: PageSize
        description: Page size
        name: pageSize
        in: query
      - type: integer
        format: int64
        x-go-name: CurrentPage
        description: Current page
        name: currentPage
        in: query
      - type: boolean
        x-go-name: IncludeSecuritySummary
        description: Include security summary
        name: includeSecuritySummary
        in: query
      responses:
        '200':
          $ref: '#/responses/listReleasesResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/releases/active:
    get:
      security:
      - api_key: []
      description: 'Return a list of all active (currently promoted) releases for the specified app.

        Active releases are those that will be used by default when installing a particular channel.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/read'
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: List active releases for an app.
      operationId: listActiveReleases
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        default: 20
        x-go-name: PageSize
        description: Page size
        name: pageSize
        in: query
      - type: integer
        format: int64
        x-go-name: CurrentPage
        description: Current page
        name: currentPage
        in: query
      - type: boolean
        x-go-name: IncludeSecuritySummary
        description: Include security summary
        name: includeSecuritySummary
        in: query
      responses:
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/releases/archive:
    post:
      security:
      - api_key: []
      description: 'Archive one or more releases for the specified app, making them unavailable for deployment or download.

        Active releases cannot be archived.


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/archive'
      consumes:
      - application/json
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Archive releases.
      operationId: archiveReleases
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - description: Archive releases parameters.
        name: Body
        in: body
        schema:
          type: object
          properties:
            sequences:
              description: The release sequences to archive
              type: array
              items:
                type: integer
                format: int64
              x-go-name: Sequences
      responses:
        '200':
          $ref: '#/responses/atchiveReleasesResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
  /app/{app_id}/releases/search:
    get:
      security:
      - api_key: []
      description: 'Return releases that include the requested image reference in bundle metadata,

        split into active releases (latest promoted to each channel) and

        all matching releases (paginated).


        Required RBAC Policy: kots/app/[:appid]/release/[:releasesequence]/read'
      produces:
      - application/json
      schemes:
      - https
      tags:
      - releases
      summary: Find releases containing a container image reference.
      operationId: getImageReleaseSearch
      parameters:
      - type: string
        x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
      - type: integer
        format: int64
        default: 20
        x-go-name: PageSize
        description: Page size
        name: pageSize
        in: query
      - type: integer
        format: int64
        x-go-name: CurrentPage
        description: Current page
        name: currentPage
        in: query
      - type: string
        x-go-name: Image
        description: Image reference to find across releases.
        name: image
        in: query
        required: true
      - type: string
        x-go-name: Digest
        description: Optional scan digest from Security Center (sha256:...).
        name: digest
        in: query
      responses:
        '200':
          $ref: '#/responses/getImageReleaseSearch'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
        '404':
          $ref: '#/responses/responseErrNotFound'
definitions:
  InstallationTypeKurl:
    type: object
    properties:
      installerVersion:
        type: string
        x-go-name: InstallerVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ReleaseExposure:
    description: 'ReleaseExposure describes how widely a release is deployed and who has access

      to it: the number of active instances running it, and the number of customers

      with access to it via the channels where it is the current promoted version.'
    type: object
    properties:
      active_instance_count:
        type: integer
        format: int64
        x-go-name: ActiveInstanceCount
      channels:
        type: array
        items:
          $ref: '#/definitions/ReleaseChannelExposure'
        x-go-name: Channels
      customers_with_access:
        type: integer
        format: int64
        x-go-name: CustomersWithAccess
      release_sequence:
        type: integer
        format: int64
        x-go-name: ReleaseSequence
      version:
        type: string
        x-go-name: Version
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/exposure
  CustomerAdoption:
    type: object
    properties:
      channelId:
        type: string
        x-go-name: ChannelID
      count:
        type: integer
        format: int64
        x-go-name: Count
      percent:
        type: number
        format: double
        x-go-name: Percent
      releaseSequence:
        type: integer
        format: int64
        x-go-name: ReleaseSequence
      semver:
        type: string
        x-go-name: Semver
      totalOnChannel:
        type: integer
        format: int64
        x-go-name: TotalOnChannel
      versionsFromLatest:
        type: integer
        format: int64
        x-go-name: VersionsFromLatest
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/sharedtypes
  InstallerTypeEmbeddedCluster:
    type: object
    properties:
      proxyRegistryDomain:
        type: string
        x-go-name: ProxyRegistryDomain
      replicatedAppDomain:
        type: string
        x-go-name: ReplicatedAppDomain
      replicatedRegistryDomain:
        type: string
        x-go-name: ReplicatedRegistryDomain
      version:
        type: string
        x-go-name: InstallerVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ChartStatus:
    type: string
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
  SupportedDistributionAndVersions:
    type: object
    properties:
      instance_types:
        type: array
        items:
          type: string
        x-go-name: InstanceTypes
      nodes_max:
        type: integer
        format: int64
        x-go-name: NodesMax
      short_name:
        type: string
        x-go-name: ShortName
      status:
        $ref: '#/definitions/ClusterDistributionStatus'
      version_details:
        type: array
        items:
          $ref: '#/definitions/SupportedVersion'
        x-go-name: VersionDetails
      versions:
        type: array
        items:
          type: string
        x-go-name: Versions
    x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
  ValidationError:
    type: object
    properties:
      errors:
        type: array
        items:
          type: string
        x-go-name: Errors
      supported_distributions:
        type: array
        items:
          $ref: '#/definitions/SupportedDistributionAndVersions'
        x-go-name: SupportedDistributions
    x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
  AirgapBuildSummary:
    type: object
    title: AirgapBuildSummary is a lightweight snapshot of a channel-release's airgap build state.
    properties:
      airgapBuildError:
        type: string
        x-go-name: AirgapBuildError
      airgapBuildStatus:
        type: string
        x-go-name: AirgapBuildStatus
      channelId:
        type: string
        x-go-name: ChannelID
      channelName:
        type: string
        x-go-name: ChannelName
      channelSequence:
        type: integer
        format: int64
        x-go-name: ChannelSequence
      fullAirgapBuild:
        description: 'FullAirgapBuild is true when the channel-release is configured to produce

          or has completed with a full airgap bundle.

          When false, the worker may still run metadata generation for the

          channel-release and that step can fail.'
        type: boolean
        x-go-name: FullAirgapBuild
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
  ImageVulnCounts:
    type: object
    properties:
      counts:
        $ref: '#/definitions/VulnCounts'
      digest:
        type: string
        x-go-name: Digest
      digest_first_seen_at:
        type: string
        x-go-name: DigestFirstSeenAt
      image_size_bytes:
        type: integer
        format: int64
        x-go-name: ImageSizeBytes
      input:
        type: string
        x-go-name: Input
      installation_phase:
        description: 'InstallationPhase indicates the Embedded Cluster phase for the image ("", "online", or "airgap").

          Application images have the phase "".

          Infrastructure images used for Embedded Cluster in both online and airgap have the phase "online" or "airgap".

          Infrastructure images used for Embedded Cluster only in airgap have the phase "airgap".'
        type: string
        x-go-name: InstallationPhase
      last_scanned_at:
        type: string
        x-go-name: LastScannedAt
      not_found:
        type: boolean
        x-go-name: NotFound
      sbom_status:
        description: SBOM status tracking
        type: string
        x-go-name: SBOMStatus
      sbom_status_message:
        type: string
        x-go-name: SBOMStatusMessage
      sbom_status_updated_at:
        type: string
        x-go-name: SBOMStatusUpdatedAt
      scan_status:
        description: Scan status tracking
        type: string
        x-go-name: ScanStatus
      scan_status_message:
        type: string
        x-go-name: ScanStatusMessage
      scan_status_updated_at:
        type: string
        x-go-name: ScanStatusUpdatedAt
      scanned_images:
        description: Scan completeness tracking
        type: integer
        format: int64
        x-go-name: ScannedImages
      total_images:
        type: integer
        format: int64
        x-go-name: TotalImages
    x-go-package: github.com/replicatedhq/vandoor/pkg/securebuild/types
  InstallerTypeKotsConfig:
    type: object
    properties:
      apiVersion:
        type: string
        x-go-name: APIVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  LintResult:
    type: object
    properties:
      isLintingComplete:
        type: boolean
        x-go-name: IsLintingComplete
      lintExpressions:
        type: array
        items:
          $ref: '#/definitions/LintExpression'
        x-go-name: LintExpressions
    x-go-package: github.com/replicatedhq/vandoor/pkg/lint
  InstallerTypeHelm:
    type: object
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  AppRelease:
    type: object
    properties:
      airgapBuilds:
        description: 'AirgapBuilds is the full history of channel-releases for this release sequence,

          including prior re-promotes to the same channel. Populated by GetAppRelease via

          GetAirgapBuildStatusesForRelease. Use this for inspect / history views.


          For "what should I poll on" after a fresh promote, prefer the top-level

          PromoteReleaseResponse.Body.AirgapBuilds, which contains only the channels just

          queued by that promote call. The two fields can diverge for releases that have

          been promoted before.'
        type: array
        items:
          $ref: '#/definitions/AirgapBuildSummary'
        x-go-name: AirgapBuilds
      appId:
        type: string
        x-go-name: AppID
      channels:
        type: array
        items:
          $ref: '#/definitions/Channel'
        x-go-name: Channels
      charts:
        type: array
        items:
          $ref: '#/definitions/Chart'
        x-go-name: Charts
      compatibilityResults:
        type: array
        items:
          $ref: '#/definitions/CompatibilityResult'
        x-go-name: CompatibilityResults
      created:
        type: string
        format: date-time
        x-go-name: CreatedAt
      createdBy:
        $ref: '#/definitions/Actor'
      hasKurlInstaller:
        type: boolean
        x-go-name: HasKurlInstaller
      installationTypes:
        $ref: '#/definitions/InstallationTypes'
      isArchived:
        type: boolean
        x-go-name: IsArchived
      isHelmOnly:
        type: boolean
        x-go-name: IsHelmOnly
      isReleaseNotEditable:
        type: boolean
        x-go-name: IsReleaseNotEditable
      lintResult:
        $ref: '#/definitions/LintResult'
      mostRecentChannel:
        $ref: '#/definitions/KotsChannelRelease'
      rawSpec:
        type: string
        x-go-name: RawSpec
      releaseNotes:
        type: string
        x-go-name: ReleaseNotes
      sequence:
        type: integer
        format: int64
        x-go-name: Sequence
      spec:
        type: string
        x-go-name: Spec
      updated:
        type: string
        format: date-time
        x-go-name: UpdatedAt
      updatedBy:
        $ref: '#/definitions/Actor'
      userAgent:
        type: string
        x-go-name: UserAgent
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
  GitHubRef:
    type: object
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  InstallerTypeReplicatedSDK:
    type: object
    properties:
      sdkVersion:
        type: string
        x-go-name: SDKVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  CompatibilityResult:
    type: object
    properties:
      distribution:
        type: string
        x-go-name: Distribution
      failureAt:
        type: string
        format: date-time
        x-go-name: FailureAt
      failureNotes:
        type: string
        x-go-name: FailureNotes
      successAt:
        type: string
        format: date-time
        x-go-name: SuccessAt
      successNotes:
        type: string
        x-go-name: SuccessNotes
      version:
        type: string
        x-go-name: Version
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
  SupportedVersion:
    type: object
    properties:
      nodes_max:
        type: integer
        format: int64
        x-go-name: NodesMax
      version:
        type: string
        x-go-name: Version
    x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
  CustomHostnameOverrides:
    type: object
    properties:
      downloadPortal:
        $ref: '#/definitions/CustomHostnameOverride'
      proxy:
        $ref: '#/definitions/CustomHostnameOverride'
      registry:
        $ref: '#/definitions/CustomHostnameOverride'
      replicatedApp:
        $ref: '#/definitions/CustomHostnameOverride'
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  InstallerTypePreflight:
    type: object
    properties:
      apiVersion:
        type: string
        x-go-name: APIVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  HelmInstallabilityIssue:
    type: object
    properties:
      message:
        type: string
        x-go-name: Message
      resources:
        type: array
        items:
          $ref: '#/definitions/HelmUnavailableResource'
        x-go-name: Resources
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ImageReleaseSearchChannel:
    type: object
    properties:
      active_instances:
        type: integer
        format: int64
        x-go-name: ActiveInstances
      id:
        type: string
        x-go-name: ID
      image_names:
        type: array
        items:
          type: string
        x-go-name: ImageNames
      is_active:
        type: boolean
        x-go-name: IsActive
      name:
        type: string
        x-go-name: Name
      version:
        type: string
        x-go-name: Version
    x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/releases
  CustomHostnameOverride:
    type: object
    properties:
      hostname:
        type: string
        x-go-name: Hostname
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  KotsChannelRelease:
    type: object
    properties:
      airgapBuildError:
        type: string
        x-go-name: AirgapBuildError
      airgapBuildStatus:
        type: string
        x-go-name: AirgapBuildStatus
      airgapBundleImages:
        type: array
        items:
          type: string
        x-go-name: AirgapBundleImages
      channelIcon:
        type: string
        x-go-name: ChannelIcon
      channelId:
        type: string
        x-go-name: ChannelID
      channelName:
        type: string
        x-go-name: ChannelName
      channelSequence:
        type: integer
        format: int64
        x-go-name: ChannelSequence
      created:
        type: string
        format: date-time
        x-go-name: Created
      createdBy:
        $ref: '#/definitions/Actor'
      customResourceError:
        type: string
        x-go-name: CustomResourceError
      customResourceWarnings:
        type: array
        items:
          type: string
        x-go-name: CustomResourceWarnings
      demotedAt:
        type: string
        format: date-time
        x-go-name: DemotedAt
      embeddedClusterVersion:
        type: string
        x-go-name: EmbeddedClusterVersion
      hasECInstaller:
        type: boolean
        x-go-name: HasECInstaller
      hasKurlInstaller:
        type: boolean
        x-go-name: HasKurlInstaller
      imageSecurityInfo:
        type: array
        items:
          $ref: '#/definitions/ImageVulnCounts'
        x-go-name: ImageSecurityInfo
      imageSecuritySums:
        type: object
        additionalProperties:
          $ref: '#/definitions/ImageVulnCounts'
        x-go-name: ImageSecuritySums
      installationTypes:
        $ref: '#/definitions/InstallationTypes'
      isDemoted:
        type: boolean
        x-go-name: IsDemoted
      isRequired:
        type: boolean
        x-go-name: IsRequired
      kurlInstallerID:
        type: string
        x-go-name: KurlInstallerID
      lintResult:
        $ref: '#/definitions/LintResult'
      proxyRegistryDomain:
        type: string
        x-go-name: ProxyRegistryDomain
      registrySecret:
        type: string
        x-go-name: RegistrySecret
      releaseNotes:
        type: string
        x-go-name: ReleaseNotes
      releasedAt:
        type: string
        format: date-time
        x-go-name: ReleasedAt
      replicatedRegistryDomain:
        type: string
        x-go-name: ReplicatedRegistryDomain
      semver:
        type: string
        x-go-name: Semver
      sequence:
        type: integer
        format: int64
        x-go-name: Sequence
      updated:
        type: string
        format: date-time
        x-go-name: Updated
      updatedBy:
        $ref: '#/definitions/Actor'
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  InstallationTypes:
    type: object
    properties:
      embeddedCluster:
        $ref: '#/definitions/InstallerTypeEmbeddedCluster'
      helm:
        $ref: '#/definitions/InstallerTypeHelm'
      helmInstallabilityIssue:
        $ref: '#/definitions/HelmInstallabilityIssue'
      kots:
        $ref: '#/definitions/InstallerTypeKots'
      kotsConfig:
        $ref: '#/definitions/InstallerTypeKotsConfig'
      kurl:
        $ref: '#/definitions/InstallationTypeKurl'
      preflight:
        $ref: '#/definitions/InstallerTypePreflight'
      replicatedSDK:
        $ref: '#/definitions/InstallerTypeReplicatedSDK'
      supportBundle:
        $ref: '#/definitions/InstallerTypeSupportBundle'
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  VulnCounts:
    type: object
    properties:
      critical:
        type: integer
        format: int64
        x-go-name: Critical
      high:
        type: integer
        format: int64
        x-go-name: High
      low:
        type: integer
        format: int64
        x-go-name: Low
      medium:
        type: integer
        format: int64
        x-go-name: Medium
      total:
        type: integer
        format: int64
        x-go-name: Total
    x-go-package: github.com/replicatedhq/vandoor/pkg/securebuild/types
  Actor:
    type: object
    properties:
      description:
        type: string
        x-go-name: Description
      id:
        type: string
        x-go-name: ID
      link:
        type: string
        x-go-name: Link
      timestamp:
        type: string
        format: date-time
        x-go-name: Timestamp
      type:
        type: string
        x-go-name: Type
    x-go-package: github.com/replicatedhq/vandoor/pkg/models/types
  Chart:
    type: object
    properties:
      appVersion:
        type: string
        x-go-name: AppVersion
      archiveSize:
        type: integer
        format: int64
        x-go-name: ArchiveSize
      error:
        type: string
        x-go-name: Error
      name:
        type: string
        x-go-name: Name
      status:
        $ref: '#/definitions/ChartStatus'
      updatedAt:
        type: string
        format: date-time
        x-go-name: UpdatedAt
      version:
        type: string
        x-go-name: Version
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
  InstallerTypeKots:
    type: object
    properties:
      minKotsVersion:
        type: string
        x-go-name: MinKotsVersion
      targetKotsVersion:
        type: string
        x-go-name: TargetKotsVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  TotalActiveInactiveCustomers:
    type: object
    properties:
      activeCustomers:
        type: integer
        format: int64
        x-go-name: ActiveCustomers
      inactiveCustomers:
        type: integer
        format: int64
        x-go-name: InactiveCustomers
      totalCustomers:
        type: integer
        format: int64
        x-go-name: TotalCustomers
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/sharedtypes
  HelmUnavailableResource:
    type: object
    properties:
      filePath:
        type: string
        x-go-name: FilePath
      identifier:
        type: string
        x-go-name: Identifier
      kind:
        type: string
        x-go-name: Kind
      name:
        type: string
        x-go-name: Name
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  HelmChart:
    type: object
    properties:
      error:
        type: string
        x-go-name: Error
      hasPreflightSpec:
        type: boolean
        x-go-name: HasPreflightSpec
      isKotsInstallerOnly:
        type: boolean
        x-go-name: IsKotsInstallerOnly
      name:
        type: string
        x-go-name: Name
      version:
        type: string
        x-go-name: Version
      weight:
        type: integer
        format: int64
        x-go-name: Weight
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ExtraLintRules:
    type: object
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ImageReleaseSearchResponse:
    type: object
    properties:
      active:
        $ref: '#/definitions/ImageReleaseSearchBucket'
      all:
        $ref: '#/definitions/ImageReleaseSearchBucket'
      image:
        type: string
        x-go-name: Image
    x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/releases
  AppReleaseDraft:
    description: AppReleaseDraft is a draft of a release before it is created
    type: object
    properties:
      appId:
        type: string
        x-go-name: AppID
      rawSpec:
        type: string
        x-go-name: RawSpec
      spec:
        type: string
        x-go-name: Spec
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
  ImageReleaseSearchBucket:
    type: object
    properties:
      releases:
        type: array
        items:
          $ref: '#/definitions/ImageReleaseSearchRelease'
        x-go-name: Releases
      total_active_instances:
        type: integer
        format: int64
        x-go-name: TotalActiveInstances
      total_releases:
        type: integer
        format: int64
        x-go-name: TotalReleases
    x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/releases
  Channel:
    type: object
    properties:
      adoptionRate:
        type: array
        items:
          $ref: '#/definitions/CustomerAdoption'
        x-go-name: AdoptionRate
      airgapDiffBundlesEnabled:
        type: boolean
        x-go-name: AirgapDiffBundlesEnabled
      airgapDockerRegistryFormatEnabled:
        type: boolean
        x-go-name: AirgapDockerRegistryFormatEnabled
      allowPublishableKey:
        type: boolean
        x-go-name: AllowPublishableKey
      appId:
        type: string
        x-go-name: AppID
      appName:
        type: string
        x-go-name: AppName
      appSlug:
        type: string
        x-go-name: AppSlug
      buildAirgapAutomatically:
        type: boolean
        x-go-name: BuildAirgapAutomatically
      channelIcon:
        type: string
        x-go-name: ChannelIcon
      channelSequence:
        type: integer
        format: int64
        x-go-name: ChannelSequence
      channelSlug:
        type: string
        x-go-name: Slug
      chartReleases:
        description: ChartReleases is a map of chart name -> []string of version labels
        type: array
        items:
          $ref: '#/definitions/HelmChart'
        x-go-name: ChartReleases
      created:
        type: string
        format: date-time
        x-go-name: Created
      currentVersion:
        type: string
        x-go-name: CurrentVersion
      customHostnameOverrides:
        $ref: '#/definitions/CustomHostnameOverrides'
      customers:
        $ref: '#/definitions/TotalActiveInactiveCustomers'
      description:
        type: string
        x-go-name: Description
      embeddedClusterInstallCommand:
        type: string
        x-go-name: EmbeddedClusterInstallCommand
      enterprisePartnerChannelID:
        type: string
        x-go-name: EnterprisePartnerChannelID
      existingClusterInstallCommand:
        type: string
        x-go-name: ExistingClusterInstallCommand
      extraLintRules:
        type: array
        items:
          $ref: '#/definitions/ExtraLintRules'
        x-go-name: ExtraLintRules
      gitHubRef:
        $ref: '#/definitions/GitHubRef'
      hasKurlInstaller:
        description: swager:ignore
        type: boolean
        x-go-name: HasKurlInstaller
      hasV1Beta3PreflightSpec:
        description: 'HasV1Beta3PreflightSpec is true when the channel''s current release has an external

          troubleshoot.sh/v1beta3 Preflight spec (distinct from a chart-embedded one). Only v1beta3 sets it.'
        type: boolean
        x-go-name: HasV1Beta3PreflightSpec
      id:
        type: string
        x-go-name: ID
      isArchived:
        type: boolean
        x-go-name: IsArchived
      isDefault:
        type: boolean
        x-go-name: IsDefault
      isHelmOnly:
        type: boolean
        x-go-name: IsHelmOnly
      latestChannelSequence:
        type: integer
        format: int64
        x-go-name: LatestChannelSequence
      name:
        type: string
        x-go-name: Name
      numActiveInstances:
        type: integer
        format: int64
        x-go-name: NumActiveInstances
      numReleases:
        type: integer
        format: int32
        x-go-name: NumReleases
      releaseNotes:
        type: string
        x-go-name: ReleaseNotes
      releaseSequence:
        type: integer
        format: int64
        x-go-name: ReleaseSequence
      releases:
        type: array
        items:
          $ref: '#/definitions/KotsChannelRelease'
        x-go-name: Releases
      replicatedRegistryDomain:
        type: string
        x-go-name: ReplicatedRegistryDomain
      semverRequired:
        type: boolean
        x-go-name: SemverRequired
      semverWarning:
        type: string
        x-go-name: SemverWarning
      targetKotsVersion:
        type: string
        x-go-name: TargetKotsVersion
      updated:
        type: string
        format: date-time
        x-go-name: Updated
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ImageReleaseSearchRelease:
    type: object
    properties:
      channels:
        type: array
        items:
          $ref: '#/definitions/ImageReleaseSearchChannel'
        x-go-name: Channels
      is_promoted:
        type: boolean
        x-go-name: IsPromoted
      release_sequence:
        type: integer
        format: int64
        x-go-name: ReleaseSequence
    x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/releases
  ReleaseChannelExposure:
    type: object
    title: ReleaseChannelExposure is the per-channel customer breakdown for a release.
    properties:
      customer_count:
        type: integer
        format: int64
        x-go-name: CustomerCount
      id:
        type: string
        x-go-name: ID
      name:
        type: string
        x-go-name: Name
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/exposure
  InstallerTypeSupportBundle:
    type: object
    properties:
      apiVersion:
        type: string
        x-go-name: APIVersion
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
  ClusterDistributionStatus:
    type: object
    properties:
      enabled:
        type: boolean
        x-go-name: Enabled
      status:
        type: string
        x-go-name: Status
      status_message:
        type: string
        x-go-name: StatusMessage
      versions:
        type: string
        x-go-name: Versions
    x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
  LintExpression:
    type: object
    properties:
      message:
        type: string
        x-go-name: Message
      path:
        type: string
        x-go-name: Path
      rule:
        type: string
        x-go-name: Rule
      type:
        type: string
        x-go-name: Type
    x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
responses:
  listReleasesResponse:
    description: ListReleasesResponse contains the JSON releases list
    schema:
      type: object
      properties:
        approximateTotalCount:
          type: integer
          format: int64
          x-go-name: ApproximateTotalCount
        releases:
          type: array
          items:
            $ref: '#/definitions/AppRelease'
          x-go-name: Releases
  promoteReleaseErrorResponse:
    description: PromoteReleaseErrorResponse contains the release properties
    schema:
      type: object
      properties:
        channel:
          $ref: '#/definitions/Channel'
        lintExpressions:
          type: array
          items:
            $ref: '#/definitions/LintExpression'
          x-go-name: LintExpressions
        message:
          type: string
          x-go-name: Message
  createRelease:
    description: CreateReleaseResponse contains the new release properties
    schema:
      type: object
      properties:
        release:
          $ref: '#/definitions/AppRelease'
  getImageReleaseSearch:
    description: GetImageReleaseSearchResponse contains releases that contain an image reference.
    schema:
      $ref: '#/definitions/ImageReleaseSearchResponse'
  testReleaseErrorResponse:
    description: TestReleaseErrorResponse contains the release properties
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
  getRelease:
    description: GetReleaseParameters contains the release properties
    schema:
      type: object
      properties:
        release:
          $ref: '#/definitions/AppRelease'
  responseErrUnauthorized:
    description: Return if the caller is not authorized
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
  promoteReleaseResponse:
    description: 'PromoteReleaseResponse contains the release properties.


      AirgapBuilds field semantics:

      Body.AirgapBuilds (top-level) — one entry per channel JUST promoted to by

      THIS call. Populated for every promoted channel, not just auto-build ones,

      because the airgap-builder runs metadata generation for every promoted

      channel-release and that step can fail. Each entry''s FullAirgapBuild bool

      distinguishes channels that produce a full bundle (auto-build on) from

      those that only get metadata generation (auto-build off). CLI / GitHub

      Action waiters should poll these.

      Body.Release.AirgapBuilds (nested) — the FULL history of channel-releases

      for this release sequence (including prior re-promotes to the same channel).

      Use for inspect / history views, not for waiting on the current promote.'
    schema:
      type: object
      properties:
        airgapBuilds:
          type: array
          items:
            $ref: '#/definitions/AirgapBuildSummary'
          x-go-name: AirgapBuilds
        release:
          $ref: '#/definitions/AppRelease'
        warnings:
          type: array
          items:
            type: string
          x-go-name: Warnings
  atchiveReleasesResponse:
    description: ArchiveReleasesResponse contains response properties
    schema:
      type: object
  compatibilityResponse:
    description: ReportCompatibilityResultResponse represents compatibility result.
    schema:
      type: object
      properties:
        error:
          type: string
          x-go-name: Error
  getReleaseExposure:
    description: GetReleaseExposureResponse contains the release exposure counts.
    schema:
      $ref: '#/definitions/ReleaseExposure'
  responseErrBadRequest:
    description: Returned on bad input
    schema:
      type: object
      properties:
        error_code:
          description: Error code if available
          type: string
          x-go-name: ErrorCode
        message:
          description: Error message text if available
          type: string
          x-go-name: Message
  responseErrForbidden:
    description: Returned if the caller does not have the needed permission
    schema:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              x-go-name: Message
            messageCode:
              type: string
              x-go-name: MessageCode
          x-go-name: Error
  demoteChannelRelease:
    description: DemoteChannelReleaseResponse contains the channel release properties
    schema:
      type: object
      properties:
        release:
          $ref: '#/definitions/KotsChannelRelease'
  updateReleaseError:
    description: UpdateReleaseErrorResponse contains the release properties
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
  updateRelease:
    description: UpdateReleaseResponse contains the release properties
    schema:
      type: object
      properties:
        release:
          $ref: '#/definitions/AppRelease'
  compatibilityErrorResponse:
    description: ReportCompatibilityResultErrorResponse contains error information
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
        validationError:
          $ref: '#/definitions/ValidationError'
  unDemoteChannelRelease:
    description: UnDemoteChannelReleaseResponse contains the channel release properties
    schema:
      type: object
      properties:
        release:
          $ref: '#/definitions/KotsChannelRelease'
  draftReleaseResponse:
    description: DraftReleaseResponse contains the draft release properties
    schema:
      type: object
      properties:
        release:
          $ref: '#/definitions/AppReleaseDraft'
  responseErrNotFound:
    description: Returned on resource not found
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
  testReleaseResponse:
    description: TestReleaseResponse contains the release properties
    schema:
      type: object
securityDefinitions:
  api_key:
    type: apiKey
    name: Authorization
    in: header
