openapi: 3.2.0
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 Apps API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
servers:
- url: https://api.replicated.com/vendor/v3
tags:
- name: Apps
paths:
  /app:
    post:
      security:
      - api_key: []
      description: 'Create a new app for the team with the provided name.

        The app will be available for further configuration and channel management.


        Required RBAC Policy: kots/app/create'
      tags:
      - Apps
      summary: Create an app
      operationId: createApp
      responses:
        '201':
          $ref: '#/components/responses/getAppResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  description: Name of the app that is to be created.
                  type: string
                  x-go-name: Name
        description: App create parameters.
  /app/{app_id}:
    get:
      security:
      - api_key: []
      description: 'Retrieve the details of a specific app, including its metadata and a list of associated channels.


        Required RBAC Policy: kots/app/[:appid]/read'
      tags:
      - Apps
      summary: Get an app
      operationId: getAppProperties
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getAppResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
    delete:
      security:
      - api_key: []
      description: 'Delete the specified app from the team.

        The app and all its associated resources will be removed.


        Required RBAC Policy: kots/app/[:appid]/delete'
      tags:
      - Apps
      summary: Delete an app
      operationId: deleteApp
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          $ref: '#/components/responses/responseOk'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/builtin-license-field/{field_name}:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/builtin-licensefields/update'
      tags:
      - Apps
      summary: Set a builtin license field value override for a given app and named field
      operationId: setBuiltinLicenseFieldOverride
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: FieldName
        description: Field name
        name: field_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/setBuiltinLicenseFieldOverrideResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - value
              properties:
                is_locked:
                  description: Whether the field should be locked. Optional.
                  type: boolean
                  x-go-name: IsLocked
                value:
                  description: Value of the builtin license field that is to be overridden. Allows empty string.
                  type: string
                  x-go-name: Value
        required: true
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/builtin-licensefields/delete'
      tags:
      - Apps
      summary: Delete a builtin license field override for a given app and named field
      operationId: deleteBuiltinLicenseFieldOverride
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: FieldName
        description: Field name
        name: field_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/responseNoContent'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/builtin-license-fields:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/license/create'
      tags:
      - Apps
      summary: List builtin license fields for a given appId, with overrides applied
      operationId: listBuiltinLicenseFields
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listBuiltinLicenseFieldsResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/builtin-licensefields/delete'
      tags:
      - Apps
      summary: Delete all of the builtin license field overrides for a given app and revert to…
      operationId: deleteBuiltinLicenseFieldsOverrides
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/responseNoContent'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/customer_instances:
    get:
      security:
      - api_key: []
      description: 'Generate and return a report of all customer instances for a specific app, in either CSV or JSON format.

        Includes instance metadata and supports filtering by customer IDs and archived status.


        Required RBAC Policy: kots/app/[:appid]/read (app-level gate; results are also

        filtered per-customer by kots/app/[:appid]/license/[:licenseid]/read)'
      tags:
      - Apps
      summary: Export customer instances for an app as CSV or JSON
      operationId: listAppCustomerInstances
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: SortColumn
        description: Sort column
        name: sortColumn
        in: query
        schema:
          type: string
      - x-go-name: SortDesc
        description: Sort descending
        name: sortDesc
        in: query
        schema:
          type: boolean
      - x-go-name: Format
        description: 'Format to export: csv or json'
        name: format
        in: query
        schema:
          type: string
      - x-go-name: CustomerIds
        description: Comma separated array of customer ids
        name: customerIds
        in: query
        schema:
          type: array
          items:
            type: string
      - name: IncludeArchived
        in: query
        schema:
          type: boolean
      - description: Customer-level filters
        name: Query
        in: query
        schema:
          type: string
      - name: IncludeActive
        in: query
        schema:
          type: boolean
      - name: IncludeInactive
        in: query
        schema:
          type: boolean
      - name: IncludeArchivedCustomers
        in: query
        schema:
          type: boolean
      - name: LicenseType
        in: query
        schema:
          type: string
      - name: ChannelName
        in: query
        schema:
          type: string
      - name: AdoptionRateFilter
        in: query
        schema:
          type: string
      - description: Instance-level filters
        name: IncludeArchivedInstances
        in: query
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/listAppCustomerInstancesResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/customers_csv:
    get:
      security:
      - api_key: []
      description: 'Generate and return a CSV report of all customers for a specific app, including metadata and instance information.


        Required RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read'
      tags:
      - Apps
      summary: Get customer report in CSV format
      operationId: listAppCustomersCsv
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: SortColumn
        description: Sort column
        name: sortColumn
        in: query
        schema:
          type: string
      - x-go-name: SortDesc
        description: Sort descending
        name: sortDesc
        in: query
        schema:
          type: boolean
      - x-go-name: CustomerName
        description: filter by customer name
        name: customerName
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listAppCustomersCsvResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/events:
    get:
      security:
      - api_key: []
      tags:
      - Apps
      summary: Get instance events in JSON format
      operationId: listAppInstanceEvents
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: CustomerIds
        description: Comma separated array of customer ids
        name: customerIds
        in: query
        schema:
          type: array
          items:
            type: string
      - x-go-name: InstanceIds
        name: instanceIds
        in: query
        schema:
          type: array
          items:
            type: string
      - x-go-name: EventTypes
        name: eventTypes
        in: query
        schema:
          type: array
          items:
            type: string
      - x-go-name: Before
        name: before
        in: query
        schema:
          type: string
          format: date-time
      - x-go-name: After
        name: after
        in: query
        schema:
          type: string
          format: date-time
      - name: Format
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listAppInstanceEventsResponse'
        '204':
          $ref: '#/components/responses/responseNoContent'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/images:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/image/list'
      tags:
      - Apps
      summary: Lists all registry images for an app by ID
      operationId: listAppImages
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listImagesResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/images/delete:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/image/delete'
      tags:
      - Apps
      summary: Deletes registry images for an app by ID
      operationId: deleteAppImages
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/responseOk'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - imageRefs
              properties:
                imageRefs:
                  description: Image references to delete
                  type: array
                  items:
                    type: string
                  x-go-name: ImageRefs
                  example:
                  - myapp/myimage:1.0.0
                  - myapp/myimage:2.0.0
        description: Image references to delete
        required: true
  /app/{app_id}/license-field:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/licensefields/create'
      tags:
      - Apps
      summary: Create a license field for a given app
      operationId: createLicenseField
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/createLicenseFieldResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - title
              - hidden
              properties:
                default:
                  description: Default value of the entitlement field that is to be created.
                  type: string
                  x-go-name: Default
                enumOptions:
                  description: Enum options for the entitlement field (only for Enum type).
                  type: array
                  items:
                    type: string
                  x-go-name: EnumOptions
                hidden:
                  description: Hidden flag of the entitlement field that is to be created.
                  type: boolean
                  x-go-name: Hidden
                name:
                  description: Name of the entitlement field that is to be created.
                  type: string
                  x-go-name: Name
                required:
                  description: Required flag of the entitlement field that is to be created.
                  type: boolean
                  x-go-name: Required
                title:
                  description: Title of the entitlement field that is to be created.
                  type: string
                  x-go-name: Title
                type:
                  description: Type of the entitlement field that is to be created.
                  type: string
                  x-go-name: Type
        required: true
  /app/{app_id}/license-field/{license_field_name}:
    put:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/licensefields/update'
      tags:
      - Apps
      summary: Update a license field for a given appId and licenseFieldName
      operationId: editLicenseField
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: LicenseFieldName
        description: Field name
        name: license_field_name
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/editLicenseFieldResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              - default
              - hidden
              - required
              properties:
                default:
                  description: Optional default value for this licensefield.
                  type: string
                  x-go-name: Default
                enumOptions:
                  description: Enum options for the entitlement field (only for Enum type).
                  type: array
                  items:
                    type: string
                  x-go-name: EnumOptions
                hidden:
                  description: Indicates if this field will be visible from the on-premise license screen.
                  type: boolean
                  x-go-name: Hidden
                required:
                  description: Indicates if this field will be required from the on-premise license screen.
                  type: boolean
                  x-go-name: Required
                title:
                  description: Title of custom license field to display.
                  type: string
                  x-go-name: Title
        required: true
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/licensefields/delete'
      tags:
      - Apps
      summary: Delete a field for a given app and named field
      operationId: deleteLicenseField
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: LicenseFieldName
        description: Field name
        name: license_field_name
        in: path
        required: true
        schema:
          type: string
      - x-go-name: PreserveFields
        description: Field name
        name: preserve_fields
        in: query
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/deleteLicenseFieldResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/license-fields:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/licensefields/read'
      tags:
      - Apps
      summary: List license fields for a given appId
      operationId: listLicenseFields
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listLicenseFieldsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /app/{app_id}/rename:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/app/[:appid]/update'
      tags:
      - Apps
      summary: Rename the app
      operationId: renameApp
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/responseOk'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '429':
          $ref: '#/components/responses/responseErrTooManyRequests'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  description: New name of the app.
                  type: string
                  x-go-name: Name
        description: App rename parameters.
  /app/{app_id}/security-center-settings:
    get:
      security:
      - api_key: []
      description: 'Get the security center configuration settings for the specified app.


        Required RBAC Policy: kots/app/[:appid]/read'
      tags:
      - Apps
      summary: Get app security center settings
      operationId: getSecurityCenterSettings
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getSecurityCenterSettingsResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
    put:
      security:
      - api_key: []
      description: 'Update the security center configuration settings for the specified app.


        Required RBAC Policy: kots/app/[:appid]/update'
      tags:
      - Apps
      summary: Update app security center settings
      operationId: updateSecurityCenterSettings
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getSecurityCenterSettingsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  description: Whether security center is enabled
                  type: boolean
                  x-go-name: Enabled
        description: Security center settings configuration
        required: true
  /app/{app_id}/trial-signup:
    put:
      security:
      - api_key: []
      description: 'Enable or disable trial signup for the specified app.


        Required RBAC Policy: kots/app/[:appid]/update'
      tags:
      - Apps
      summary: Update app trial signup setting
      operationId: updateAppTrialSignup
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getAppResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  description: Whether trial signup is enabled for this app
                  type: boolean
                  x-go-name: Enabled
        description: Trial signup configuration
        required: true
  /app/{app_id}/trial-signup-settings:
    get:
      security:
      - api_key: []
      description: 'Get the trial signup configuration settings for the specified app.


        Required RBAC Policy: kots/app/[:appid]/read'
      tags:
      - Apps
      summary: Get app trial signup settings
      operationId: getTrialSignupSettings
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getTrialSignupSettingsResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
    put:
      security:
      - api_key: []
      description: 'Update the trial signup configuration settings for the specified app.


        Required RBAC Policy: kots/app/[:appid]/update'
      tags:
      - Apps
      summary: Update app trial signup settings
      operationId: updateTrialSignupSettings
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getTrialSignupSettingsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - defaultChannelId
              - expirationDays
              - helmInstallEnabled
              - embeddedClusterEnabled
              - isHelmAirgapEnabled
              - supportBundleUploadEnabled
              - licenseType
              properties:
                customSignupFields:
                  description: Custom signup fields for the enterprise portal signup form
                  type: array
                  items:
                    $ref: '#/components/schemas/CustomSignupFieldDefinition'
                  x-go-name: CustomSignupFields
                defaultChannelId:
                  description: Default channel ID for trial signups
                  type: string
                  x-go-name: DefaultChannelID
                domainFilterDomains:
                  description: List of domains to block or allow
                  type: array
                  items:
                    type: string
                  x-go-name: DomainFilterDomains
                domainFilterMode:
                  description: 'Domain filter mode: off, block, or allow'
                  type: string
                  x-go-name: DomainFilterMode
                domainFilterUseDefaultBlocklist:
                  description: Whether to include the default consumer domain blocklist
                  type: boolean
                  x-go-name: DomainFilterUseDefaultBlock
                embeddedClusterEnabled:
                  description: Whether embedded cluster is enabled
                  type: boolean
                  x-go-name: EmbeddedClusterEnabled
                expirationDays:
                  description: Number of days until trial expires (max 90)
                  type: integer
                  format: int64
                  x-go-name: ExpirationDays
                helmInstallEnabled:
                  description: Whether helm install is enabled
                  type: boolean
                  x-go-name: HelmInstallEnabled
                isHelmAirgapEnabled:
                  description: Whether helm airgap is enabled
                  type: boolean
                  x-go-name: IsHelmAirgapEnabled
                licenseType:
                  description: 'License type: trial or community'
                  type: string
                  x-go-name: LicenseType
                supportBundleUploadEnabled:
                  description: Whether support bundle upload is enabled
                  type: boolean
                  x-go-name: SupportBundleUploadEnabled
                termsAndConditionsUrl:
                  description: Terms and conditions URL (optional, must be HTTPS)
                  type: string
                  x-go-name: TermsAndConditionsURL
        description: Trial signup settings configuration
        required: true
  /apps:
    get:
      security:
      - api_key: []
      description: 'Return a list of all apps accessible to the authenticated team, including their metadata and associated channels.

        Optionally, channels can be excluded from the response using the excludeChannels query parameter.


        Required RBAC Policy: kots/app/[:appid]/read and kots/app/[:appid]/channel/[:channelid]/read'
      tags:
      - Apps
      summary: List apps for a team
      operationId: apps
      responses:
        '200':
          $ref: '#/components/responses/listAppsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
components:
  schemas:
    InstallationTypeKurl:
      type: object
      properties:
        installerVersion:
          type: string
          x-go-name: InstallerVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    TrialSignupSettings:
      type: object
      properties:
        appId:
          type: string
          x-go-name: AppID
        createdAt:
          type: string
          format: date-time
          x-go-name: CreatedAt
        customSignupFields:
          type: array
          items:
            $ref: '#/components/schemas/CustomSignupFieldDefinition'
          x-go-name: CustomSignupFields
        defaultChannelId:
          type: string
          x-go-name: DefaultChannelID
        domainFilterDomains:
          type: array
          items:
            type: string
          x-go-name: DomainFilterDomains
        domainFilterMode:
          type: string
          x-go-name: DomainFilterMode
        domainFilterUseDefaultBlocklist:
          type: boolean
          x-go-name: DomainFilterUseDefaultBlock
        embeddedClusterEnabled:
          type: boolean
          x-go-name: EmbeddedClusterEnabled
        expirationDays:
          type: integer
          format: int64
          x-go-name: ExpirationDays
        helmInstallEnabled:
          type: boolean
          x-go-name: HelmInstallEnabled
        isHelmAirgapEnabled:
          type: boolean
          x-go-name: IsHelmAirgapEnabled
        licenseType:
          type: string
          x-go-name: LicenseType
        supportBundleUploadEnabled:
          type: boolean
          x-go-name: SupportBundleUploadEnabled
        termsAndConditionsUrl:
          type: string
          x-go-name: TermsAndConditionsURL
        updatedAt:
          type: string
          format: date-time
          x-go-name: UpdatedAt
      x-go-package: github.com/replicatedhq/vandoor/pkg/models
    InstallerTypeKotsConfig:
      type: object
      properties:
        apiVersion:
          type: string
          x-go-name: APIVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    CustomSignupFieldDefinition:
      type: object
      properties:
        key:
          type: string
          x-go-name: Key
        label:
          type: string
          x-go-name: Label
        placeholder:
          type: string
          x-go-name: Placeholder
        required:
          type: boolean
          x-go-name: Required
      x-go-package: github.com/replicatedhq/vandoor/pkg/models
    InstallerTypeEmbeddedCluster:
      type: object
      properties:
        proxyRegistryDomain:
          type: string
          x-go-name: ProxyRegistryDomain
        replicatedAppDomain:
          type: string
          x-go-name: ReplicatedAppDomain
        replicatedRegistryDomain:
          type: string
          x-go-name: ReplicatedRegistryDomain
        version:
          type: string
          x-go-name: InstallerVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    Channel:
      type: object
      properties:
        adoptionRate:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAdoption'
          x-go-name: AdoptionRate
        airgapDiffBundlesEnabled:
          type: boolean
          x-go-name: AirgapDiffBundlesEnabled
        airgapDockerRegistryFormatEnabled:
          type: boolean
          x-go-name: AirgapDockerRegistryFormatEnabled
        allowPublishableKey:
          type: boolean
          x-go-name: AllowPublishableKey
        appId:
          type: string
          x-go-name: AppID
        appName:
          type: string
          x-go-name: AppName
        appSlug:
          type: string
          x-go-name: AppSlug
        buildAirgapAutomatically:
          type: boolean
          x-go-name: BuildAirgapAutomatically
        channelIcon:
          type: string
          x-go-name: ChannelIcon
        channelSequence:
          type: integer
          format: int64
          x-go-name: ChannelSequence
        channelSlug:
          type: string
          x-go-name: Slug
        chartReleases:
          description: ChartReleases is a map of chart name -> []string of version labels
          type: array
          items:
            $ref: '#/components/schemas/HelmChart'
          x-go-name: ChartReleases
        created:
          type: string
          format: date-time
          x-go-name: Created
        currentVersion:
          type: string
          x-go-name: CurrentVersion
        customHostnameOverrides:
          $ref: '#/components/schemas/CustomHostnameOverrides'
        customers:
          $ref: '#/components/schemas/TotalActiveInactiveCustomers'
        description:
          type: string
          x-go-name: Description
        embeddedClusterInstallCommand:
          type: string
          x-go-name: EmbeddedClusterInstallCommand
        enterprisePartnerChannelID:
          type: string
          x-go-name: EnterprisePartnerChannelID
        existingClusterInstallCommand:
          type: string
          x-go-name: ExistingClusterInstallCommand
        extraLintRules:
          type: array
          items:
            $ref: '#/components/schemas/ExtraLintRules'
          x-go-name: ExtraLintRules
        gitHubRef:
          $ref: '#/components/schemas/GitHubRef'
        hasKurlInstaller:
          description: swager:ignore
          type: boolean
          x-go-name: HasKurlInstaller
        hasV1Beta3PreflightSpec:
          description: 'HasV1Beta3PreflightSpec is true when the channel''s current release has an external

            troubleshoot.sh/v1beta3 Preflight spec (distinct from a chart-embedded one). Only v1beta3 sets it.'
          type: boolean
          x-go-name: HasV1Beta3PreflightSpec
        id:
          type: string
          x-go-name: ID
        isArchived:
          type: boolean
          x-go-name: IsArchived
        isDefault:
          type: boolean
          x-go-name: IsDefault
        isHelmOnly:
          type: boolean
          x-go-name: IsHelmOnly
        latestChannelSequence:
          type: integer
          format: int64
          x-go-name: LatestChannelSequence
        name:
          type: string
          x-go-name: Name
        numActiveInstances:
          type: integer
          format: int64
          x-go-name: NumActiveInstances
        numReleases:
          type: integer
          format: int32
          x-go-name: NumReleases
        releaseNotes:
          type: string
          x-go-name: ReleaseNotes
        releaseSequence:
          type: integer
          format: int64
          x-go-name: ReleaseSequence
        releases:
          type: array
          items:
            $ref: '#/components/schemas/KotsChannelRelease'
          x-go-name: Releases
        replicatedRegistryDomain:
          type: string
          x-go-name: ReplicatedRegistryDomain
        semverRequired:
          type: boolean
          x-go-name: SemverRequired
        semverWarning:
          type: string
          x-go-name: SemverWarning
        targetKotsVersion:
          type: string
          x-go-name: TargetKotsVersion
        updated:
          type: string
          format: date-time
          x-go-name: Updated
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    VulnCounts:
      type: object
      properties:
        critical:
          type: integer
          format: int64
          x-go-name: Critical
        high:
          type: integer
          format: int64
          x-go-name: High
        low:
          type: integer
          format: int64
          x-go-name: Low
        medium:
          type: integer
          format: int64
          x-go-name: Medium
        total:
          type: integer
          format: int64
          x-go-name: Total
      x-go-package: github.com/replicatedhq/vandoor/pkg/securebuild/types
    BuiltInDefaultLicenseField:
      type: object
      properties:
        FieldName:
          type: string
        is_default:
          type: boolean
          x-go-name: IsDefault
        is_hidden:
          type: boolean
          x-go-name: IsHidden
        is_locked:
          type: boolean
          x-go-name: IsLocked
        is_required:
          type: boolean
          x-go-name: IsRequired
        title:
          type: string
          x-go-name: Title
        type:
          type: string
          x-go-name: Type
        value:
          type: string
          x-go-name: Value
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/app/types
    LintExpression:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
        path:
          type: string
          x-go-name: Path
        rule:
          type: string
          x-go-name: Rule
        type:
          type: string
          x-go-name: Type
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/release
    InstallationTypes:
      type: object
      properties:
        embeddedCluster:
          $ref: '#/components/schemas/InstallerTypeEmbeddedCluster'
        helm:
          $ref: '#/components/schemas/InstallerTypeHelm'
        helmInstallabilityIssue:
          $ref: '#/components/schemas/HelmInstallabilityIssue'
        kots:
          $ref: '#/components/schemas/InstallerTypeKots'
        kotsConfig:
          $ref: '#/components/schemas/InstallerTypeKotsConfig'
        kurl:
          $ref: '#/components/schemas/InstallationTypeKurl'
        preflight:
          $ref: '#/components/schemas/InstallerTypePreflight'
        replicatedSDK:
          $ref: '#/components/schemas/InstallerTypeReplicatedSDK'
        supportBundle:
          $ref: '#/components/schemas/InstallerTypeSupportBundle'
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    GitHubRef:
      type: object
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    ExtraLintRules:
      type: object
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    KotsChannelRelease:
      type: object
      properties:
        airgapBuildError:
          type: string
          x-go-name: AirgapBuildError
        airgapBuildStatus:
          type: string
          x-go-name: AirgapBuildStatus
        airgapBundleImages:
          type: array
          items:
            type: string
          x-go-name: AirgapBundleImages
        channelIcon:
          type: string
          x-go-name: ChannelIcon
        channelId:
          type: string
          x-go-name: ChannelID
        channelName:
          type: string
          x-go-name: ChannelName
        channelSequence:
          type: integer
          format: int64
          x-go-name: ChannelSequence
        created:
          type: string
          format: date-time
          x-go-name: Created
        createdBy:
          $ref: '#/components/schemas/Actor'
        customResourceError:
          type: string
          x-go-name: CustomResourceError
        customResourceWarnings:
          type: array
          items:
            type: string
          x-go-name: CustomResourceWarnings
        demotedAt:
          type: string
          format: date-time
          x-go-name: DemotedAt
        embeddedClusterVersion:
          type: string
          x-go-name: EmbeddedClusterVersion
        hasECInstaller:
          type: boolean
          x-go-name: HasECInstaller
        hasKurlInstaller:
          type: boolean
          x-go-name: HasKurlInstaller
        imageSecurityInfo:
          type: array
          items:
            $ref: '#/components/schemas/ImageVulnCounts'
          x-go-name: ImageSecurityInfo
        imageSecuritySums:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/ImageVulnCounts'
          x-go-name: ImageSecuritySums
        installationTypes:
          $ref: '#/components/schemas/InstallationTypes'
        isDemoted:
          type: boolean
          x-go-name: IsDemoted
        isRequired:
          type: boolean
          x-go-name: IsRequired
        kurlInstallerID:
          type: string
          x-go-name: KurlInstallerID
        lintResult:
          $ref: '#/components/schemas/LintResult'
        proxyRegistryDomain:
          type: string
          x-go-name: ProxyRegistryDomain
        registrySecret:
          type: string
          x-go-name: RegistrySecret
        releaseNotes:
          type: string
          x-go-name: ReleaseNotes
        releasedAt:
          type: string
          format: date-time
          x-go-name: ReleasedAt
        replicatedRegistryDomain:
          type: string
          x-go-name: ReplicatedRegistryDomain
        semver:
          type: string
          x-go-name: Semver
        sequence:
          type: integer
          format: int64
          x-go-name: Sequence
        updated:
          type: string
          format: date-time
          x-go-name: Updated
        updatedBy:
          $ref: '#/components/schemas/Actor'
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    HelmUnavailableResource:
      type: object
      properties:
        filePath:
          type: string
          x-go-name: FilePath
        identifier:
          type: string
          x-go-name: Identifier
        kind:
          type: string
          x-go-name: Kind
        name:
          type: string
          x-go-name: Name
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    Actor:
      type: object
      properties:
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: ID
        link:
          type: string
          x-go-name: Link
        timestamp:
          type: string
          format: date-time
          x-go-name: Timestamp
        type:
          type: string
          x-go-name: Type
      x-go-package: github.com/replicatedhq/vandoor/pkg/models/types
    CustomerAdoption:
      type: object
      properties:
        channelId:
          type: string
          x-go-name: ChannelID
        count:
          type: integer
          format: int64
          x-go-name: Count
        percent:
          type: number
          format: double
          x-go-name: Percent
        releaseSequence:
          type: integer
          format: int64
          x-go-name: ReleaseSequence
        semver:
          type: string
          x-go-name: Semver
        totalOnChannel:
          type: integer
          format: int64
          x-go-name: TotalOnChannel
        versionsFromLatest:
          type: integer
          format: int64
          x-go-name: VersionsFromLatest
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/sharedtypes
    InstallerTypeKots:
      type: object
      properties:
        minKotsVersion:
          type: string
          x-go-name: MinKotsVersion
        targetKotsVersion:
          type: string
          x-go-name: TargetKotsVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    Image:
      type: object
      properties:
        name:
          type: string
          x-go-name: Name
        versions:
          type: array
          items:
            type: string
          x-go-name: Versions
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/images
    InstallerTypeHelm:
      type: object
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    AppWithChannels:
      type: object
      properties:
        activeEnterprisePortalTemplate:
          type: string
          x-go-name: ActiveEnterprisePortalTemplate
        askAiEnabled:
          type: boolean
          x-go-name: AskAiEnabled
        channels:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
          x-go-name: Channels
        created:
          type: string
          format: date-time
          x-go-name: CreatedAt
        defaultFromEmail:
          type: string
          x-go-name: DefaultFromEmail
        description:
          type: string
          x-go-name: Description
        downloadPortalFqdnOverride:
          type: string
          x-go-name: DownloadPortalFQDNOverride
        emailVerifiedAt:
          type: string
          format: date-time
          x-go-name: EmailVerifiedAt
        hideSupportBundleUploadEnabled:
          type: boolean
          x-go-name: HideSupportBundleUploadEnabled
        iconUrl:
          type: string
          x-go-name: IconURL
        id:
          type: string
          x-go-name: ID
        isArchived:
          type: boolean
          x-go-name: IsArchived
        isKotsApp:
          type: boolean
          x-go-name: IsKotsApp
        name:
          type: string
          x-go-name: Name
        publicKeyPem:
          type: string
          x-go-name: PublicKeyPEM
        renamedAt:
          type: string
          format: date-time
          x-go-name: RenamedAt
        securityCenterEnabled:
          type: boolean
          x-go-name: SecurityCenterEnabled
        slug:
          type: string
          x-go-name: Slug
        supportBundleUploadEnabled:
          type: boolean
          x-go-name: SupportBundleUploadEnabled
        teamId:
          type: string
          x-go-name: TeamID
        trialSignupEnabled:
          type: boolean
          x-go-name: TrialSignupEnabled
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/apps
    CustomHostnameOverrides:
      type: object
      properties:
        downloadPortal:
          $ref: '#/components/schemas/CustomHostnameOverride'
        proxy:
          $ref: '#/components/schemas/CustomHostnameOverride'
        registry:
          $ref: '#/components/schemas/CustomHostnameOverride'
        replicatedApp:
          $ref: '#/components/schemas/CustomHostnameOverride'
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    InstallerTypePreflight:
      type: object
      properties:
        apiVersion:
          type: string
          x-go-name: APIVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    HelmChart:
      type: object
      properties:
        error:
          type: string
          x-go-name: Error
        hasPreflightSpec:
          type: boolean
          x-go-name: HasPreflightSpec
        isKotsInstallerOnly:
          type: boolean
          x-go-name: IsKotsInstallerOnly
        name:
          type: string
          x-go-name: Name
        version:
          type: string
          x-go-name: Version
        weight:
          type: integer
          format: int64
          x-go-name: Weight
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    EntitlementValueType:
      type: string
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/types
    HelmInstallabilityIssue:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
        resources:
          type: array
          items:
            $ref: '#/components/schemas/HelmUnavailableResource'
          x-go-name: Resources
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    EntitlementField:
      type: object
      properties:
        default:
          type: string
          x-go-name: Default
        enumOptions:
          type: array
          items:
            type: string
          x-go-name: EnumOptions
        hidden:
          type: boolean
          x-go-name: Hidden
        name:
          type: string
          x-go-name: Name
        required:
          type: boolean
          x-go-name: Required
        title:
          type: string
          x-go-name: Title
        type:
          $ref: '#/components/schemas/EntitlementValueType'
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/types
    LintResult:
      type: object
      properties:
        isLintingComplete:
          type: boolean
          x-go-name: IsLintingComplete
        lintExpressions:
          type: array
          items:
            $ref: '#/components/schemas/LintExpression'
          x-go-name: LintExpressions
      x-go-package: github.com/replicatedhq/vandoor/pkg/lint
    CustomHostnameOverride:
      type: object
      properties:
        hostname:
          type: string
          x-go-name: Hostname
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    InstallerTypeReplicatedSDK:
      type: object
      properties:
        sdkVersion:
          type: string
          x-go-name: SDKVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    ImageVulnCounts:
      type: object
      properties:
        counts:
          $ref: '#/components/schemas/VulnCounts'
        digest:
          type: string
          x-go-name: Digest
        digest_first_seen_at:
          type: string
          x-go-name: DigestFirstSeenAt
        image_size_bytes:
          type: integer
          format: int64
          x-go-name: ImageSizeBytes
        input:
          type: string
          x-go-name: Input
        installation_phase:
          description: 'InstallationPhase indicates the Embedded Cluster phase for the image ("", "online", or "airgap").

            Application images have the phase "".

            Infrastructure images used for Embedded Cluster in both online and airgap have the phase "online" or "airgap".

            Infrastructure images used for Embedded Cluster only in airgap have the phase "airgap".'
          type: string
          x-go-name: InstallationPhase
        last_scanned_at:
          type: string
          x-go-name: LastScannedAt
        not_found:
          type: boolean
          x-go-name: NotFound
        sbom_status:
          description: SBOM status tracking
          type: string
          x-go-name: SBOMStatus
        sbom_status_message:
          type: string
          x-go-name: SBOMStatusMessage
        sbom_status_updated_at:
          type: string
          x-go-name: SBOMStatusUpdatedAt
        scan_status:
          description: Scan status tracking
          type: string
          x-go-name: ScanStatus
        scan_status_message:
          type: string
          x-go-name: ScanStatusMessage
        scan_status_updated_at:
          type: string
          x-go-name: ScanStatusUpdatedAt
        scanned_images:
          description: Scan completeness tracking
          type: integer
          format: int64
          x-go-name: ScannedImages
        total_images:
          type: integer
          format: int64
          x-go-name: TotalImages
      x-go-package: github.com/replicatedhq/vandoor/pkg/securebuild/types
    InstallerTypeSupportBundle:
      type: object
      properties:
        apiVersion:
          type: string
          x-go-name: APIVersion
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/channel/types
    TotalActiveInactiveCustomers:
      type: object
      properties:
        activeCustomers:
          type: integer
          format: int64
          x-go-name: ActiveCustomers
        inactiveCustomers:
          type: integer
          format: int64
          x-go-name: InactiveCustomers
        totalCustomers:
          type: integer
          format: int64
          x-go-name: TotalCustomers
      x-go-package: github.com/replicatedhq/vandoor/pkg/kots/customer/sharedtypes
  responses:
    responseOk:
      description: On success
    getAppResponse:
      description: GetAppResponse represents an app.
      content:
        application/json:
          schema:
            type: object
            properties:
              app:
                $ref: '#/components/schemas/AppWithChannels'
    listAppCustomerInstancesResponse:
      description: ListAppCustomerInstancesResponse contains the list of customers
      headers:
        ContentDisposition:
          description: 'Required: true

            In: header'
          schema:
            type: string
    responseErrForbidden:
      description: Returned if the caller does not have the needed permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message:
                    type: string
                    x-go-name: Message
                  messageCode:
                    type: string
                    x-go-name: MessageCode
                x-go-name: Error
    editLicenseFieldResponse:
      description: EditLicenseFieldResponse contains the license fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntitlementField'
    responseNoContent:
      description: On success, no payload returned
    listAppsResponse:
      description: ListAppsResponse contains the JSON apps list
      content:
        application/json:
          schema:
            type: object
            properties:
              apps:
                type: array
                items:
                  $ref: '#/components/schemas/AppWithChannels'
                x-go-name: Apps
    getSecurityCenterSettingsResponse:
      description: SecurityCenterSettingsResponse contains the security center settings for an app
      content:
        application/json:
          schema:
            type: object
            properties:
              enabled:
                type: boolean
                x-go-name: Enabled
    listAppInstanceEventsResponse:
      description: ListAppInstanceEventsResponse contains the list of instance events
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              properties:
                appId:
                  type: string
                  x-go-name: AppId
                customerId:
                  type: string
                  x-go-name: CustomerId
                fieldName:
                  type: string
                  x-go-name: FieldName
                instanceId:
                  type: string
                  x-go-name: InstanceId
                isCustom:
                  type: string
                  x-go-name: IsCustom
                newValue:
                  type: string
                  x-go-name: NewValue
                previousValue:
                  type: string
                  x-go-name: PreviousValue
                reportedAt:
                  type: string
                  x-go-name: ReportedAt
    responseErrTooManyRequests:
      description: Return if the caller is being rate limited
    setBuiltinLicenseFieldOverrideResponse:
      description: SetBuiltinLicenseFieldOverrideResponse contains the response of the builtin license field override
      content:
        application/json:
          schema:
            type: object
            properties:
              builtin_license_field:
                $ref: '#/components/schemas/BuiltInDefaultLicenseField'
    listBuiltinLicenseFieldsResponse:
      description: ListBuiltinLicenseFieldsResponse contains the list of builtin license fields, with overrides applied
      content:
        application/json:
          schema:
            type: object
            properties:
              builtin_license_fields:
                type: array
                items:
                  $ref: '#/components/schemas/BuiltInDefaultLicenseField'
                x-go-name: BuiltinLicenseFields
    deleteLicenseFieldResponse:
      description: DeleteLicenseFieldResponse contains the response from deleting a license field
    createLicenseFieldResponse:
      description: CreateLicenseFieldResponse contains the response of all license fields
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EntitlementField'
    listAppCustomersCsvResponse:
      description: ListAppCustomersCsvResponse contains the list of customers
      headers:
        ContentDisposition:
          description: 'Required: true

            In: header'
          schema:
            type: string
    getTrialSignupSettingsResponse:
      description: TrialSignupSettingsResponse contains the trial signup settings for an app
      content:
        application/json:
          schema:
            type: object
            properties:
              settings:
                $ref: '#/components/schemas/TrialSignupSettings'
    listImagesResponse:
      description: ListImagesResponse represents a list of images.
      content:
        application/json:
          schema:
            type: object
            properties:
              images:
                type: array
                items:
                  $ref: '#/components/schemas/Image'
                x-go-name: Images
    responseErrUnauthorized:
      description: Return if the caller is not authorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    responseErrNotFound:
      description: Returned on resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    responseErrBadRequest:
      description: Returned on bad input
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                description: Error code if available
                type: string
                x-go-name: ErrorCode
              message:
                description: Error message text if available
                type: string
                x-go-name: Message
    listLicenseFieldsResponse:
      description: ListLicenseFieldsResponse contains the list of license fields
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/EntitlementField'
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
