swagger: '2.0'
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 apps registry API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
host: api.replicated.com
basePath: /vendor/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: registry
paths:
  /registry/egress/summary:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/externalregistry/list'
      produces:
      - application/json
      schemes:
      - https
      tags:
      - registry
      summary: Get registry egress summary totals.
      operationId: getRegistryEgressSummary
      parameters:
      - type: string
        x-go-name: AppID
        description: App ID to filter the summary to one app.
        name: app_id
        in: query
      - type: string
        x-go-name: StartDate
        description: First UTC date included in the summary.
        name: start_date
        in: query
      - type: string
        x-go-name: EndDate
        description: Last UTC date included in the summary.
        name: end_date
        in: query
      responses:
        '200':
          $ref: '#/responses/getRegistryEgressSummaryResponse'
        '400':
          $ref: '#/responses/responseErrBadRequest'
        '401':
          $ref: '#/responses/responseErrUnauthorized'
        '403':
          $ref: '#/responses/responseErrForbidden'
responses:
  responseErrForbidden:
    description: Returned if the caller does not have the needed permission
    schema:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              x-go-name: Message
            messageCode:
              type: string
              x-go-name: MessageCode
          x-go-name: Error
  responseErrBadRequest:
    description: Returned on bad input
    schema:
      type: object
      properties:
        error_code:
          description: Error code if available
          type: string
          x-go-name: ErrorCode
        message:
          description: Error message text if available
          type: string
          x-go-name: Message
  getRegistryEgressSummaryResponse:
    description: GetEgressSummaryResponse contains registry egress summary totals.
    schema:
      type: object
      properties:
        period_end:
          type: string
          x-go-name: PeriodEnd
        period_start:
          type: string
          x-go-name: PeriodStart
        proxy_bytes:
          type: integer
          format: int64
          x-go-name: ProxyBytes
        registry_bytes:
          type: integer
          format: int64
          x-go-name: RegistryBytes
        total_bytes:
          type: integer
          format: int64
          x-go-name: TotalBytes
  responseErrUnauthorized:
    description: Return if the caller is not authorized
    schema:
      type: object
      properties:
        message:
          type: string
          x-go-name: Message
securityDefinitions:
  api_key:
    type: apiKey
    name: Authorization
    in: header
