openapi: 3.2.0
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 User API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
servers:
- url: https://api.replicated.com/vendor/v3
tags:
- name: User
paths:
  /user/token:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: user/token/create'
      tags:
      - User
      summary: Create an API token for the current user
      operationId: createUserApiToken
      responses:
        '201':
          $ref: '#/components/responses/createUserApiTokenResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserApiTokenRequest'
        description: The API token creation request body
        required: true
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: user/token/delete'
      tags:
      - User
      summary: Remove a user API token by name (body param)
      operationId: removeUserApiToken
      responses:
        '204':
          $ref: '#/components/responses/responseNoContent'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveApiTokenRequest'
        description: The API token removal request body
        required: true
  /user/tokens:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: user/token/list'
      tags:
      - User
      summary: List API tokens for the current user
      operationId: listUserApiTokens
      responses:
        '200':
          $ref: '#/components/responses/listUserApiTokensResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
      servers:
      - url: https://api.replicated.com/vendor/v3
components:
  responses:
    listUserApiTokensResponse:
      description: ''
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ApiToken'
    responseErrUnauthorized:
      description: Return if the caller is not authorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    responseErrForbidden:
      description: Returned if the caller does not have the needed permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message:
                    type: string
                    x-go-name: Message
                  messageCode:
                    type: string
                    x-go-name: MessageCode
                x-go-name: Error
    responseNoContent:
      description: On success, no payload returned
    responseErrBadRequest:
      description: Returned on bad input
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                description: Error code if available
                type: string
                x-go-name: ErrorCode
              message:
                description: Error message text if available
                type: string
                x-go-name: Message
    createUserApiTokenResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiToken'
  schemas:
    RemoveApiTokenRequest:
      type: object
      properties:
        name:
          type: string
          x-go-name: Name
      x-go-package: github.com/replicatedhq/vandoor/pkg/schema
    CreateUserApiTokenRequest:
      type: object
      properties:
        name:
          type: string
          x-go-name: Name
        read_only:
          type: boolean
          x-go-name: ReadOnly
      x-go-package: github.com/replicatedhq/vandoor/pkg/schema
    ApiToken:
      type: object
      properties:
        access_token:
          type: string
          x-go-name: Token
        last_active:
          type: string
          format: date-time
          x-go-name: LastActive
        name:
          type: string
          x-go-name: Name
        read_only:
          type: boolean
          x-go-name: ReadOnly
      x-go-package: github.com/replicatedhq/vandoor/pkg/models
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
