openapi: 3.2.0
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 Registry API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
servers:
- url: https://api.replicated.com/vendor/v3
tags:
- name: Registry
paths:
  /registry/egress/summary:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/externalregistry/list'
      tags:
      - Registry
      summary: Get registry egress summary totals
      operationId: getRegistryEgressSummary
      parameters:
      - x-go-name: AppID
        description: App ID to filter the summary to one app.
        name: app_id
        in: query
        schema:
          type: string
      - x-go-name: StartDate
        description: First UTC date included in the summary.
        name: start_date
        in: query
        schema:
          type: string
      - x-go-name: EndDate
        description: Last UTC date included in the summary.
        name: end_date
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getRegistryEgressSummaryResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
      servers:
      - url: https://api.replicated.com/vendor/v3
components:
  responses:
    responseErrBadRequest:
      description: Returned on bad input
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                description: Error code if available
                type: string
                x-go-name: ErrorCode
              message:
                description: Error message text if available
                type: string
                x-go-name: Message
    getRegistryEgressSummaryResponse:
      description: GetEgressSummaryResponse contains registry egress summary totals.
      content:
        application/json:
          schema:
            type: object
            properties:
              period_end:
                type: string
                x-go-name: PeriodEnd
              period_start:
                type: string
                x-go-name: PeriodStart
              proxy_bytes:
                type: integer
                format: int64
                x-go-name: ProxyBytes
              registry_bytes:
                type: integer
                format: int64
                x-go-name: RegistryBytes
              total_bytes:
                type: integer
                format: int64
                x-go-name: TotalBytes
    responseErrUnauthorized:
      description: Return if the caller is not authorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    responseErrForbidden:
      description: Returned if the caller does not have the needed permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message:
                    type: string
                    x-go-name: Message
                  messageCode:
                    type: string
                    x-go-name: MessageCode
                x-go-name: Error
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
