openapi: 3.2.0
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 Policy API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
servers:
- url: https://api.replicated.com/vendor/v3
tags:
- name: Policy
paths:
  /policies:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: team/policy/read'
      tags:
      - Policy
      summary: List RBAC policies
      operationId: listPolicies
      responses:
        '200':
          $ref: '#/components/responses/listPoliciesResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /policy:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: team/policy/create'
      tags:
      - Policy
      summary: Create a RBAC policy
      operationId: createPolicy
      responses:
        '200':
          $ref: '#/components/responses/createPolicyResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - description
              - definition
              properties:
                definition:
                  type: string
                  x-go-name: Definition
                description:
                  type: string
                  x-go-name: Description
                name:
                  type: string
                  x-go-name: Name
        description: JSON payload
        required: true
  /policy/{policyId}:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: team/policy/read'
      tags:
      - Policy
      summary: Get a RBAC policy
      operationId: getPolicy
      parameters:
      - x-go-name: PolicyId
        description: PolicyID is the ID of the policy to get
        name: policyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getPolicyResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
    put:
      security:
      - api_key: []
      description: 'Required RBAC Policy: team/policy/update'
      tags:
      - Policy
      summary: Update a RBAC policy
      operationId: updatePolicy
      parameters:
      - x-go-name: PolicyID
        description: PolicyID is the ID of the policy to update
        name: policyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/updatePolicyResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - definition
              properties:
                definition:
                  type: string
                  x-go-name: Definition
                description:
                  description: Optional
                  type: string
                  x-go-name: Description
                name:
                  type: string
                  x-go-name: Name
        description: Body contains the update payload
        required: true
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: team/policy/delete'
      tags:
      - Policy
      summary: Delete a RBAC policy
      operationId: deletePolicy
      parameters:
      - x-go-name: PolicyID
        description: PolicyID is the ID of the policy to delete
        name: policyId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/responseNoContent'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
components:
  responses:
    getPolicyResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              policy:
                $ref: '#/components/schemas/Policy'
    responseErrUnauthorized:
      description: Return if the caller is not authorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    responseErrForbidden:
      description: Returned if the caller does not have the needed permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message:
                    type: string
                    x-go-name: Message
                  messageCode:
                    type: string
                    x-go-name: MessageCode
                x-go-name: Error
    responseNoContent:
      description: On success, no payload returned
    updatePolicyResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              policy:
                $ref: '#/components/schemas/Policy'
    createPolicyResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              policy:
                $ref: '#/components/schemas/Policy'
    listPoliciesResponse:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              policies:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
                x-go-name: Policies
    responseErrNotFound:
      description: Returned on resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    responseErrBadRequest:
      description: Returned on bad input
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                description: Error code if available
                type: string
                x-go-name: ErrorCode
              message:
                description: Error message text if available
                type: string
                x-go-name: Message
  schemas:
    Policy:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
          x-go-name: CreatedAt
        definition:
          type: string
          x-go-name: Definition
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: ID
        modifiedAt:
          type: string
          format: date-time
          x-go-name: ModifiedAt
        name:
          type: string
          x-go-name: Name
        readOnly:
          type: boolean
          x-go-name: ReadOnly
        teamId:
          type: string
          x-go-name: TeamID
      x-go-package: github.com/replicatedhq/vandoor/pkg/models
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
