openapi: 3.2.0
info:
  description: Manage enterprise portal users, install options, branding, documentation, email templates, and access control.
  title: Vendor API V3 Clusters API
  contact:
    name: Replicated, Inc.
    url: http://www.replicated.com/
    email: info@replicated.com
  version: 3.0.0
servers:
- url: https://api.replicated.com/vendor/v3
tags:
- name: Clusters
paths:
  /app/{app_id}/cluster-usage:
    get:
      security:
      - api_key: []
      description: 'List cluster distribution/version usage by customers.


        Required RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read'
      tags:
      - Clusters
      summary: List cluster usage
      operationId: listClusterUsage
      parameters:
      - x-go-name: AppID
        description: App identifier
        name: app_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listClusterUsageResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/create'
      tags:
      - Clusters
      summary: Create a test cluster
      operationId: createCluster
      parameters:
      - name: DryRun
        in: query
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/createClusterDryRunResponse'
        '201':
          $ref: '#/components/responses/createClusterResponse'
        '400':
          $ref: '#/components/responses/createClusterErrorResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusterParametersBody'
  /cluster/filters:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/list'
      tags:
      - Clusters
      summary: Get clusters filters
      operationId: getClusterFilters
      responses:
        '200':
          $ref: '#/components/responses/getClusterFiltersResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/quotas:
    get:
      security:
      - api_key: []
      tags:
      - Clusters
      summary: List cluster quotas
      operationId: listClusterQuotas
      responses:
        '200':
          $ref: '#/components/responses/listClusterQuotasResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/stats:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/list'
      tags:
      - Clusters
      summary: Get clusters stats
      operationId: getClusterStats
      responses:
        '200':
          $ref: '#/components/responses/getClusterStatsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/versions:
    get:
      security:
      - api_key: []
      tags:
      - Clusters
      summary: List cluster versions
      operationId: listClusterVersions
      responses:
        '200':
          $ref: '#/components/responses/listClusterVersionsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/{cluster_id}:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]'
      tags:
      - Clusters
      summary: Get the details for a test cluster
      operationId: getCluster
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getClusterResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/delete'
      tags:
      - Clusters
      summary: Delete a test cluster
      operationId: deleteCluster
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/deleteClusterResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/{cluster_id}/kubeconfig:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/kubeconfig'
      tags:
      - Clusters
      summary: Get the kubeconfig for a test cluster
      operationId: getClusterKubeconfig
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/getClusterKubeconfigResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/{cluster_id}/nodegroup/{nodegroup_id}:
    put:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/nodegroup'
      tags:
      - Clusters
      summary: Update a nodegroup for a cluster
      operationId: updateClusterNodegroup
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: NodegroupID
        description: Nodegroup identifier
        name: nodegroup_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/updateClusterNodegroupResponse'
        '400':
          $ref: '#/components/responses/updateClusterNodegroupErrorResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                count:
                  type: integer
                  format: int64
                  x-go-name: Count
                maxCount:
                  type: integer
                  format: int64
                  x-go-name: MaxCount
                minCount:
                  type: integer
                  format: int64
                  x-go-name: MinCount
  /cluster/{cluster_id}/port:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/port/expose'
      tags:
      - Clusters
      summary: Exposes a port on a cluster
      operationId: createClusterPort
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          $ref: '#/components/responses/createClusterPortResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - port
              - protocols
              properties:
                is_wildcard:
                  description: IsWildcard
                  type: boolean
                  x-go-name: IsWildcard
                port:
                  description: Port Number
                  type: integer
                  format: int64
                  x-go-name: Port
                protocols:
                  description: Protocols
                  type: array
                  items:
                    $ref: '#/components/schemas/PortProtocol'
                  x-go-name: Protocols
  /cluster/{cluster_id}/port/{port_number}:
    delete:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/port/delete'
      tags:
      - Clusters
      summary: Deletes a port from a cluster
      operationId: deleteClusterPort
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      - x-go-name: PortNumber
        description: Port Number
        name: port_number
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - x-go-name: Protocols
        description: Protocols
        name: protocols
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/deleteClusterPortResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/{cluster_id}/ports:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/port/list'
      tags:
      - Clusters
      summary: Lists ports for a cluster
      operationId: listClusterPorts
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listClusterPortsResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cluster/{cluster_id}/tags:
    put:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/tag/update'
      tags:
      - Clusters
      summary: Update the tags for a cluster
      operationId: updateClusterTags
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          $ref: '#/components/responses/updateClusterTagsResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    $ref: '#/components/schemas/Tag'
                  x-go-name: Tags
  /cluster/{cluster_id}/ttl:
    put:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/ttl/update'
      tags:
      - Clusters
      summary: Update ttl for a cluster
      operationId: updateClusterTTL
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/updateClusterTTLResponse'
        '400':
          $ref: '#/components/responses/updateClusterTTLErrorResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ttl:
                  type: string
                  x-go-name: TTL
  /cluster/{cluster_id}/upgrade:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/[:clusterid]/upgrade'
      tags:
      - Clusters
      summary: Upgrade a test cluster
      operationId: upgradeCluster
      parameters:
      - x-go-name: ClusterID
        description: Cluster identifier
        name: cluster_id
        in: path
        required: true
        schema:
          type: string
      - name: DryRun
        in: query
        schema:
          type: boolean
      responses:
        '200':
          $ref: '#/components/responses/upgradeClusterResponse'
        '400':
          $ref: '#/components/responses/upgradeClusterValidationErrorResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kubernetes_version:
                  type: string
                  x-go-name: KubernetesVersion
        required: true
  /clusters:
    get:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/list'
      tags:
      - Clusters
      summary: List test clusters
      operationId: listClusters
      parameters:
      - x-go-name: PageSize
        description: Page size
        name: pageSize
        in: query
        schema:
          type: integer
          format: int64
          default: 20
      - x-go-name: CurrentPage
        description: Current page
        name: currentPage
        in: query
        schema:
          type: integer
          format: int64
      - x-go-name: SortColumn
        description: Sort column
        name: sortColumn
        in: query
        schema:
          type: string
      - x-go-name: SortDesc
        description: Sort descending
        name: sortDesc
        in: query
        schema:
          type: boolean
      - x-go-name: ShowTerminated
        name: show-terminated
        in: query
        schema:
          type: boolean
      - x-go-name: StartTimeStr
        description: Specify a start time in the format "YYYY-MM-DDTHH:MM:SSZ".
        name: start-time
        in: query
        schema:
          type: string
      - x-go-name: EndTimeStr
        description: Specify an end time in the format "YYYY-MM-DDTHH:MM:SSZ".
        name: end-time
        in: query
        schema:
          type: string
      - x-go-name: ActorFilter
        description: Filter clusters by actor type or name, e.g. "user" or "Replicated CLI".
        name: actor-filter
        in: query
        schema:
          type: string
      - x-go-name: TagFilter
        description: Filter clusters by tag, e.g. "tag1=value1".
        name: tag-filter
        in: query
        schema:
          type: string
      - x-go-name: TagSortKey
        description: 'Sort clusters by a specific key, e.g. "terminated_at" would sort by

          termination time.'
        name: tag-sort-key
        in: query
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/listClustersResponse'
        '400':
          $ref: '#/components/responses/responseErrBadRequest'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
  /cmx/credits/buy:
    post:
      description: 'Start the process of adding credits to a team. This generally

        credits a stripe checkout session'
      tags:
      - Clusters
      summary: Add credits to a team
      operationId: addClusterCredits
      responses:
        '200':
          $ref: '#/components/responses/increaseClusterCreditsResponse'
        '400':
          $ref: '#/components/responses/increaseClusterCreditsErrorResponse'
        '500':
          $ref: '#/components/responses/increaseClusterCreditsErrorResponse'
  /cmx/quotas/increase:
    post:
      security:
      - api_key: []
      description: 'Required RBAC Policy: kots/cluster/increase-quota'
      tags:
      - Clusters
      summary: Send a request to increase cluster quota
      operationId: increaseClusterQuota
      responses:
        '200':
          $ref: '#/components/responses/increaseClusterQuotaResponse'
        '400':
          $ref: '#/components/responses/increaseClusterQuotaErrorResponse'
        '401':
          $ref: '#/components/responses/responseErrUnauthorized'
        '403':
          $ref: '#/components/responses/responseErrForbidden'
        '404':
          $ref: '#/components/responses/responseErrNotFound'
      servers:
      - url: https://api.replicated.com/vendor/v3
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/IncreaseQuotaRequest'
                  x-go-name: Requests
components:
  schemas:
    ClusterExposedPort:
      type: object
      properties:
        exposed_port:
          type: integer
          format: int64
          x-go-name: ExposedPort
        protocol:
          $ref: '#/components/schemas/PortProtocol'
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterAddon:
      type: object
      properties:
        cluster_guid:
          type: string
          x-go-name: ClusterGUID
        cluster_id:
          type: string
          x-go-name: ClusterShortID
        created_at:
          type: string
          format: date-time
          x-go-name: CreatedAt
        guid:
          type: string
          x-go-name: GUID
        id:
          type: string
          x-go-name: ShortID
        object_store:
          $ref: '#/components/schemas/ClusterAddonObjectStore'
        port:
          $ref: '#/components/schemas/ClusterAddonPort'
        ready_at:
          type: string
          format: date-time
          x-go-name: ReadyAt
        status:
          $ref: '#/components/schemas/ClusterAddonStatus'
        terminated_at:
          type: string
          format: date-time
          x-go-name: TerminatedAt
        total_credits:
          type: integer
          format: int64
          x-go-name: TotalCredits
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterNode:
      type: object
      properties:
        join_command:
          type: string
          x-go-name: JoinCommand
        network_id:
          description: Used by vxlan nodes
          type: string
          x-go-name: NetworkID
        network_public_ips:
          type: array
          items:
            type: string
          x-go-name: NetworkPublicIPs
        node_group_id:
          type: string
          x-go-name: NodeGroupID
        node_index:
          type: integer
          format: int64
          x-go-name: Index
        node_type:
          $ref: '#/components/schemas/NodeType'
        ssh_endpoint:
          type: string
          x-go-name: SSHEndpoint
        ssh_key:
          type: string
          x-go-name: SSHKey
        ssh_port:
          type: integer
          format: int64
          x-go-name: SSHPort
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    NodeType:
      type: string
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    IncreaseQuotaRequest:
      type: object
      properties:
        name:
          type: string
          x-go-name: Name
        requested_value:
          type: integer
          format: int64
          x-go-name: RequestedValue
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/cluster
    ClusterDistributionStatus:
      type: object
      properties:
        enabled:
          type: boolean
          x-go-name: Enabled
        status:
          type: string
          x-go-name: Status
        status_message:
          type: string
          x-go-name: StatusMessage
        versions:
          type: string
          x-go-name: Versions
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    CreateClusterError:
      type: object
      properties:
        maxAKS:
          type: integer
          format: int64
          x-go-name: MaxAKS
        maxDiskGiB:
          type: integer
          format: int64
          x-go-name: MaxDiskGiB
        maxEKS:
          type: integer
          format: int64
          x-go-name: MaxEKS
        maxGKE:
          type: integer
          format: int64
          x-go-name: MaxGKE
        maxMemoryGiB:
          type: integer
          format: int64
          x-go-name: MaxMemoryGiB
        maxOKE:
          type: integer
          format: int64
          x-go-name: MaxOKE
        maxVCPUs:
          type: integer
          format: int64
          x-go-name: MaxVCPUs
        message:
          type: string
          x-go-name: Message
        validationError:
          $ref: '#/components/schemas/ValidationError'
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/cluster
    ClusterAddonStatus:
      type: string
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterPort:
      type: object
      properties:
        addon_guid:
          type: string
          x-go-name: AddonGUID
        addon_id:
          type: string
          x-go-name: AddonShortID
        cluster_guid:
          type: string
          x-go-name: ClusterGUID
        cluster_id:
          type: string
          x-go-name: ClusterShortID
        created_at:
          type: string
          format: date-time
          x-go-name: CreatedAt
        exposed_ports:
          type: array
          items:
            $ref: '#/components/schemas/ClusterExposedPort'
          x-go-name: ExposedPorts
        hostname:
          type: string
          x-go-name: Hostname
        is_wildcard:
          type: boolean
          x-go-name: IsWildcard
        port_name:
          type: string
          x-go-name: PortName
        state:
          $ref: '#/components/schemas/ClusterAddonStatus'
        upstream_port:
          type: integer
          format: int64
          x-go-name: UpstreamPort
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    SupportedDistributionAndVersions:
      type: object
      properties:
        instance_types:
          type: array
          items:
            type: string
          x-go-name: InstanceTypes
        nodes_max:
          type: integer
          format: int64
          x-go-name: NodesMax
        short_name:
          type: string
          x-go-name: ShortName
        status:
          $ref: '#/components/schemas/ClusterDistributionStatus'
        version_details:
          type: array
          items:
            $ref: '#/components/schemas/SupportedVersion'
          x-go-name: VersionDetails
        versions:
          type: array
          items:
            type: string
          x-go-name: Versions
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterDetail:
      type: object
      properties:
        channel_id:
          type: string
          x-go-name: ChannelId
        channel_sequence:
          type: integer
          format: int64
          x-go-name: ChannelSequence
        cloud_provider:
          type: string
          x-go-name: CloudProvider
        is_airgap:
          type: boolean
          x-go-name: IsAirgap
        is_kurl:
          type: boolean
          x-go-name: IsKurl
        kots_version:
          type: string
          x-go-name: KotsVersion
        kubernetes_distribution:
          type: string
          x-go-name: KubernetesDistribution
        kubernetes_version:
          type: string
          x-go-name: KubernetesVersion
        number_of_instances:
          type: integer
          format: int64
          x-go-name: NumberOfInstances
        version_label:
          type: string
          x-go-name: VersionLabel
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster
    NodeGroup:
      type: object
      properties:
        cluster_guid:
          type: string
          x-go-name: ClusterGUID
        created_at:
          type: string
          format: date-time
          x-go-name: CreatedAt
        credits_per_hour:
          type: integer
          format: int64
          x-go-name: CreditsPerHour
        disk_gib:
          type: integer
          format: int64
          x-go-name: DiskGiB
        id:
          type: string
          x-go-name: ID
        instance_type:
          type: string
          x-go-name: InstanceType
        is_default:
          type: boolean
          x-go-name: IsDefault
        max_node_count:
          type: integer
          format: int64
          x-go-name: MaxNodeCount
        min_node_count:
          type: integer
          format: int64
          x-go-name: MinNodeCount
        minutes_billed:
          type: integer
          format: int64
          x-go-name: MinutesBilled
        name:
          type: string
          x-go-name: Name
        node_count:
          type: integer
          format: int64
          x-go-name: NodeCount
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/ClusterNode'
          x-go-name: ClusterNodes
        running_at:
          type: string
          format: date-time
          x-go-name: RunningAt
        total_credits:
          type: integer
          format: int64
          x-go-name: TotalCredits
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    SupportedVersion:
      type: object
      properties:
        nodes_max:
          type: integer
          format: int64
          x-go-name: NodesMax
        version:
          type: string
          x-go-name: Version
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    Cluster:
      type: object
      properties:
        actor:
          $ref: '#/components/schemas/Actor'
        addons:
          type: array
          items:
            $ref: '#/components/schemas/ClusterAddon'
          x-go-name: Addons
        assigned_at:
          type: string
          format: date-time
          x-go-name: AssignedAt
        cluster_node:
          $ref: '#/components/schemas/ClusterNode'
        created_at:
          type: string
          format: date-time
          x-go-name: CreatedAt
        credits_per_hour_per_cluster:
          type: integer
          format: int64
          x-go-name: CreditsPerHourPerCluster
        distribution:
          type: string
          x-go-name: Distribution
        expires_at:
          type: string
          format: date-time
          x-go-name: ExpiresAt
        flat_fee:
          type: integer
          format: int64
          x-go-name: FlatFee
        guid:
          type: string
          x-go-name: GUID
        id:
          type: string
          x-go-name: ShortID
        installer_url:
          type: string
          x-go-name: InstallerURL
        ip_family:
          type: string
          x-go-name: IPFamily
        kubernetes_distribution:
          type: string
          x-go-name: KubernetesDistribution
        kubernetes_version:
          type: string
          x-go-name: KubernetesVersion
        last_scheduling_status:
          type: string
          x-go-name: LastSchedulingStatus
        license_id:
          type: string
          x-go-name: LicenseID
        name:
          type: string
          x-go-name: Name
        network_id:
          type: string
          x-go-name: NetworkID
        node_groups:
          type: array
          items:
            $ref: '#/components/schemas/NodeGroup'
          x-go-name: NodeGroups
        running_at:
          type: string
          format: date-time
          x-go-name: RunningAt
        status:
          $ref: '#/components/schemas/ClusterStatus'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          x-go-name: Tags
        team_id:
          type: string
          x-go-name: TeamID
        total_credits:
          type: integer
          format: int64
          x-go-name: TotalCredits
        ttl:
          type: string
          x-go-name: TTL
        version:
          type: string
          x-go-name: Version
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterAddonPort:
      type: object
      properties:
        is_wildcard:
          type: boolean
          x-go-name: IsWildcard
        name:
          type: string
          x-go-name: Name
        protocol_http:
          type: boolean
          x-go-name: ProtocolHTTP
        protocol_https:
          type: boolean
          x-go-name: ProtocolHTTPS
        protocol_ws:
          type: boolean
          x-go-name: ProtocolWS
        protocol_wss:
          type: boolean
          x-go-name: ProtocolWSS
        upstream_port:
          type: integer
          format: int64
          x-go-name: UpstreamPort
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterAddonObjectStore:
      type: object
      properties:
        bucket_name:
          type: string
          x-go-name: BucketName
        bucket_prefix:
          type: string
          x-go-name: BucketPrefix
        service_account_name:
          type: string
          x-go-name: ServiceAccountName
        service_account_name_read_only:
          type: string
          x-go-name: ServiceAccountNameReadOnly
        service_account_namespace:
          type: string
          x-go-name: ServiceAccountNamespace
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ClusterStatus:
      type: string
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    ValidationError:
      type: object
      properties:
        errors:
          type: array
          items:
            type: string
          x-go-name: Errors
        supported_distributions:
          type: array
          items:
            $ref: '#/components/schemas/SupportedDistributionAndVersions'
          x-go-name: SupportedDistributions
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cluster/types
    PortProtocol:
      type: string
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cmx/types
    CreateClusterParametersBody:
      type: object
      properties:
        additional_node_groups:
          type: array
          items:
            $ref: '#/components/schemas/CreateNodeGroupParameters'
          x-go-name: AdditionalNodeGroups
        default_node_group:
          $ref: '#/components/schemas/CreateNodeGroupParameters'
        disk_gib:
          type: integer
          format: int64
          x-go-name: DiskGiB
        instance_type:
          description: 'following params are deprecated but remain to support cli versions <= 0.72.0

            this handler will construct everything into DefaultNodeGroup and AdditionalNodeGroups

            in the Bind method'
          type: string
          x-go-name: InstanceType
        ip_family:
          type: string
          x-go-name: IPFamily
        kubernetes_distribution:
          type: string
          x-go-name: KubernetesDistribution
        kubernetes_version:
          type: string
          x-go-name: KubernetesVersion
        license_id:
          type: string
          x-go-name: LicenseID
        max_node_count:
          type: integer
          format: int64
          x-go-name: MaxNodeCount
        min_node_count:
          type: integer
          format: int64
          x-go-name: MinNodeCount
        name:
          type: string
          x-go-name: Name
        network_policy:
          type: string
          x-go-name: NetworkPolicy
        node_count:
          type: integer
          format: int64
          x-go-name: NodeCount
        node_groups:
          type: array
          items:
            $ref: '#/components/schemas/CreateNodeGroupParameters'
          x-go-name: NodeGroups
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          x-go-name: Tags
        ttl:
          type: string
          x-go-name: TTL
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/cluster
    ClusterQuota:
      type: object
      properties:
        current_value:
          type: integer
          format: int64
          x-go-name: CurrentValue
        default_value:
          type: integer
          format: int64
          x-go-name: DefaultValue
        in_use:
          type: integer
          format: int64
          x-go-name: InUse
        name:
          type: string
          x-go-name: Name
        queued:
          type: integer
          format: int64
          x-go-name: Queued
        unit:
          type: string
          x-go-name: Unit
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/cluster
    CreateNodeGroupParameters:
      type: object
      properties:
        disk_gib:
          type: integer
          format: int64
          x-go-name: DiskGiB
        instance_type:
          type: string
          x-go-name: InstanceType
        max_node_count:
          type: integer
          format: int64
          x-go-name: MaxNodeCount
        min_node_count:
          type: integer
          format: int64
          x-go-name: MinNodeCount
        name:
          type: string
          x-go-name: Name
        node_count:
          type: integer
          format: int64
          x-go-name: NodeCount
      x-go-package: github.com/replicatedhq/vandoor/handlers/vendor-api/replv3/cluster
    Tag:
      type: object
      properties:
        key:
          type: string
          x-go-name: Key
        value:
          type: string
          x-go-name: Value
      x-go-package: github.com/replicatedhq/vandoor/pkg/vendor-api/cmx/types
    Actor:
      type: object
      properties:
        description:
          type: string
          x-go-name: Description
        id:
          type: string
          x-go-name: ID
        link:
          type: string
          x-go-name: Link
        timestamp:
          type: string
          format: date-time
          x-go-name: Timestamp
        type:
          type: string
          x-go-name: Type
      x-go-package: github.com/replicatedhq/vandoor/pkg/models/types
  responses:
    responseErrNotFound:
      description: Returned on resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    increaseClusterCreditsErrorResponse:
      description: IncreaseClusterCreditsErrorResponse contains the errors returned when increasing cluster credits
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                x-go-name: Error
    deleteClusterPortResponse:
      description: DeleteClusterPortResponse contains the response to a delete cluster port request
      content:
        application/json:
          schema:
            type: object
            properties:
              addons:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterAddon'
                x-go-name: Addons
              ports:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterPort'
                x-go-name: Ports
    upgradeClusterValidationErrorResponse:
      description: UpgradeClusterValidationErrorResponse contains a bad request response when upgrading a cluster
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    responseErrForbidden:
      description: Returned if the caller does not have the needed permission
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  message:
                    type: string
                    x-go-name: Message
                  messageCode:
                    type: string
                    x-go-name: MessageCode
                x-go-name: Error
    updateClusterTTLErrorResponse:
      description: UpdateClusterTTLErrorResponse contains error information
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    increaseClusterQuotaResponse:
      description: IncreaseClusterQuotaResponse contains the response to increase cluster quota
      content:
        application/json:
          schema:
            type: object
    listClusterVersionsResponse:
      description: ListClusterVersionsResponse contains the response to list clusters
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster-versions:
                type: array
                items:
                  $ref: '#/components/schemas/SupportedDistributionAndVersions'
                x-go-name: Clusters
              error:
                type: string
                x-go-name: Error
    createClusterDryRunResponse:
      description: CreateClusterDryRunResponse contains the response to a dry run of creating a cluster
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                $ref: '#/components/schemas/CreateClusterError'
              total_cost:
                type: integer
                format: int64
                x-go-name: TotalCost
              ttl:
                type: string
                x-go-name: TTL
    getClusterStatsResponse:
      description: GetClusterStatsResponse contains the response to get clusters stats
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster_count:
                description: Total number of clusters.
                type: integer
                format: int64
                x-go-name: ClusterCount
              cost:
                description: Total cost of all clusters in cents.
                type: integer
                format: int64
                x-go-name: Cost
              credit_balance:
                description: Total remaining credit balance in cents.
                type: integer
                format: int64
                x-go-name: CreditBalance
              error:
                type: string
                x-go-name: Error
              node_minutes:
                description: Total number of node minutes.
                type: integer
                format: int64
                x-go-name: NodeMinutes
    createClusterResponse:
      description: CreateClusterResponse contains the response to create a cluster
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster:
                $ref: '#/components/schemas/Cluster'
    updateClusterTTLResponse:
      description: UpdateClusterTTLResponse contains the response to update a cluster ttl
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster:
                $ref: '#/components/schemas/Cluster'
              error:
                type: string
                x-go-name: Error
    responseErrBadRequest:
      description: Returned on bad input
      content:
        application/json:
          schema:
            type: object
            properties:
              error_code:
                description: Error code if available
                type: string
                x-go-name: ErrorCode
              message:
                description: Error message text if available
                type: string
                x-go-name: Message
    createClusterErrorResponse:
      description: CreateClusterErrorResponse contains error information
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateClusterError'
    increaseClusterCreditsResponse:
      description: IncreaseClusterCreditsResponse contains the response to increase cluster credits
      content:
        application/json:
          schema:
            type: object
            properties:
              checkout_url:
                type: string
                x-go-name: CheckoutURL
    deleteClusterResponse:
      description: DeleteClusterResponse contains the response to delete a cluster
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                x-go-name: Error
    increaseClusterQuotaErrorResponse:
      description: IncreaseClusterQuotaErrorResponse contains the errors returned when increasing cluster quota
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                x-go-name: Error
    listClustersResponse:
      description: ListClustersResponse contains the response to list clusters
      content:
        application/json:
          schema:
            type: object
            properties:
              clusters:
                type: array
                items:
                  $ref: '#/components/schemas/Cluster'
                x-go-name: Clusters
              error:
                type: string
                x-go-name: Error
              totalClusters:
                type: integer
                format: int64
                x-go-name: TotalClusters
    listClusterPortsResponse:
      description: ListClusterPortsResponse contains the response to a list cluster [prts] request
      content:
        application/json:
          schema:
            type: object
            properties:
              addons:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterAddon'
                x-go-name: Addons
              ports:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterPort'
                x-go-name: Ports
    updateClusterNodegroupResponse:
      description: UpdateClusterNodegroupResponse contains the response to update a cluster nodegroup
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster:
                $ref: '#/components/schemas/Cluster'
              error:
                type: string
                x-go-name: Error
    getClusterKubeconfigResponse:
      description: GetClusterKubeconfigResponse contains the response to get a cluster kubeconfig
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                x-go-name: Error
              kubeconfig:
                type: array
                items:
                  type: integer
                  format: uint8
                x-go-name: Kubeconfig
    createClusterPortResponse:
      description: CreateClusterPortResponse contains the response to a create cluster port request
      content:
        application/json:
          schema:
            type: object
            properties:
              addon:
                $ref: '#/components/schemas/ClusterAddon'
              port:
                $ref: '#/components/schemas/ClusterPort'
    getClusterResponse:
      description: GetClusterResponse contains the response to get cluster details
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster:
                $ref: '#/components/schemas/Cluster'
              error:
                type: string
                x-go-name: Error
    responseErrUnauthorized:
      description: Return if the caller is not authorized
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
    listClusterUsageResponse:
      description: ListClusterUsageResponse contains the response to list cluster usage
      content:
        application/json:
          schema:
            type: object
            properties:
              clusterUsageDetails:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterDetail'
                x-go-name: ClusterUsageDetails
              error:
                type: string
                x-go-name: Error
    updateClusterNodegroupErrorResponse:
      description: updateClusterNodegroupErrorResponse contains error information
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                x-go-name: Message
              validationError:
                $ref: '#/components/schemas/ValidationError'
    upgradeClusterResponse:
      description: UpgradeClusterResponse contains the response to upgrade a cluster
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster:
                $ref: '#/components/schemas/Cluster'
    updateClusterTagsResponse:
      description: UpdateClusterTagsResponse contains the response to update a cluster tags
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster:
                $ref: '#/components/schemas/Cluster'
              error:
                type: string
                x-go-name: Error
    getClusterFiltersResponse:
      description: GetClusterFiltersResponse contains the response to get clusters filters
      content:
        application/json:
          schema:
            type: object
            properties:
              earliest_cluster_date_days_ago:
                type: integer
                format: int64
                x-go-name: EarliestClusterDateDaysAgo
              max_cost:
                type: integer
                format: int64
                x-go-name: MaxCost
              max_duration_minutes:
                type: integer
                format: int64
                x-go-name: MaxDurationMinutes
              max_node_groups:
                type: integer
                format: int64
                x-go-name: MaxNodeGroups
              max_nodes:
                type: integer
                format: int64
                x-go-name: MaxNodes
              max_ttl_minutes:
                type: integer
                format: int64
                x-go-name: MaxTTLMinutes
    listClusterQuotasResponse:
      description: ListClusterQuotasResponse contains the response to list cluster quotas
      content:
        application/json:
          schema:
            type: object
            properties:
              cluster_quotas:
                type: array
                items:
                  $ref: '#/components/schemas/ClusterQuota'
                x-go-name: ClusterQuotas
  securitySchemes:
    api_key:
      type: apiKey
      name: Authorization
      in: header
