{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Manage enterprise portal users, install options, branding, documentation, email templates, and access control.",
    "title": "Vendor API V3",
    "contact": {
      "name": "Replicated, Inc.",
      "url": "http://www.replicated.com/",
      "email": "info@replicated.com"
    },
    "version": "3.0.0"
  },
  "host": "api.replicated.com",
  "basePath": "/vendor/v3",
  "paths": {
    "/app": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Create a new app for the team with the provided name.\nThe app will be available for further configuration and channel management.\n\nRequired RBAC Policy: kots/app/create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Create an app.",
        "operationId": "createApp",
        "parameters": [
          {
            "description": "App create parameters.",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "Name of the app that is to be created.",
                  "type": "string",
                  "x-go-name": "Name"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/getAppResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      }
    },
    "/app/{app_id}": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Retrieve the details of a specific app, including its metadata and a list of associated channels.\n\nRequired RBAC Policy: kots/app/[:appid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Get an app.",
        "operationId": "getAppProperties",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getAppResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "delete": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Delete the specified app from the team.\nThe app and all its associated resources will be removed.\n\nRequired RBAC Policy: kots/app/[:appid]/delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Delete an app.",
        "operationId": "deleteApp",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/responseOk"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      }
    },
    "/app/{app_id}/builtin-license-field/{field_name}": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/builtin-licensefields/update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Set a builtin license field value override for a given app and named field.",
        "operationId": "setBuiltinLicenseFieldOverride",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "FieldName",
            "description": "Field name",
            "name": "field_name",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "value"
              ],
              "properties": {
                "is_locked": {
                  "description": "Whether the field should be locked. Optional.",
                  "type": "boolean",
                  "x-go-name": "IsLocked"
                },
                "value": {
                  "description": "Value of the builtin license field that is to be overridden. Allows empty string.",
                  "type": "string",
                  "x-go-name": "Value"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/setBuiltinLicenseFieldOverrideResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "delete": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/builtin-licensefields/delete",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Delete a builtin license field override for a given app and named field.",
        "operationId": "deleteBuiltinLicenseFieldOverride",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "FieldName",
            "description": "Field name",
            "name": "field_name",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/responseNoContent"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/builtin-license-fields": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/license/create",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "List builtin license fields for a given appId, with overrides applied.",
        "operationId": "listBuiltinLicenseFields",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listBuiltinLicenseFieldsResponse"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "delete": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/builtin-licensefields/delete",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Delete all of the builtin license field overrides for a given app and revert to the builtin defaults.",
        "operationId": "deleteBuiltinLicenseFieldsOverrides",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/responses/responseNoContent"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Create a new channel for the specified app, allowing for configuration of channel properties such as name, description, and feature flags.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Creates a channel in the KOTS application.",
        "operationId": "createChannel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "description": "JSON input",
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "airgapDiffBundlesEnabled": {
                  "description": "AirgapDiffBundlesEnabled will allow building diff airgap bundles for the channel.",
                  "type": "boolean",
                  "x-go-name": "AirgapDiffBundlesEnabled"
                },
                "airgapDockerRegistryFormatEnabled": {
                  "description": "AirgapDockerRegistryFormatEnabled airgap bundles built after enabling this will use the Docker Registry format.",
                  "type": "boolean",
                  "x-go-name": "AirgapDockerRegistryFormatEnabled"
                },
                "allowPublishableKey": {
                  "description": "AllowPublishableKey when enabled, allows customers to use publishable keys to create customer records and sign up for this channel through the SDK",
                  "type": "boolean",
                  "x-go-name": "AllowPublishableKey"
                },
                "buildAirgapAutomatically": {
                  "description": "BuildAirgapAutomatically when enabled, automatically creates air gap builds for newly promoted releases in this channel.",
                  "type": "boolean",
                  "x-go-name": "BuildAirgapAutomatically"
                },
                "channelIcon": {
                  "description": "ChannelIcon icon of the channel that is to be created.",
                  "type": "string",
                  "x-go-name": "ChannelIcon"
                },
                "customHostnameOverrides": {
                  "$ref": "#/definitions/CustomHostnameOverrides"
                },
                "description": {
                  "description": "Description of the channel that is to be created.",
                  "type": "string",
                  "x-go-name": "Description"
                },
                "enterprisePartnerChannelID": {
                  "description": "Enterprise Partner Channel Id to be added to channel.",
                  "type": "string",
                  "x-go-name": "EnterprisePartnerChannelID"
                },
                "isDefault": {
                  "description": "IsDefault indicates if this channel is the default channel for the application.",
                  "type": "boolean",
                  "x-go-name": "IsDefault"
                },
                "name": {
                  "type": "string",
                  "x-go-name": "Name"
                },
                "semverRequired": {
                  "description": "SemverRequired when enabled, will cause an error when non semver values are used for new releases",
                  "type": "boolean",
                  "x-go-name": "SemverRequired"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/getChannelResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Retrieve the details of a specific channel within an app, including its metadata and optionally its releases.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Get a channel.",
        "operationId": "getChannelProperties",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "x-go-name": "ExcludeReleases",
            "description": "Exclude releases",
            "name": "excludeReleases",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "IncludeSecuritySummary",
            "description": "Include security summary",
            "name": "includeSecuritySummary",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getChannelResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "put": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Update the properties of an existing channel, such as its name, description, and feature flags.\nAll properties must be provided in the request body.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Updates an app channel.",
        "operationId": "updateChannel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Channel update parameters.",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "airgapDiffBundlesEnabled": {
                  "description": "AirgapDiffBundlesEnabled will allow building diff airgap bundles for the channel.",
                  "type": "boolean",
                  "x-go-name": "AirgapDiffBundlesEnabled"
                },
                "airgapDockerRegistryFormatEnabled": {
                  "description": "AirgapDockerRegistryFormatEnabled airgap bundles built after enabling this will use the Docker Registry format.",
                  "type": "boolean",
                  "x-go-name": "AirgapDockerRegistryFormatEnabled"
                },
                "allowPublishableKey": {
                  "description": "AllowPublishableKey when enabled, allows customers to use publishable keys to create customer records and sign up for this channel through the SDK",
                  "type": "boolean",
                  "x-go-name": "AllowPublishableKey"
                },
                "buildAirgapAutomatically": {
                  "description": "BuildAirgapAutomatically when enabled, automatically creates air gap builds for newly promoted releases in this channel.",
                  "type": "boolean",
                  "x-go-name": "BuildAirgapAutomatically"
                },
                "channelIcon": {
                  "description": "Icon of the channel that is to be updated.",
                  "type": "string",
                  "x-go-name": "ChannelIcon"
                },
                "customHostnameOverrides": {
                  "$ref": "#/definitions/CustomHostnameOverrides"
                },
                "description": {
                  "description": "Description of the channel that is to be updated.",
                  "type": "string",
                  "x-go-name": "Description"
                },
                "isDefault": {
                  "description": "IsDefault indicates if this channel is the default channel for the application.",
                  "type": "boolean",
                  "x-go-name": "IsDefault"
                },
                "name": {
                  "description": "Name of the channel that is to be updated.",
                  "type": "string",
                  "x-go-name": "Name"
                },
                "semverRequired": {
                  "description": "SemverRequired when enabled, will cause an error when non semver values are used for new releases",
                  "type": "boolean",
                  "x-go-name": "SemverRequired"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getChannelResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      },
      "delete": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Archives the specified channel, making it unavailable for new releases or deployments.\nArchived channels can no longer be used but are retained for historical reference.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/archive",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Archives an app channel.",
        "operationId": "archiveChannel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/responseOk"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      },
      "patch": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Allow partial updates to a channel's properties. Only the fields provided in the request body will be updated.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Patches an app channel.",
        "operationId": "patchChannel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Channel patch parameters.",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "airgapDiffBundlesEnabled": {
                  "description": "AirgapDiffBundlesEnabled will allow building diff airgap bundles for the channel.",
                  "type": "boolean",
                  "x-go-name": "AirgapDiffBundlesEnabled"
                },
                "airgapDockerRegistryFormatEnabled": {
                  "description": "AirgapDockerRegistryFormatEnabled airgap bundles built after enabling this will use the Docker Registry format.",
                  "type": "boolean",
                  "x-go-name": "AirgapDockerRegistryFormatEnabled"
                },
                "allowPublishableKey": {
                  "description": "AllowPublishableKey when enabled, allows customers to use publishable keys to create customer records and sign up for this channel through the SDK",
                  "type": "boolean",
                  "x-go-name": "AllowPublishableKey"
                },
                "buildAirgapAutomatically": {
                  "description": "BuildAirgapAutomatically when enabled, automatically creates air gap builds for newly promoted releases in this channel.",
                  "type": "boolean",
                  "x-go-name": "BuildAirgapAutomatically"
                },
                "channelIcon": {
                  "description": "Icon of the channel that is to be updated.",
                  "type": "string",
                  "x-go-name": "ChannelIcon"
                },
                "customHostnameOverrides": {
                  "$ref": "#/definitions/CustomHostnameOverrides"
                },
                "description": {
                  "description": "Description of the channel that is to be updated.",
                  "type": "string",
                  "x-go-name": "Description"
                },
                "isDefault": {
                  "description": "IsDefault indicates if this channel is the default channel for the application.",
                  "type": "boolean",
                  "x-go-name": "IsDefault"
                },
                "name": {
                  "description": "Name of the channel that is to be updated.",
                  "type": "string",
                  "x-go-name": "Name"
                },
                "semverRequired": {
                  "description": "SemverRequired when enabled, will cause an error when non semver values are used for new releases",
                  "type": "boolean",
                  "x-go-name": "SemverRequired"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getChannelResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/adoption": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Returns a report of version adoption rates for a channel, grouped by day or week, and filtered by license type and date range.\nThe report helps track how quickly customers are upgrading to new releases.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Get adoption rates for an app channel.",
        "operationId": "getChannelAdoptionReport",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "StartDate",
            "description": "Report start date in YYYY-MM-DD format",
            "name": "startDate",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "EndDate",
            "description": "Report end date in YYYY-MM-DD format",
            "name": "endDate",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "LicenseTypes",
            "description": "License types to include",
            "name": "licenseTypes",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Interval",
            "description": "Interval to group the report by. Valid values are \"1d\" and \"1w\".  Default is 1d",
            "name": "interval",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getChannelAdoptionReportResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/airgap/download-url": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Returns a download URL for the airgap bundle associated with the active release on the specified channel. Optionally, a specific channel sequence can be requested via query parameter.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/airgap/download-url",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "Get airgap bundle download URL the active release on the channel.",
        "operationId": "channelReleaseAirgapBundleURL",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ChannelSequence",
            "description": "If provided, the airgap bundle download URL for the given channel sequence will be returned",
            "name": "channelSequence",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/channelReleaseAirgapBundleURLResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/delete": {
      "delete": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Permanently deletes the specified channel, removing it from the database.\nThis action is irreversible. The channel cannot have any customers assigned to it.\nDefault channels and system channels cannot be deleted.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Permanently deletes an app channel.",
        "operationId": "deleteChannel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/responseOk"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/embeddedcluster/release": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return a .tgz file containing the embedded cluster release for the specified channel and app.\nOptional query parameters allow specifying a channel sequence, a customer license file to include, and whether to include an airgap bundle.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/embeddedcluster/release",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Get an embedded cluster release.",
        "operationId": "getEmbeddedClusterRelease",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ChannelSequence",
            "description": "If provided, downloads the embedded cluster release for the given channel sequence.",
            "name": "channelSequence",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "If provided, includes the customer's license file in the embedded cluster release.",
            "name": "customerId",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Airgap",
            "description": "If provided, includes the airgap bundle in the embedded cluster release.",
            "name": "airgap",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "Include",
            "description": "If provided, only the specified components are included in the release.\nComma-separated list of component names: binary, release, license, ec-online-bundle, app-airgap-bundle, ec-airgap-bundle.\nWhen omitted, all components are included.",
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/airgap/build": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Triggers a build of an airgap bundle for the specified release in a channel. The airgap bundle can be used for offline installations.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/airgap",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "Trigger airgap build for a channel's release.",
        "operationId": "channelReleaseAirgapBuild",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/channelReleaseAirgapBuildResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/airgap/cancel": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Cancels an in-progress airgap build for the specified release in a channel.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/airgap",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "Cancel airgap build for a channel's release.",
        "operationId": "channelReleaseAirgapCancel",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/channelReleaseAirgapCancelResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/airgap/status": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Returns the current airgap build status for the specified release in a channel.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/airgap/status/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "Get airgap build status for a channel's release.",
        "operationId": "channelReleaseAirgapStatus",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/channelReleaseAirgapStatusResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/demote": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Demote a specific release from a channel, making it unavailable for new installations or upgrades via that channel.\nDemoted releases can be un-demoted if needed.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/release/[:releasesequence]/demote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "releases"
        ],
        "summary": "Demote a channel release.",
        "operationId": "demoteChannelRelease",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          },
          {
            "description": "Demote channel release parameters.",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/demoteChannelRelease"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/install-commands": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return the install commands for a specific release in a channel, including commands for embedded and existing clusters.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "Get install commands for a specific channel release.",
        "operationId": "getChannelReleaseInstallCommands",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getChannelReleaseInstallCommandsResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/undemote": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Restore a previously demoted release to a channel, making it available again for installations and upgrades via that channel.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/release/[:releasesequence]/undemote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "releases"
        ],
        "summary": "Un-demote a channel release.",
        "operationId": "unDemoteChannelRelease",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          },
          {
            "description": "UnDemote channel release parameters.",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/unDemoteChannelRelease"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/release/{sequence}/update-properties": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Updates the properties (such as version label, release notes, and required status) for a specific release in a channel.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "Update properties for a channel release.",
        "operationId": "updateChannelRelease",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Sequence",
            "description": "Release identifier",
            "name": "sequence",
            "in": "path",
            "required": true
          },
          {
            "description": "Update release parameters.",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "isRequired": {
                  "description": "Prevent this release from being skipped during upgrades",
                  "type": "boolean",
                  "x-go-name": "IsRequired"
                },
                "releaseNotes": {
                  "description": "The updated release notes",
                  "type": "string",
                  "x-go-name": "ReleaseNotes"
                },
                "versionLabel": {
                  "description": "The new version label to use",
                  "type": "string",
                  "x-go-name": "VersionLabel"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/updateChannelRelease"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/releases": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return a paginated list of releases for a specific channel within an app, including release metadata and status.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/releases/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channelReleases"
        ],
        "summary": "List releases for an app channel.",
        "operationId": "listChannelReleases",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Page size",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "CurrentPage",
            "description": "Current page",
            "name": "currentPage",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "ExcludeDemoted",
            "description": "Exclude demoted releases",
            "name": "excludeDemoted",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "IncludeSecuritySummary",
            "description": "Include security summary",
            "name": "includeSecuritySummary",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "VersionLabel",
            "description": "Filter by version label (partial match)",
            "name": "versionLabel",
            "in": "query"
          },
          {
            "enum": [
              "online",
              "airgap"
            ],
            "type": "string",
            "x-go-name": "IncludeInstallerImages",
            "description": "Include EC installer images in the images list. Empty = app images only (default).",
            "name": "includeInstallerImages",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listChannelReleasesResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channel/{channel_id}/trends": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return historical and current trends for customer instances on a specific channel, such as median instance age, unique versions, active instances, and upgrade statistics.\nThe interval for trend comparison is specified via query parameter.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "Get customer instance trends for an app channel.",
        "operationId": "getChannelInstanceTrends",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelID",
            "description": "Channel identifier",
            "name": "channel_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Interval",
            "name": "Interval",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getChannelInstanceTrendsResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/channels": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Returns a paginated list of channels for the specified app, with optional filtering by channel name. Channel details and associated releases can be included or excluded using query parameters.\n\nRequired RBAC Policy: kots/app/[:appid]/channel/[:channelid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "channels"
        ],
        "summary": "List channels for an app.",
        "operationId": "listChannels",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ChannelName",
            "description": "filter by channel name",
            "name": "channelName",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "ExcludeDetail",
            "description": "Exclude detail",
            "name": "excludeDetail",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "ExcludeAdoption",
            "description": "Exclude adoption",
            "name": "excludeAdoption",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Page size",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "CurrentPage",
            "description": "Current page",
            "name": "currentPage",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ChannelNameFilter",
            "description": "Channel name filter",
            "name": "channelNameFilter",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "IncludeSecuritySummary",
            "description": "Include security summary",
            "name": "includeSecuritySummary",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listChannelsResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/cluster-usage": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "List cluster distribution/version usage by customers.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "clusters"
        ],
        "summary": "List cluster usage.",
        "operationId": "listClusterUsage",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listClusterUsageResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/custom-hostname": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Add a new custom hostname for a specific app and service (registry, proxy, download portal, or replicated app).\n\nRequired RBAC Policy: kots/app/[:appid]/customhostname/create",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customHostnames"
        ],
        "summary": "Create a custom hostname",
        "operationId": "createCustomHostname",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "downloadPortal": {
                  "$ref": "#/definitions/CreateCustomHostnameParams"
                },
                "proxy": {
                  "$ref": "#/definitions/CreateCustomHostnameParams"
                },
                "registry": {
                  "$ref": "#/definitions/CreateCustomHostnameParams"
                },
                "replicatedApp": {
                  "$ref": "#/definitions/CreateCustomHostnameParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/createCustomHostnameResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "delete": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Remove a custom hostname from a specific app and service (registry, proxy, download portal, or replicated app).\n\nRequired RBAC Policy: kots/app/[:appid]/customhostname/delete",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customHostnames"
        ],
        "summary": "Delete a custom hostname",
        "operationId": "deleteCustomHostname",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "downloadPortal": {
                  "$ref": "#/definitions/DeleteCustomHostnameParams"
                },
                "proxy": {
                  "$ref": "#/definitions/DeleteCustomHostnameParams"
                },
                "registry": {
                  "$ref": "#/definitions/DeleteCustomHostnameParams"
                },
                "replicatedApp": {
                  "$ref": "#/definitions/DeleteCustomHostnameParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/deleteCustomHostnameResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/custom-hostname/default/set": {
      "put": {
        "description": "Set the default custom hostname for a specific app and service (registry, proxy, download portal, or replicated app).\nThe default hostname is used when no other custom hostname is specified for a channel.\n\nRequired RBAC Policy: kots/app/[:appid]/customhostname/default/set",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customHostnames"
        ],
        "summary": "Set the default hostname",
        "operationId": "setDefaultHostname",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "downloadPortal": {
                  "$ref": "#/definitions/SetDefaultHostnameParams"
                },
                "proxy": {
                  "$ref": "#/definitions/SetDefaultHostnameParams"
                },
                "registry": {
                  "$ref": "#/definitions/SetDefaultHostnameParams"
                },
                "replicatedApp": {
                  "$ref": "#/definitions/SetDefaultHostnameParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/setDefaultHostnameResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/custom-hostname/default/unset": {
      "put": {
        "description": "Remove the default custom hostname for a specific app and service (registry, proxy, download portal, or replicated app).\nAfter unsetting, the system will fall back to the replicated hostname for that service if a custom hostname is not set for a channel.\n\nRequired RBAC Policy: kots/app/[:appid]/customhostname/default/unset",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customHostnames"
        ],
        "summary": "Unset the default hostname",
        "operationId": "unsetDefaultHostname",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "downloadPortal": {
                  "$ref": "#/definitions/UnsetDefaultHostnameParams"
                },
                "proxy": {
                  "$ref": "#/definitions/UnsetDefaultHostnameParams"
                },
                "registry": {
                  "$ref": "#/definitions/UnsetDefaultHostnameParams"
                },
                "replicatedApp": {
                  "$ref": "#/definitions/UnsetDefaultHostnameParams"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/unsetDefaultHostnameResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/custom-hostnames": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return all custom hostnames configured for the specified app, grouped by service (registry, proxy, download portal, replicated app).\n\nRequired RBAC Policy: kots/app/[:appid]/customhostname/list",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customHostnames"
        ],
        "summary": "List custom hostnames for an app.",
        "operationId": "listCustomHostnames",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listCustomHostnamesResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer/{customer_id}/instance/{instance_id}/running-images": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "instances"
        ],
        "summary": "Get running images for an instance.",
        "operationId": "getCustomerInstanceRunningImages",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "InstanceID",
            "description": "Instance identifier",
            "name": "instance_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Optional cluster identifier to disambiguate instance_id",
            "name": "ClusterID",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getCustomerInstanceRunningImagesResponse"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer/{customer_id}/instance/{instance_id}/scan": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Retrieve security scan summaries for all images reported by a specific instance.\nThe response contains scan summaries in the same shape as the channel-based endpoint.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "instances"
        ],
        "summary": "Get security scan summaries for an instance.",
        "operationId": "getCustomerInstanceScan",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "InstanceID",
            "description": "Instance identifier",
            "name": "instance_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Optional cluster identifier to disambiguate instance_id",
            "name": "ClusterID",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getCustomerInstanceScan"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer/{customer_id}/instance/{instance_id}/scan/trigger": {
      "post": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Sends a request to SecureBuild to scan a specific image from a customer instance.\nThis is typically used when no SBOM exists for an image.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "instances"
        ],
        "summary": "Trigger a security scan for an instance image.",
        "operationId": "triggerCustomerInstanceScan",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "InstanceID",
            "description": "Instance identifier",
            "name": "instance_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Request body for triggering a scan",
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerCustomerInstanceScanBody"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/triggerCustomerInstanceScan"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer/{customer_id}/instance/{instance_id}/tags": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Retrieve the tags associated with a specific customer instance, allowing teams to view metadata or categorization applied to that instance.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "instances"
        ],
        "summary": "Get tags for a instance.",
        "operationId": "getCustomerInstanceTags",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "InstanceID",
            "description": "Instance identifier",
            "name": "instance_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Optional cluster identifier to disambiguate instance_id",
            "name": "ClusterID",
            "in": "query"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/getCustomerInstanceTagsResponse"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "put": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Create or update tags for a specific customer instance.\nTags can be used for categorization, filtering, or metadata. Keys with empty values will remove the tag.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/update",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "instances"
        ],
        "summary": "Create or update the tags for an instance.",
        "operationId": "updateCustomerInstanceTags",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "InstanceID",
            "description": "Instance identifier",
            "name": "instance_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Requried: true",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "cluster_id": {
                  "description": "Optional cluster identifier to disambiguate instance_id",
                  "type": "string",
                  "x-go-name": "ClusterID"
                },
                "tags": {
                  "description": "Upsert (create or update) instance tags. A key with an empty value will result in a delete operation for the key=value pair.",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/InstanceTag"
                  },
                  "x-go-name": "Tags"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/updateCustomerInstanceTagsResponse"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer/{customer_id}/instances": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return a list of all instances associated with a specific customer and app, including instance metadata and status.\nUseful for tracking deployments and usage per customer.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "instances"
        ],
        "summary": "List customer instances.",
        "operationId": "listCustomerInstances",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listCustomerInstancesResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer/{customer_id}/license-download": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Retrieve the license for a specific customer and app, returning it as a YAML file suitable for use with KOTS installations.\nThe license includes all entitlements and metadata required for installation and updates.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "text/yaml",
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customers"
        ],
        "summary": "Download a customer license file as YAML.",
        "operationId": "downloadLicense",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "CustomerID",
            "description": "Customer identifier",
            "name": "customer_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/downloadLicenseResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customer_instances": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Generate and return a report of all customer instances for a specific app, in either CSV or JSON format.\nIncludes instance metadata and supports filtering by customer IDs and archived status.\n\nRequired RBAC Policy: kots/app/[:appid]/read (app-level gate; results are also\nfiltered per-customer by kots/app/[:appid]/license/[:licenseid]/read)",
        "produces": [
          "file"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Export customer instances for an app as CSV or JSON.",
        "operationId": "listAppCustomerInstances",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SortColumn",
            "description": "Sort column",
            "name": "sortColumn",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortDesc",
            "description": "Sort descending",
            "name": "sortDesc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Format",
            "description": "Format to export: csv or json",
            "name": "format",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "CustomerIds",
            "description": "Comma separated array of customer ids",
            "name": "customerIds",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "IncludeArchived",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Customer-level filters",
            "name": "Query",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "IncludeActive",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "IncludeInactive",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "IncludeArchivedCustomers",
            "in": "query"
          },
          {
            "type": "string",
            "name": "LicenseType",
            "in": "query"
          },
          {
            "type": "string",
            "name": "ChannelName",
            "in": "query"
          },
          {
            "type": "string",
            "name": "AdoptionRateFilter",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Instance-level filters",
            "name": "IncludeArchivedInstances",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listAppCustomerInstancesResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customers": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Return a paginated list of customers for a specific app, with optional filtering by name, test status, and expiration.\nIncludes customer metadata and instance information.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "customers"
        ],
        "summary": "List customers for an app.",
        "operationId": "listAppCustomers",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "default": 20,
            "x-go-name": "PageSize",
            "description": "Page size",
            "name": "pageSize",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "CurrentPage",
            "description": "Current page",
            "name": "currentPage",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortColumn",
            "description": "Sort column",
            "name": "sortColumn",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortDesc",
            "description": "Sort descending",
            "name": "sortDesc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "CustomerName",
            "description": "filter by customer name",
            "name": "customerName",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "IncludeTest",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "name": "ExpiresBefore",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listCustomersResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/customers_csv": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Generate and return a CSV report of all customers for a specific app, including metadata and instance information.\n\nRequired RBAC Policy: kots/app/[:appid]/license/[:licenseid]/read",
        "produces": [
          "file"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "apps"
        ],
        "summary": "Get customer report in CSV format.",
        "operationId": "listAppCustomersCsv",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "SortColumn",
            "description": "Sort column",
            "name": "sortColumn",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortDesc",
            "description": "Sort descending",
            "name": "sortDesc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "CustomerName",
            "description": "filter by customer name",
            "name": "customerName",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/listAppCustomersCsvResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          }
        }
      }
    },
    "/app/{app_id}/enterprise-portal/access": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/enterprise-portal/access/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "enterprisePortal"
        ],
        "summary": "Get download portal access settings",
        "operationId": "getEnterprisePortalAccess",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getEnterprisePortalAccessResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "put": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/{app_id}/enterprise-portal/access/update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "enterprisePortal"
        ],
        "summary": "Update download portal access settings",
        "operationId": "updateEnterprisePortalAccess",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "description": "JSON input",
            "name": "Body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "auto_invite_to_ep_on_create": {
                  "description": "Whether to automatically invite the customer email to Enterprise Portal on customer creation.\nRequires download_portal_disabled to be true.",
                  "type": "boolean",
                  "x-go-name": "AutoInviteToEpOnCreate"
                },
                "download_portal_disabled": {
                  "description": "Whether the download portal is disabled. When set to false, auto_invite_to_ep_on_create is automatically disabled.",
                  "type": "boolean",
                  "x-go-name": "DownloadPortalDisabled"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/updateEnterprisePortalAccessResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/enterprise-portal/branding": {
      "get": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/[:appid]/enterprise-portal/branding/read",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "enterprisePortal"
        ],
        "summary": "Get custom branding for the enterprise portal",
        "operationId": "getEnterprisePortalBranding",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getEnterprisePortalBrandingResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      },
      "put": {
        "security": [
          {
            "api_key": []
          }
        ],
        "description": "Required RBAC Policy: kots/app/{app_id}/enterprise-portal/branding/update",
        "produces": [
          "application/json"
        ],
        "schemes": [
          "https"
        ],
        "tags": [
          "enterprisePortal"
        ],
        "summary": "Update custom branding for the enterprise portal",
        "operationId": "updateEnterprisePortalBranding",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AppID",
            "description": "App identifier",
            "name": "app_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Update custom branding for the enterprise portal",
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "branding"
              ],
              "properties": {
                "activeEnterprisePortalTemplate": {
                  "description": "Active default template name: \"docs\", \"custom\", or empty",
                  "type": "string",
                  "x-go-name": "ActiveEnterprisePortalTemplate"
                },
                "branding": {
                  "description": "Branding object that will be parsed by the enterprise portal",
                  "type": "string",
                  "x-go-name": "Branding"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/getEnterprisePortalBrandingResponse"
          },
          "400": {
            "$ref": "#/responses/responseErrBadRequest"
          },
          "401": {
            "$ref": "#/responses/responseErrUnauthorized"
          },
          "403": {
            "$ref": "#/responses/responseErrForbidden"
          },
          "404": {
            "$ref": "#/responses/responseErrNotFound"
          }
        }
      }
    },
    "/app/{app_id}/enterprise-portal/content-repos/{repo_id}/template-updates/acknowledge": {
      "post": {
        "security": [
          {
            "api_key": []
          },
          {
            "Required RBAC Policy": []
          }
        ],
        "consumes": [
[...]
